<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.start}"></title>
    <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{application.amendment}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/{caseContext}/sections/opponents(caseContext=${caseContext.pathValue})}" class="govuk-back-link" th:text="#{site.cancelAndReturnToOpponents}"></a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/{caseContext}/sections/opponents/organisation/search(caseContext=${caseContext.pathValue})}" th:object="${organisationSearchCriteria}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span th:if="${caseContext.isApplication()}" class="govuk-caption-l" th:text="#{application.create}"></span>
            <span th:if="${caseContext.isAmendment()}" class="govuk-caption-l" th:text="#{application.amendment}"></span>
            <h1 class="govuk-heading-l">
                Opponents and other parties
            </h1>
            <p class="govuk-body-l">
                Please enter the organisation details in the fields provided to perform your search.
            </p>
            <h1 class="govuk-heading-m">
                Organisation search
            </h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:replace="~{partials/forms :: textInput('name', 'Organisation name', 'govuk-input--width-20')}"></div>
                    <div th:replace="~{partials/forms :: dropdown('type', 'Organisation type (optional)', ${organisationTypes}, 'code', 'description', false)}"></div>
                    <div th:replace="~{partials/forms :: textInput('city', 'City (optional)', 'govuk-input--width-20')}"></div>
                    <div th:replace="~{partials/forms :: textInput('postcode', 'Postcode (optional)', 'govuk-input--width-20')}"></div>

                    <button class="govuk-button" data-module="govuk-button">
                        Search
                    </button>
                    <a class="govuk-button govuk-button--secondary"
                       data-module="govuk-button"
                       th:href="@{/{caseContext}/sections/opponents/organisation/create(caseContext=${caseContext.pathValue})}">
                        <span th:text="#{application.opponents.createNewOrganisation}"></span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
