<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.start}"></title>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{application.amendment}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/sections/opponents(caseContext=${caseContext.pathValue})}" class="govuk-back-link" th:text="#{site.cancelAndReturnToOpponents}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/sections/opponents/{opponentId}/remove(caseContext=${caseContext.pathValue},opponentId=${opponent.id})}" method="post">
      <h1 class="govuk-heading-l">
        Remove opponent - <span th:text="${opponent.partyName}"></span>
      </h1>
      <p class="govuk-body-l">
        Are you sure you want to remove <span th:text="${opponent.partyName}"></span>?
      </p>
      <p class="govuk-body-l">Please click 'Confirm' to delete
        this information. Otherwise, click 'Cancel and return to opponents and other parties' to go back.
      </p>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>
