<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Search for an organisation</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/sections/opponents}" class="govuk-back-link">Cancel and return to opponents and other parties</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/opponents/organisation/shared/create}" th:object="${opponent}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">Search for an organisation</span>
            <h1 class="govuk-heading-l">
                Opponents and other parties
            </h1>
            <p class="govuk-body-l">
                Please enter the details for any opponents and other parties involved in this application/amendment.
            </p>
            <div th:replace="~{application/partials/opponent-fragments :: sharedOrganisationSummary}"></div>
            <div th:replace="~{application/partials/opponent-fragments :: sharedOrganisationConfirmation}"></div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>