<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Shared by the bill and the payment on account: the legacy PUI runs one declaration screen for
       both, differing only in which assessment supplies the bill type. billingContext carries that,
       and its path value doubles as the message key segment. -->
  <title th:text="|#{service.name} - #{${billingContext.messagePrefix + '.declaration.title'}}|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{${billingContext.detailsUrl}}" class="govuk-back-link"
       th:text="#{site.back}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{${billingContext.declarationUrl}}"
          th:object="${summarySubmissionFormData}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{billing.pageCaption}"></span>
      <h1 class="govuk-heading-l"
          th:text="#{${billingContext.messagePrefix + '.declaration.heading'}}"></h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p class="govuk-body-l"
             th:text="#{${billingContext.messagePrefix + '.declaration.intro'}}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <span class="govuk-fieldset__heading"
                      th:text="#{${billingContext.messagePrefix + '.declaration.legend'}}"></span>
              </legend>
              <div class="govuk-checkboxes">
                <div th:each="declarationOption, stat : *{declarationOptions}">
                  <!-- A hidden field per option so every declaration binds even when its box is
                       unticked (an unchecked checkbox submits nothing on its own); this lets the
                       validator require all boxes to be ticked, as the legacy PUI does. -->
                  <input type="hidden"
                         th:name="'declarationOptions[' + ${stat.index} + '].fieldValueDisplayValue'"
                         th:value="${declarationOption.fieldValueDisplayValue}" />
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input"
                           th:id="'declaration_' + ${stat.index}"
                           th:name="'declarationOptions[' + ${stat.index} + '].checked'"
                           type="checkbox"
                           th:checked="${declarationOption.checked}" />
                    <label class="govuk-label govuk-checkboxes__label"
                           th:for="'declaration_' + ${stat.index}">
                      <span th:text="${declarationOption.fieldValueDisplayValue}"></span>
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button"
                data-prevent-double-click="true"
                th:id="'submit-' + ${billingContext.pathValue} + '-declaration-button'"
                th:text="#{${billingContext.messagePrefix + '.submit'}}"></button>
        <a th:href="@{${billingContext.detailsUrl}}" class="govuk-link" th:text="#{site.back}"></a>
      </div>
    </form>
  </div>
</div>
</body>
</html>
