<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<!--Client summary fragment-->
<div th:fragment="clientSummaryFragment"
     th:with="baseLinkUrl=*{action == 'edit'} ? @{/application/sections/client} :  @{/application/client}"
     class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" th:text="#{client.basic}"></h2>
        <ul class="govuk-summary-card__actions">
          <li th:if="*{action == 'edit'}" class="govuk-summary-card__action">
            <a class="govuk-link"
               th:href="${baseLinkUrl} + '/details/deceased'"
               th:text="#{client.summary.deceased}">
            </a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link"
               th:href="${baseLinkUrl} + '/details/basic'"
               th:text="#{client.summary.basic}"></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.title}, ${contactTitle.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.surname}, *{basicDetails.surname})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.firstName}, *{basicDetails.firstName})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.middleName}, *{basicDetails.middleNames})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.surnameAtBirth}, *{basicDetails.surnameAtBirth})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.dob}, *{basicDetails.dateOfBirth})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.nsi}, *{basicDetails.nationalInsuranceNumber})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.homeOfficeNumber}, *{basicDetails.homeOfficeNumber})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.gender}, ${gender.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.maritalStatus}, ${maritalStatus.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo(#{person.vulnerable}, *{basicDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo(#{person.highProfile}, *{basicDetails.highProfileClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo(#{person.litigant}, *{basicDetails.vexatiousLitigant})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo(#{person.mental}, *{basicDetails.mentalIncapacity})}"></div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" th:text="#{client.contact}"></h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link"
               th:href="${baseLinkUrl} + '/details/contact'"
               th:text="#{client.summary.contact}">
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{contact.phoneHome}, *{contactDetails.telephoneHome}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{contact.phoneWork}, *{contactDetails.telephoneWork}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{contact.phoneMobile}, *{contactDetails.telephoneMobile}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{contact.email}, *{contactDetails.emailAddress}, *{contactDetails.vulnerableClient})}"></div>

          <!-- Display password differently based on whether you are editing or creating the client -->
          <th:block th:if="*{action == 'create'}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{contact.password}, '*******')}"></div>
          </th:block>
          <th:block th:if="*{action == 'edit'}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{contact.password}, #{contact.password.placeholder})}"></div>
          </th:block>

          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{contact.passwordReminder}, *{contactDetails.passwordReminder})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{contact.correspondenceMethod}, ${correspondenceMethod.description}, *{contactDetails.vulnerableClient})}"></div>

          <th:block th:if="${correspondenceLanguage}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{contact.correspondenceLanguage}, ${correspondenceLanguage.description})}"></div>
          </th:block>
          <th:block th:unless="${correspondenceLanguage}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{contact.correspondenceLanguage}, '')}"></div>
          </th:block>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" th:text="#{client.address}"></h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link"
               th:href="${baseLinkUrl} + '/details/address'"
               th:text="#{client.summary.address}">
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.country}, ${country.description}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.house}, *{addressDetails.houseNameNumber}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.postcode}, *{addressDetails.postcode}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.address1}, *{addressDetails.addressLine1}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.address2}, *{addressDetails.addressLine2}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.city}, *{addressDetails.cityTown}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability(#{address.county}, *{addressDetails.county}, *{addressDetails.vulnerableClient})}"></div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title" th:text="#{client.summary.opportunities}"></h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link"
               th:href="${baseLinkUrl} + '/details/equal-opportunities-monitoring'"
               th:text="#{client.summary.opportunities}">
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{client.opportunities.ethnicity}, ${ethnicity.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{client.opportunities.disability}, ${disability.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{client.opportunities.specialConsiderations}, *{monitoringDetails.specialConsiderations})}"></div>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--Client basic details fragment-->
<div th:fragment="clientBasicFragment"
     class="govuk-grid-row">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <div class="govuk-grid-column-two-thirds">
    <div th:replace="~{partials/forms :: dropdown('title', #{person.title}, ${titles}, 'code', 'description', false)}"></div>
    <div th:replace="~{partials/forms :: textInput('surname', #{person.surname}, 'govuk-input--width-20')}"></div>

    <p th:if="*{clientFlowFormAction == 'create'}" class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.firstName}"></span>
      <span th:text="*{firstName}"></span>
      <input type="hidden" id="firstName" name="firstName" th:value="*{firstName}">
    </p>
    <div th:replace="~{partials/forms :: textInput('middleNames', #{site.optional(#{person.middleName})}, 'govuk-input--width-20')}"></div>

    <th:block th:if="*{clientFlowFormAction == 'edit'}">
      <div th:replace="~{partials/forms :: textInput('firstName', #{person.firstName}, 'govuk-input--width-20')}"></div>
    </th:block>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.surnameAtBirth}"></span>
      <span th:text="*{surnameAtBirth}"></span>
      <input type="hidden" id="surnameAtBirth" name="surnameAtBirth" th:value="*{surnameAtBirth}">
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.dob.detailed}"></span>
      <span th:text="*{dateOfBirth}"></span>
      <input type="hidden" id="dateOfBirth" name="dateOfBirth" th:value="*{dateOfBirth}">
    </p>

    <div th:if="*{clientFlowFormAction == 'create'}">
      <div th:replace="~{partials/forms :: dropdown('countryOfOrigin', #{person.countryOfOrigin}, ${countries}, 'code', 'description', false)}"></div>
    </div>
    <p th:if="*{clientFlowFormAction == 'edit'}" class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.countryOfOrigin}"></span>
      <span th:text="*{countryOfOrigin}"></span>
      <input type="hidden" id="countryOfOrigin" name="countryOfOrigin" th:value="*{countryOfOrigin}">
    </p>

    <!-- Show paragraph if nationalInsuranceNumber exists -->
    <p class="govuk-body" th:if="*{clientFlowFormAction == 'create' && nationalInsuranceNumber != null && !nationalInsuranceNumber.isEmpty()}" >
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          National Insurance Number
      </span>
      <span th:text="*{nationalInsuranceNumber}"></span>
      <input type="hidden" id="nationalInsuranceNumber" name="nationalInsuranceNumber" th:value="*{nationalInsuranceNumber}">
    </p>

    <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'edit' || nationalInsuranceNumber == null || nationalInsuranceNumber.isEmpty()}">
      <div th:replace="~{partials/forms :: textInput('nationalInsuranceNumber', #{site.optional(#{person.nsi})}, 'govuk-input--width-20')}"></div>
      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{details.nsi}"
                     th:text="#{details.nsi.text}"/>
    </div>

    <!-- Show paragraph if homeOfficeNumber exists -->
    <p class="govuk-body" th:if="*{clientFlowFormAction == 'create' && homeOfficeNumber != null && !homeOfficeNumber.isEmpty()}">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.homeOfficeNumber}"></span>
      <span th:text="*{homeOfficeNumber}"></span>
      <input type="hidden" id="homeOfficeNumber" name="homeOfficeNumber" th:value="*{homeOfficeNumber}">
    </p>

    <!-- Show input field if homeOfficeNumber does not exist -->
    <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'edit' || homeOfficeNumber == null || homeOfficeNumber.isEmpty()}">
      <div th:replace="~{partials/forms :: textInput('homeOfficeNumber', #{site.optional(#{person.homeOfficeNumber})}, 'govuk-input--width-20')}"></div>
      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{details.homeOffice}"
                     th:text="#{details.homeOffice.text}"/>
    </div>

    <!-- Show paragraph if gender exists -->
    <p class="govuk-body" th:if="${genderDisplayValue}">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{person.gender}"></span>
      <span th:text="${genderDisplayValue}"></span>
      <input type="hidden" id="gender" name="gender" th:value="*{gender}">
    </p>

    <div th:unless="${genderDisplayValue}">
      <div th:replace="~{partials/forms :: dropdown('gender', #{person.gender}, ${genders}, 'code', 'description', false)}"></div>
    </div>

    <div th:replace="~{partials/forms :: dropdown('maritalStatus', #{person.maritalStatus}, ${maritalStatusList}, 'code', 'description', false)}"></div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend" th:text="#{site.optional(#{client.basic.clientTypeQuestion})}"></legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <th:block th:if="*{clientFlowFormAction == 'edit'}">
            <th:block th:if="*{vulnerableClient == true}">
              <input type="hidden" name="vulnerableClient" th:value="*{vulnerableClient}">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input"
                       th:id="${'vulnerableClient'}"
                       th:name="${'vulnerableClient'}"
                       type="checkbox"
                       th:checked="*{__${'vulnerableClient'}__}" disabled/>
                <label class="govuk-label govuk-checkboxes__label" th:for="${'vulnerableClient'}" th:text="#{person.vulnerable}">
                </label>
                <input type="hidden" th:name="${'_' + 'vulnerableClient'}" value="on">
              </div>
            </th:block>
            <th:block th:if="*{vulnerableClient == false}">
              <div th:replace="~{application/partials/summary-fragments :: checkbox('vulnerableClient', #{person.vulnerable})}"></div>
            </th:block>
          </th:block>
          <th:block th:if="*{clientFlowFormAction == 'create'}">
            <div th:replace="~{application/partials/summary-fragments :: checkbox('vulnerableClient', #{person.vulnerable})}"></div>
          </th:block>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('highProfileClient', #{person.highProfile})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('vexatiousLitigant', #{person.litigant})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('mentalIncapacity', #{person.mental})}"></div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <govuk:details th:summaryText="#{details.highProfileClient}"
                     th:text="#{details.highProfileClient.text}"/>
      <govuk:details th:summaryText="#{details.mentalIncapacity}"
                     th:text="#{details.mentalIncapacity.text}"/>
    </div>
  </div>
</div>

<!--Client contact details fragment-->
<th:block th:fragment="clientContactFragment">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <input type="hidden" id="vulnerableClient" name="vulnerableClient" th:value="*{vulnerableClient}">
  <div class="govuk-grid-row" th:if="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" th:text="#{client.contact.vulnerable.leadParagraph}"></p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:text="#{contact.phoneHome}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:text="#{contact.phoneWork}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:text="#{contact.phoneMobile}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:text="#{contact.email}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group"
           th:classappend="${globalErrorCodes!=null && #lists.contains(globalErrorCodes, 'required.telephones')} ? 'govuk-form-group--error' : ''">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <label class="govuk-label" th:text="#{client.contact.telephone}"></label>
          <div id="contact-hint-test" class="govuk-hint" th:text="#{client.contact.telephone.hint}"></div>
          <p id="countries-error" class="govuk-error-message"
             th:each="err : ${#fields.detailedErrors()}"
             th:if="${err.code == 'required.telephones'}"
             th:text="${err.message}">
            <span class="govuk-visually-hidden" th:text="${'Error: ' + err.message}"></span>
          </p>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input govuk-input--width-20" id="contact"
                     th:checked="${contactDetails.telephoneHomePresent}" th:name="telephoneHomePresent" type="checkbox"
                     data-aria-controls="conditional-contact-telephoneHome">
              <label class="govuk-label govuk-checkboxes__label" for="contact" th:text="#{contact.phoneHome}"></label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                 id="conditional-contact-telephoneHome">
              <div th:replace="~{partials/forms :: textInput(fieldId = 'telephoneHome', label = #{contact.phoneHome}, inputClass = 'govuk-!-width-one-third', hideLabel = true)}">
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-2" type="checkbox"
                     th:checked="${contactDetails.telephoneWorkPresent}" th:name="telephoneWorkPresent"
                     data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-checkboxes__label" for="contact-2" th:text="#{contact.phoneWork}"></label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
              <div th:replace="~{partials/forms :: textInput(fieldId ='telephoneWork', label = #{contact.phoneWork}, inputClass ='govuk-!-width-one-third', hideLabel = true)}">
              </div>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="contact-3" type="checkbox"
                     th:checked="${contactDetails.telephoneMobilePresent}" th:name="telephoneMobilePresent"
                     data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-checkboxes__label" for="contact-3" th:text="#{contact.phoneMobile}"></label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
              <div th:replace="~{partials/forms :: textInput(fieldId ='telephoneMobile', label = #{contact.phoneMobile}, inputClass ='govuk-!-width-one-third', hideLabel = true)}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div th:replace="~{partials/forms :: textInput('emailAddress', #{site.optional(#{contact.email})}, 'govuk-input--width-20')}"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'create'}" th:classappend="${#fields.hasErrors('password')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="password" th:text="#{contact.password}"></label>
        <input th:errorclass="govuk-input--error"
               class="govuk-input govuk-input--width-20"
               id="password"
               name="password"
               type="password"
               data-module="govuk-input"
               th:value="*{password}">
        <br>
        <govuk:details classes="govuk-!-margin-top-2"
                       th:summaryText="#{details.password}"
                       th:text="#{details.password.text }"/>
      </div>
      <div class="govuk-form-group">
        <div th:replace="~{partials/forms :: textInput('passwordReminder', #{contact.passwordReminder}, 'govuk-input--width-20')}"></div>

        <govuk:details classes="govuk-!-margin-top-2"
                       th:summaryText="#{details.passwordReminder}"
                       th:text="#{details.passwordReminder.text }"/>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <div th:replace="~{partials/forms :: dropdown('correspondenceMethod', #{contact.correspondenceMethod}, ${correspondenceMethods}, 'code', 'description', false)}"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div th:replace="~{partials/forms :: dropdown('correspondenceLanguage', #{site.optional(#{contact.correspondenceLanguage})}, ${correspondenceLanguages}, 'code', 'description', false)}"></div>
    </div>
  </div>
</th:block>

<!--Client address details fragment-->
<th:block th:fragment="clientAddressFragment">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <input type="hidden" id="vulnerableClient" name="vulnerableClient" th:value="*{vulnerableClient}">
  <div class="govuk-grid-row" th:if="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" th:text="#{client.address.vulnerable.leadParagraph}"></p>
      <h2 class="govuk-heading-m" th:value="#{address.main}"></h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.country}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.house}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.postcode}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.address1}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.address2}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.city}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{address.county}"></p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body" th:value="#{site.na}" th:text="#{site.na}"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m" th:value="#{address.main}"></h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <h2 class="govuk-fieldset__heading" th:text="#{client.address.homeless.question}"></h2>
            <div id="noFixedAbode-hint" class="govuk-hint" th:text="#{client.address.homeless.hint}"></div>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noFixedAbode-yes" name="noFixedAbode" type="radio" value="true" th:checked="*{noFixedAbode}">
              <label class="govuk-label govuk-radios__label" for="noFixedAbode-yes" th:text="#{site.yes}"></label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noFixedAbode-no" name="noFixedAbode" type="radio" value="false" th:checked="*{!noFixedAbode}">
              <label class="govuk-label govuk-radios__label" for="noFixedAbode-no" th:text="#{site.no}"></label>
            </div>
          </div>
        </fieldset>
      </div>
      <div th:replace="~{partials/forms :: dropdown('country', #{address.country}, ${countries}, 'code', 'description', false)}"></div>
      <div th:replace="~{partials/forms :: textInput('houseNameNumber', #{address.house}, 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('postcode', #{address.postcode}, 'govuk-input--width-20')}"></div>
      <div class="govuk-form-group">
        <button type="submit" name="action" value="find_address"
                class="govuk-button govuk-button--secondary"
                data-module="govuk-button"
                th:text="#{address.find}">
        </button>
      </div>
      <div th:replace="~{partials/forms :: textInput('addressLine1', #{address.address1}, 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('addressLine2', #{site.optional(#{address.address2})}, 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('cityTown', #{address.city}, 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('county', #{site.optional(#{address.county})}, 'govuk-input--width-20')}"></div>
    </div>
  </div>
</th:block>

<!--Client address search fragment-->

<!--Client monitoring details fragment-->
<div th:fragment="clientMonitoringFragment"
     class="govuk-grid-row" >
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m" th:text="#{client.opportunities.ethnicity}"></h2>
      <div th:replace="~{partials/forms :: dropdown('ethnicOrigin', #{client.opportunities.ethnicity.question}, ${ethnicOrigins}, 'code', 'description', false)}"></div>
      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{details.ethnicMonitoring}"
                     th:text="#{details.ethnicMonitoring.text}"/>
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m" th:text="#{client.opportunities.disability}"></h2>
      </h2>
      <div th:replace="~{partials/forms :: dropdown('disability', #{client.opportunities.disability.question}, ${disabilities}, 'code', 'description', false)}"></div>
      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{details.disabilityMonitoring}"
                     th:text="#{details.disabilityMonitoring.text}"/>
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m" th:text="#{client.opportunities.specialConsiderations}"></h2>
      <div th:replace="~{partials/forms :: largeTextInput('specialConsiderations', #{site.optional(#{client.opportunities.specialConsiderations.question})}, 2000)}"></div>
      </br>
      <govuk:details th:summaryText="#{details.specialConsiderations}"
                     th:text="#{details.specialConsiderations.text}"/>
    </div>
  </div>
</div>

</body>
</html>

