<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>LAA CCMS - Start new application</title>
</head>
<body>
<!--Client summary fragment-->
<div th:fragment="clientSummaryFragment"
     th:with="baseLinkUrl=*{action == 'edit'} ? @{/application/sections/client} :  @{/application/client}"
     class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Basic details</h2>
        <ul class="govuk-summary-card__actions">
          <li th:if="*{action == 'edit'}" class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/deceased'">
              Report client as deceased
            </a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/basic'">
            Edit basic details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Title', ${contactTitle.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Surname', *{basicDetails.surname})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('First name', *{basicDetails.firstName})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Middle name(s)', *{basicDetails.middleNames})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Surname at birth', *{basicDetails.surnameAtBirth})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Date of birth', *{basicDetails.dobDay + '/' + basicDetails.dobMonth + '/' + basicDetails.dobYear})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('NI number', *{basicDetails.nationalInsuranceNumber})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Home office number', *{basicDetails.homeOfficeNumber})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Gender', ${gender.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Marital status', ${maritalStatus.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo('Vulnerable client', *{basicDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo('High profile client', *{basicDetails.highProfileClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo('Vexatious litigant', *{basicDetails.vexatiousLitigant})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo('Mental incapacity', *{basicDetails.mentalIncapacity})}"></div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Contact details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/contact'">
            Edit contact details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Telephone home', *{contactDetails.telephoneHome}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Telephone work', *{contactDetails.telephoneWork}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Mobile', *{contactDetails.telephoneMobile}, *{contactDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('E-mail address', *{contactDetails.emailAddress}, *{contactDetails.vulnerableClient})}"></div>

          <!--  Display password differently based off whether you are editing or creating the client  -->
          <th:block th:if="*{action == 'create'}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Password', '*******')}"></div>
          </th:block>
          <th:block th:if="*{action == 'edit'}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Password', 'Please contact the LAA to edit application/partials/summary-fragments')}"></div>
          </th:block>

          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Password reminder', *{contactDetails.passwordReminder})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Correspondence method', ${correspondenceMethod.description}, *{contactDetails.vulnerableClient})}"></div>

          <th:block th:if="${correspondenceLanguage}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Correspondence language', ${correspondenceLanguage.description})}"></div>
          </th:block>
          <th:block th:unless="${correspondenceLanguage}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Correspondence language', '')}"></div>
          </th:block>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Address details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/address'">
              Edit address details
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Country', ${country.description}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('House name / number', *{addressDetails.houseNameNumber}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Postcode', *{addressDetails.postcode}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Address line 1', *{addressDetails.addressLine1}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('Address line 2', *{addressDetails.addressLine2}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('City / town', *{addressDetails.cityTown}, *{addressDetails.vulnerableClient})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithVulnerability('County', *{addressDetails.county}, *{addressDetails.vulnerableClient})}"></div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Equal opportunities</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/equal-opportunities-monitoring'">
              Edit equal opportunities details
            </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Ethnic origin', ${ethnicity.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Disability', ${disability.description})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Special considerations', *{monitoringDetails.specialConsiderations})}"></div>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--Client basic details fragment-->
<div th:fragment="clientBasicFragment"
     class="govuk-grid-row">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <div class="govuk-grid-column-two-thirds">
    <div th:replace="~{partials/forms :: dropdown('title', 'Title', ${titles}, 'code', 'description', false)}"></div>
    <div th:replace="~{partials/forms :: textInput('surname', 'Surname', 'govuk-input--width-20')}"></div>

    <p th:if="*{clientFlowFormAction == 'create'}" class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          First name
      </span>
      <span th:text="*{firstName}"></span>
      <input type="hidden" id="firstName" name="firstName" th:value="*{firstName}">
    </p>
    <div th:replace="~{partials/forms :: textInput('middleNames', 'Middle name(s) (optional)', 'govuk-input--width-20')}"></div>

    <th:block th:if="*{clientFlowFormAction == 'edit'}">
      <div th:replace="~{partials/forms :: textInput('firstName', 'First name', 'govuk-input--width-20')}"></div>
    </th:block>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Surname at birth
      </span>
      <span th:text="*{surnameAtBirth}"></span>
      <input type="hidden" id="surnameAtBirth" name="surnameAtBirth" th:value="*{surnameAtBirth}">
    </p>
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Date of birth (DD/MM/YYYY)
      </span>
      <span th:text="*{dateOfBirth}"></span>
      <input type="hidden" id="dateOfBirth" name="dateOfBirth" th:value="*{dateOfBirth}">
    </p>

    <div th:if="*{clientFlowFormAction == 'create'}">
      <div th:replace="~{partials/forms :: dropdown('countryOfOrigin', 'Country of origin', ${countries}, 'code', 'description', false)}"></div>
    </div>
    <p th:if="*{clientFlowFormAction == 'edit'}" class="govuk-body">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Country of origin
      </span>
      <span th:text="*{countryOfOrigin}"></span>
      <input type="hidden" id="countryOfOrigin" name="countryOfOrigin" th:value="*{countryOfOrigin}">
    </p>

    <!-- Show paragraph if nationalInsuranceNumber exists -->
    <p class="govuk-body" th:if="*{clientFlowFormAction == 'create' && nationalInsuranceNumber != null && !nationalInsuranceNumber.isEmpty()}" >
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          National Insurance Number
      </span>
      <span th:text="*{nationalInsuranceNumber}"></span>
      <input type="hidden" id="nationalInsuranceNumber" name="nationalInsuranceNumber" th:value="*{nationalInsuranceNumber}">
    </p>

    <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'edit' || nationalInsuranceNumber == null || nationalInsuranceNumber.isEmpty()}">
      <div th:replace="~{partials/forms :: textInput('nationalInsuranceNumber', 'National Insurance Number (optional)', 'govuk-input--width-20')}"></div>

      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{client.basic.insurance.summaryText}"
                     th:text="#{client.basic.insurance.text}"/>
    </div>

    <!-- Show paragraph if homeOfficeNumber exists -->
    <p class="govuk-body" th:if="*{clientFlowFormAction == 'create' && homeOfficeNumber != null && !homeOfficeNumber.isEmpty()}">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Home Office Number
      </span>
      <span th:text="*{homeOfficeNumber}"></span>
      <input type="hidden" id="homeOfficeNumber" name="homeOfficeNumber" th:value="*{homeOfficeNumber}">
    </p>

    <!-- Show input field if homeOfficeNumber does not exist -->
    <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'edit' || homeOfficeNumber == null || homeOfficeNumber.isEmpty()}">
      <div th:replace="~{partials/forms :: textInput('homeOfficeNumber', 'Home Office Number (optional)', 'govuk-input--width-20')}"></div>

      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{client.basic.homeOffice.summaryText}"
                     th:text="#{client.basic.homeOffice.text}"/>
    </div>

    <!-- Show paragraph if gender exists -->
    <p class="govuk-body" th:if="${genderDisplayValue}">
      <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Gender
      </span>
      <span th:text="${genderDisplayValue}"></span>
      <input type="hidden" id="gender" name="gender" th:value="*{gender}">
    </p>

    <div th:unless="${genderDisplayValue}">
      <div th:replace="~{partials/forms :: dropdown('gender', 'Gender', ${genders}, 'code', 'description', false)}"></div>
    </div>

    <div th:replace="~{partials/forms :: dropdown('maritalStatus', 'Marital status', ${maritalStatusList}, 'code', 'description', false)}"></div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          Which types apply to your client?
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <th:block th:if="*{clientFlowFormAction == 'edit'}">
            <th:block th:if="*{vulnerableClient == true}">
              <input type="hidden" name="vulnerableClient" th:value="*{vulnerableClient}">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input"
                       th:id="${'vulnerableClient'}"
                       th:name="${'vulnerableClient'}"
                       type="checkbox"
                       th:checked="*{__${'vulnerableClient'}__}" disabled/>
                <label class="govuk-label govuk-checkboxes__label" th:for="${'vulnerableClient'}" th:text="${'Vulnerable client'}">
                </label>
                <input type="hidden" th:name="${'_' + 'vulnerableClient'}" value="on">
              </div>
            </th:block>
            <th:block th:if="*{vulnerableClient == false}">
              <div th:replace="~{application/partials/summary-fragments :: checkbox('vulnerableClient', 'Vulnerable client')}"></div>
            </th:block>
          </th:block>
          <th:block th:if="*{clientFlowFormAction == 'create'}">
            <div th:replace="~{application/partials/summary-fragments :: checkbox('vulnerableClient', 'Vulnerable client')}"></div>
          </th:block>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('highProfileClient', 'High profile client')}"></div>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('vexatiousLitigant', 'Vexatious litigant')}"></div>
          <div th:replace="~{application/partials/summary-fragments :: checkbox('mentalIncapacity', 'Mental incapacity')}"></div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <govuk:details th:summaryText="#{client.details.higherProfile.summaryText}"
                     th:text="#{client.details.higherProfile.text}"/>
        <govuk:details th:summaryText="#{client.details.mentalIncapacity.summaryText}"
                       th:text="#{client.details.mentalIncapacity.text}"/>
    </div>
  </div>
</div>

<!--Client contact details fragment-->
<th:block th:fragment="clientContactFragment">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <input type="hidden" id="vulnerableClient" name="vulnerableClient" th:value="*{vulnerableClient}">
  <div class="govuk-grid-row" th:if="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        You have indicated that this client is vulnerable therefore for security reasons the contact details are not applicable.
      </p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Telephone home
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Telephone work
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Mobile
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Email address
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <div th:replace="~{partials/forms :: textInput('telephoneHome', 'Telephone home (optional)', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('telephoneWork', 'Telephone work (optional)', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('telephoneMobile', 'Mobile (optional)', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('emailAddress', 'E-mail address (optional)', 'govuk-input--width-20')}"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group" th:if="*{clientFlowFormAction == 'create'}" th:classappend="${#fields.hasErrors('password')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="password">
          Password
        </label>
        <input th:errorclass="govuk-input--error"
               class="govuk-input govuk-input--width-20"
               id="password"
               name="password"
               type="password"
               data-module="govuk-input"
               th:value="*{password}">
        <br>
        <govuk:details classes="govuk-!-margin-top-2"
                       th:summaryText="#{client.contract.passwordHelp.summaryText }"
                       th:text="#{client.contract.passwordHelp.text }"/>
      </div>
      <div class="govuk-form-group">
        <div th:replace="~{partials/forms :: textInput('passwordReminder', 'Password reminder', 'govuk-input--width-20')}"></div>

        <govuk:details classes="govuk-!-margin-top-2"
                       th:summaryText="#{client.contract.passwordReminder.summaryText }"
                       th:text="#{client.contract.passwordReminder.text }"/>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <div th:replace="~{partials/forms :: dropdown('correspondenceMethod', 'Correspondence method', ${correspondenceMethods}, 'code', 'description', false)}"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div th:replace="~{partials/forms :: dropdown('correspondenceLanguage', 'Correspondence language (optional)', ${correspondenceLanguages}, 'code', 'description', false)}"></div>
    </div>
  </div>
</th:block>

<!--Client address details fragment-->
<th:block th:fragment="clientAddressFragment">
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <input type="hidden" id="vulnerableClient" name="vulnerableClient" th:value="*{vulnerableClient}">
  <div class="govuk-grid-row" th:if="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        You have indicated that this client is vulnerable. For security reasons the
        main address will not be stored.
      </p>
      <h2 class="govuk-heading-m">
        Main address
      </h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Country
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            House name / Number
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Postcode
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Address line 1
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Address line 2
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            City / Town
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Country
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            Not applicable
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row" th:unless="*{vulnerableClient}">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        Main address
      </h2>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            <h2 class="govuk-fieldset__heading">
              Is your client considered to be homeless and/or do they have no permanent residence?
            </h2>
            <div id="noFixedAbode-hint" class="govuk-hint">
              If selecting 'Yes' then do not enter any address details below and click 'Next'
            </div>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noFixedAbode-yes" name="noFixedAbode" type="radio" value="true" th:checked="*{noFixedAbode}">
              <label class="govuk-label govuk-radios__label" for="noFixedAbode-yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="noFixedAbode-no" name="noFixedAbode" type="radio" value="false" th:checked="*{!noFixedAbode}">
              <label class="govuk-label govuk-radios__label" for="noFixedAbode-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div th:replace="~{partials/forms :: dropdown('country', 'Country', ${countries}, 'code', 'description', false)}"></div>
      <div th:replace="~{partials/forms :: textInput('houseNameNumber', 'House name / number', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('postcode', 'Postcode', 'govuk-input--width-20')}"></div>
      <div class="govuk-form-group">
        <button type="submit" name="action" value="find_address" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Find address
        </button>
      </div>
      <div th:replace="~{partials/forms :: textInput('addressLine1', 'Address line 1', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('addressLine2', 'Address line 2 (optional)', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('cityTown', 'City / Town', 'govuk-input--width-20')}"></div>
      <div th:replace="~{partials/forms :: textInput('county', 'County (optional)', 'govuk-input--width-20')}"></div>
    </div>
  </div>
</th:block>

<!--Client address search fragment-->

<!--Client monitoring details fragment-->
<div th:fragment="clientMonitoringFragment"
     class="govuk-grid-row" >
  <input type="hidden" id="clientFlowFormAction" name="clientFlowFormAction" th:value="*{clientFlowFormAction}">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">
        Ethnic monitoring
      </h2>
      <div th:replace="~{partials/forms :: dropdown('ethnicOrigin', 'Which ethnicity would your client describe themselves as being?', ${ethnicOrigins}, 'code', 'description', false)}"></div>

      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{client.monitoring.ethnic.summaryText}"
                     th:text="#{client.monitoring.ethnic.text}"/>
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">
        Disability monitoring
      </h2>
      <div th:replace="~{partials/forms :: dropdown('disability', 'Would your client describe themselves as being disabled?', ${disabilities}, 'code', 'description', false)}"></div>

      <govuk:details classes="govuk-!-margin-top-2"
                     th:summaryText="#{client.monitoring.disability.summaryText}"
                     th:text="#{client.monitoring.disability.text}"/>
    </div>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">
        Special considerations
      </h2>
      <fieldset class="govuk-fieldset">
        <label class="govuk-label" for="specialConsiderations">
          What special requirements may your client have? (optional)
        </label>
        <textarea
                class="govuk-textarea govuk-!-margin-bottom-2"
                id="specialConsiderations"
                name="specialConsiderations"
                th:text="*{specialConsiderations}"
                rows="5"
                maxlength="2000">
              </textarea>
      </fieldset>

      <govuk:details th:summaryText="#{client.monitoring.specialConsiderations.summaryText}"
                     th:text="#{client.monitoring.specialConsiderations.text}"/>
    </div>
  </div>
</div>

</body>
</html>

