<!--Simple fragment for repeated summary list rows -->
<div class="govuk-summary-list__row" th:fragment="summaryListDisplay(label, value)">
  <dt class="govuk-summary-list__key"
      th:text="${label}">
  </dt>
  <dd class="govuk-summary-list__value"
      th:text="${value}">
  </dd>
</div>

<!--Client summary fragment-->
<div th:fragment="clientSummaryFragment(clientState)"
     th:with="baseLinkUrl=${clientState == 'edit'} ? '/application/summary/client' : '/application/client'"
     class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Basic details</h2>
        <ul class="govuk-summary-card__actions">
          <li th:if="${clientState == 'edit'}" class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/deceased'">
              Report client as deceased
            </a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/basic'">
            Edit basic details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Title', ${contactTitle.description})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Surname', *{surname})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('First name', *{firstName})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Middle name(s)', *{middleNames})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Surname at birth', *{surnameAtBirth})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Date of birth', *{dobDay + '/' + dobMonth + '/' + dobYear})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('NI number', *{nationalInsuranceNumber})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Home office number', *{homeOfficeNumber})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Gender', ${gender.description})}"></div>
          <div th:replace="~{application/partials/client-fragments :: summaryListDisplay('Marital status', ${maritalStatus.description})}"></div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vulnerable client
            </dt>
            <dd class="govuk-summary-list__value" th:if="*{vulnerableClient}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="*{vulnerableClient}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              High profile client
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.highProfileClient}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.highProfileClient}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vexatious litigant
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.vexatiousLitigant}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.vexatiousLitigant}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mental incapacity
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.mentalIncapacity}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.mentalIncapacity}">
              No
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Contact details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/contact'">
            Edit contact details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone home
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneHome}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone work
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneWork}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneMobile}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              E-mail address
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{emailAddress}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Password
            </dt>
            <dd th:unless="${clientState == 'edit'}" class="govuk-summary-list__value" >
              *******
            </dd>
            <dd th:if="${clientState == 'edit'}" class="govuk-summary-list__value" >
              Please contact the LAA to edit this
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Password reminder
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{passwordReminder}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence method
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="${correspondenceMethod.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence language
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="${correspondenceLanguage}"
                th:text="${correspondenceLanguage.description}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Address details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/address'">
            Edit address details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="${country.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              House name / number
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{houseNameNumber}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{postcode}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 1
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{addressLine1}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 2
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{addressLine2}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              City / town
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{cityTown}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{county}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Equal opportunities</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/equal-opportunities-monitoring'">
            Edit equal opportunities details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnic origin
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${ethnicity.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${disability.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special considerations
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${clientDetails.specialConsiderations}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--Client basic details fragment-->
<div th:fragment="clientBasicFragment(clientState)" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div th:replace="~{partials/forms :: dropdown('title', 'Title', ${titles}, 'code', 'description', false)}"></div>
    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('surname')} ? 'govuk-form-group--error' : ''">
      <label class="govuk-label" for="surname">
        Surname
      </label>
      <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="govuk-error-message"></span>
      <input th:errorclass="govuk-input--error"
             class="govuk-input govuk-input--width-20"
             id="surname"
             name="surname"
             type="text"
             data-module="govuk-input"
             th:field="*{surname}">
    </div>

    <p th:if="${clientState == 'create'}" class="govuk-body">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          First name
      </span>
      <span th:text="${clientDetails.firstName}"></span>
    </p>
    <div th:unless="${clientState == 'create'}" class="govuk-form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'govuk-form-group--error' : ''">
      <label class="govuk-label" for="firstName">
        Surname
      </label>
      <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="govuk-error-message"></span>
      <input th:errorclass="govuk-input--error"
             class="govuk-input govuk-input--width-20"
             id="firstName"
             name="firstName"
             type="text"
             data-module="govuk-input"
             th:field="*{firstName}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="clientMiddleName">
        Middle name(s) (optional)
      </label>
      <input th:errorclass="govuk-input--error"
             class="govuk-input govuk-input--width-20"
             id="clientMiddleName"
             name="clientMiddleName"
             type="text"
             data-module="govuk-input"
             th:field="*{middleNames}">
    </div>
    <p class="govuk-body">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Surname at birth
      </span>
      <span th:text="${clientDetails.surnameAtBirth}"></span>
    </p>
    <p class="govuk-body">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Date of birth (DD/MM/YYYY)
      </span>
      <span th:text="${clientDetails.dobDay} + '/' + ${clientDetails.dobMonth} + '/' + ${clientDetails.dobYear}"></span>
    </p>

    <div th:if="${clientState == 'edit'}">
      <div th:replace="~{partials/forms :: dropdown('countryOfOrigin', 'Country of origin', ${countries}, 'code', 'description', false)}"></div>
    </div>
    <p th:unless="${clientState == 'create'}" class="govuk-body">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Country of origin
      </span>
      <span th:text="${clientDetails.countryOfOrigin}"></span>
    </p>

    <!-- Show paragraph if nationalInsuranceNumber exists -->
    <p class="govuk-body" th:if="${clientState == 'create' && clientDetails.nationalInsuranceNumber}" >
          <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
              National Insurance Number
          </span>
      <span th:text="${clientDetails.nationalInsuranceNumber}"></span>
    </p>
    <div class="govuk-form-group" th:if="${clientState == 'edit' || !clientDetails.nationalInsuranceNumber}">
      <label class="govuk-label" for="nationalInsuranceNumber">
        National Insurance Number (optional)
      </label>
      <input th:errorclass="govuk-input--error"
             class="govuk-input govuk-input--width-20"
             id="nationalInsuranceNumber"
             name="nationalInsuranceNumber"
             type="text"
             data-module="govuk-input"
             th:field="*{nationalInsuranceNumber}">
      <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                National Insurance Number
              </span>
        </summary>
        <div class="govuk-details__text">
          If the client's National Insurance Number is unknown, please leave
          this field blank
        </div>
      </details>
    </div>

    <!-- Show paragraph if homeOfficeNumber exists -->
    <p class="govuk-body" th:if="${clientState == 'create' && clientDetails.homeOfficeNumber}">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Home Office Number
      </span>
      <span th:text="${clientDetails.homeOfficeNumber}"></span>
    </p>
    <!-- Show input field if homeOfficeNumber does not exist -->
    <div class="govuk-form-group"th:if="${clientState == 'edit' || !clientDetails.homeOfficeNumber}">
      <label class="govuk-label" for="homeOfficeNumber">
        Home Office Number (optional)
      </label>
      <input th:errorclass="govuk-input--error"
             class="govuk-input govuk-input--width-20"
             id="homeOfficeNumber"
             name="homeOfficeNumber"
             type="text"
             data-module="govuk-input"
             th:field="*{homeOfficeNumber}">
      <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with Home Office Number
          </span>
        </summary>
        <div class="govuk-details__text">
          Please enter the client's Home Office reference number allocated
          by the Home Office. The number consists of a letter followed by
          a series of numbers (usually 7) and should be cited on documents
          or correspondence from the Home Office.
        </div>
      </details>
    </div>
    <!-- Show paragraph if gender exists -->
    <p class="govuk-body" th:if="${genderDisplayValue}">
      <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
          Gender
      </span>
      <span th:text="${genderDisplayValue}"></span>
    </p>

    <div th:unless="${genderDisplayValue}">
      <div th:replace="~{partials/forms :: dropdown('gender', 'Gender', ${genders}, 'code', 'description', false)}"></div>
    </div>

    <div th:replace="~{partials/forms :: dropdown('maritalStatus', 'Marital status', ${maritalStatusList}, 'code', 'description', false)}"></div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          Which types apply to your client?
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="vulnerableClient"
                   name="vulnerableClient"
                   type="checkbox"
                   th:checked="${clientDetails.vulnerableClient}" />
            <label class="govuk-label govuk-checkboxes__label" for="vulnerableClient">
              Vulnerable client
            </label>
            <input type="hidden" name="_vulnerableClient" value="on">
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="highProfileClient"
                   name="highProfileClient"
                   type="checkbox"
                   th:checked="${clientDetails.highProfileClient}">
            <label class="govuk-label govuk-checkboxes__label" for="highProfileClient">
              High profile client
            </label>
            <input type="hidden" name="_highProfileClient" value="on">
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="vexatiousLitigant"
                   name="vexatiousLitigant"
                   type="checkbox"
                   th:checked="${clientDetails.vexatiousLitigant}">
            <label class="govuk-label govuk-checkboxes__label" for="vexatiousLitigant">
              Vexatious litigant
            </label>
            <input type="hidden" name="_vexatiousLitigant" value="on">
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input"
                   id="mentalIncapacity"
                   name="mentalIncapacity"
                   type="checkbox"
                   th:checked="${clientDetails.mentalIncapacity}">
            <label class="govuk-label govuk-checkboxes__label" for="mentalIncapacity">
              Mental incapacity
            </label>
            <input type="hidden" name="_mentalIncapacity" value="on">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with High profile client
          </span>
        </summary>
        <div class="govuk-details__text">
          Please tick the appropriate box if you deem this matter to be high profile;
          by which we mean the proceedings have attracted media attention
          and/or are likely to attract media attention or involve person(s)
          that are noteworthy.
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with Mental incapacity
          </span>
        </summary>
        <div class="govuk-details__text">
          Please tick the appropriate box if you consider your client to have
          a mental impairment which has a substantial and long-term adverse
          effect on a persons ability to carry out normal day-to-day
          activities.
        </div>
      </details>
    </div>
  </div>
</div>
