<div th:fragment="clientSummaryFragment(clientState)"
     th:with="baseLinkUrl=${clientState == 'edit'} ? '/application/summary/client' : '/application/client'"
     class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Basic details</h2>
        <ul class="govuk-summary-card__actions">
          <li th:if="${clientState == 'edit'}" class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/deceased'">
              Report client as deceased
            </a>
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/basic'">
            Edit basic details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Title
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${contactTitle.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{surname}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{firstName}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Middle name(s)
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{middleNames}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname at birth
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{surnameAtBirth}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{dobDay + '/' + dobMonth + '/' + dobYear}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NI number
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{nationalInsuranceNumber}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Home office number
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{homeOfficeNumber}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gender
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${gender.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Marital status
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${maritalStatus.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vulnerable client
            </dt>
            <dd class="govuk-summary-list__value" th:if="*{vulnerableClient}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="*{vulnerableClient}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              High profile client
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.highProfileClient}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.highProfileClient}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Vexatious litigant
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.vexatiousLitigant}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.vexatiousLitigant}">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mental incapacity
            </dt>
            <dd class="govuk-summary-list__value" th:if="${clientDetails.mentalIncapacity}">
              Yes
            </dd>
            <dd class="govuk-summary-list__value" th:unless="${clientDetails.mentalIncapacity}">
              No
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Contact details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/contact'">
            Edit contact details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone home
            </dt>
            <dd class="govuk-summary-list__value" th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneHome}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone work
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneWork}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{telephoneMobile}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              E-mail address
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{emailAddress}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Password
            </dt>
            <dd th:unless="${clientState == 'edit'}" class="govuk-summary-list__value" >
              *******
            </dd>
            <dd th:if="${clientState == 'edit'}" class="govuk-summary-list__value" >
              Please contact the LAA to edit this
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Password reminder
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="*{passwordReminder}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence method
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="${correspondenceMethod.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Correspondence language
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="${correspondenceLanguage}"
                th:text="${correspondenceLanguage.description}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Address details</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/address'">
            Edit address details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Country
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="${country.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              House name / number
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{houseNameNumber}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{postcode}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 1
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{addressLine1}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 2
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{addressLine2}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              City / town
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{cityTown}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value"
                th:if="*{vulnerableClient}">
              Not applicable
            </dd>
            <dd class="govuk-summary-list__value"
                th:unless="*{vulnerableClient}"
                th:text="*{county}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Equal opportunities</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="${baseLinkUrl} + '/details/equal-opportunities-monitoring'">
            Edit equal opportunities details
          </a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnic origin
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${ethnicity.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disability
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${disability.description}">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special considerations
            </dt>
            <dd class="govuk-summary-list__value"
                th:text="${clientDetails.specialConsiderations}">
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>