<h1 class="govuk-heading-l" th:text="#{application.delegatedFunctions}"></h1>
<p class="govuk-body-l" th:text="#{application.delegatedFunctions.leadParagraph}"></p>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          <h2 class="govuk-fieldset__heading"
              th:text="#{application.delegatedFunctions.initialQuestion}"></h2>
          <div id="delegated-functions-hint" class="govuk-hint"
               th:text="#{application.delegatedFunctions.hint}"></div>
        </legend>
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="delegatedFunctions-yes"
                   name="delegatedFunctions" type="radio" value="true"
                   th:checked="${applicationFormData.delegatedFunctions}">
            <label class="govuk-label govuk-radios__label" for="delegatedFunctions-yes"
                   th:text="#{site.yes}"></label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="delegatedFunctions-no" name="delegatedFunctions"
                   type="radio" value="false"
                   th:checked="${!applicationFormData.delegatedFunctions}">
            <label class="govuk-label govuk-radios__label" for="delegatedFunctions-no"
                   th:text="#{site.no}"></label>
          </div>
        </div>
      </fieldset>
    </div>

    <moj:datepicker
            id="delegated-function-used"
            name="delegatedFunctionUsedDate"
            th:label="#{application.delegatedFunctions.dateQuestion}"
            th:hint="#{hint.date}"
            th:value="*{__${'delegatedFunctionUsedDate'}__}"
            th:errorMessage="${#fields.hasErrors('delegatedFunctionUsedDate') ? #fields.errors('delegatedFunctionUsedDate').getFirst() : ''}">
    </moj:datepicker>

    <govuk:button th:text="#{site.continue}"/>
  </div>
</div>