<th:block th:fragment="confirmLinkedCase">
  <form action="#" th:action="@{${action}}" th:object="${currentLinkedCase}" method="post">
    <div th:replace="~{partials/error-summary :: error-summary}"></div>
    <input type="hidden" id="providerCaseReference" name="providerCaseReference" th:value="*{providerCaseReference}">
    <input type="hidden" id="categoryOfLaw" name="categoryOfLaw" th:value="*{categoryOfLaw}">
    <input type="hidden" id="feeEarner" name="feeEarner" th:value="*{feeEarner}">
    <input type="hidden" id="status" name="status" th:value="*{status}">
    <span class="govuk-caption-l" th:text="#{application.generalDetails.linkCase.caption}"/>
    <h1 class="govuk-heading-l" th:text="#{application.generalDetails.linkCase.title}"/>

    <p class="govuk-body-l" th:text="#{application.generalDetails.linkCase.line1}"/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{application.generalDetails.linkCase.clientName}"/>
          <span id="client-name-value" th:text="${currentLinkedCase.clientFirstName + ' ' + currentLinkedCase.clientSurname}"/>
          <input type="hidden" id="clientFirstName" name="clientFirstName" th:value="*{clientFirstName}"/>
          <input type="hidden" id="clientSurname" name="clientSurname" th:value="*{clientSurname}"/>
          <input type="hidden" id="clientReferenceNumber" name="clientReferenceNumber" th:value="*{clientReferenceNumber}"/>
        </p>
        <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{application.generalDetails.linkedCase.laaCaseReference}"/>
          <span id="laa-case-reference-value" th:text="*{lscCaseReference}"/>
          <input type="hidden" id="lscCaseReference" name="lscCaseReference" th:value="*{lscCaseReference}">
        </p>
        <div th:replace="~{partials/forms :: dropdown('relationToCase', #{application.generalDetails.linkCase.howCaseRelated.label},
          ${caseLinkOptions}, 'code', 'description', false)}"/>
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{site.next}"/>
        </div>
      </div>
    </div>
  </form>
</th:block>

<th:block th:fragment="noResultsFragment">
  <span class="govuk-caption-l"
        th:text="#{application.generalDetails.linkCase.search.caption}"/>
  <h1 class="govuk-heading-l"
      id="page-heading"
      th:text="#{application.generalDetails.linkCase.search.noResults.title}"/>
  <p class="govuk-body-l"
     id="line-1"
     th:text="#{application.generalDetails.linkCase.search.noResults.line1}"/>
  <p class="govuk-body-l"
     id="line-2"
     th:text="#{application.generalDetails.linkCase.search.noResults.line2}"/>
</th:block>