<div th:fragment="content" class="govuk-grid-column-full">
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.purpose}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purpose.text1}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purpose.text2}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.aboutPersonalInformation}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.aboutPersonalInformation.text1}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.aboutPersonalInformation.text2}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.typesOfData}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.typesOfData.text1}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.text1}"></p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.list1}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.list2}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.list3}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.list4}"> </li>
    </ul>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.text2}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.text3}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.purposeOfProcessing.text4}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.whoWeShare}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.whoWeShare.text1}"></p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{application.privacyNoticeAgreement.content.whoWeShare.list1}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.whoWeShare.list2}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.whoWeShare.list3}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.whoWeShare.list4}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.whoWeShare.list5}"></li>
    </ul>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.whoWeShare.text2}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.dataProcessors}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.dataProcessors.text1}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.dataProcessors.text2}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.decisionMaking}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.decisionMaking.text1}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.transfers}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.transfers.text1}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.transfers.text2}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.retentionPeriod}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.retentionPeriod.text1}"></p>
    <p class="govuk-body">
        <a th:href="#{application.privacyNoticeAgreement.content.retentionPeriod.link}" class="govuk-link"
           th:text="#{application.privacyNoticeAgreement.content.retentionPeriod.link}"></a>
    </p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.retentionPeriod.text2}"></p>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.retentionPeriod.text3}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.accessToInformation}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.accessToInformation.text1}"></p>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.accessToInformation.contact}"></p>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.personalData}"></h3>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.personalData.text1}"></p>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.personalData.text2}"></p>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list1}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list2}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list3}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list4}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list5}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list6}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.personalData.list7}"></li>
    </ul>
    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.moreDetail}"></h3>
    <ul class="govuk-list govuk-list--bullet">
        <li th:text="#{application.privacyNoticeAgreement.content.moreDetail.list1}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.moreDetail.list2}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.moreDetail.list3}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.moreDetail.list4}"></li>
        <li th:text="#{application.privacyNoticeAgreement.content.moreDetail.list5}"></li>
    </ul>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.moreDetail.text1}"></p>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.moreDetail.contact}"></p>

    <h3 class="govuk-heading-m" th:text="#{application.privacyNoticeAgreement.content.complaints}"></h3>
    <p class="govuk-body" th:text="#{application.privacyNoticeAgreement.content.complaints.text1}"></p>
    <p class="govuk-body" th:utext="#{application.privacyNoticeAgreement.content.complaints.contact}"></p>
</div>