<th:block th:fragment="searchCaseFormFragment">
  <form action="#" th:action="@{${action}}" th:object="${caseSearchCriteria}" method="post">
    <div th:replace="~{partials/error-summary :: error-summary}"></div>
    <span class="govuk-caption-l" th:text="${caption}">Application search</span>
    <h1 class="govuk-heading-l" th:text="${heading}">Default heading</h1>
    <div class="govuk-body-l" th:text="#{search.leadParagraph('case or application')}"></div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div th:replace="~{partials/forms :: textInput('caseReference', #{common.laaRef}, 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: textInput('clientSurname', #{common.clientSurname}, 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: textInput('providerCaseReference', #{common.providerRef}, 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: dropdown('feeEarnerId', #{common.feeEarner}, ${feeEarners}, 'id', 'name', false)}"></div>
        <div th:replace="~{partials/forms :: dropdown('officeId', #{common.office}, ${offices}, 'id', 'name', false)}"></div>
        <div th:unless="${copyCase}">
          <th:block th:replace="~{partials/forms :: dropdown('status', #{common.status}, ${statuses}, 'code', 'description', false)}"></th:block>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Search
        </button>
      </div>
    </div>
  </form>
</th:block>

<th:block th:fragment="noResultsFragment">
  <span class="govuk-caption-l" th:text="${caption}">Application search</span>
  <h1 class="govuk-heading-l" th:text="#{site.noResults(${heading})}"></h1>
  <p class="govuk-body-l" th:text="#{application.search.results.returned('0')}"></p>
  <p class="govuk-body-l" th:utext="#{application.search.results.amend}"></p>
  <a class="govuk-button" data-module="govuk-button" th:href="@{/application/office}" th:text="#{application.new}"></a>
</th:block>

<th:block th:fragment="tooManyResultsFragment">
  <span class="govuk-caption-l" th:text="${caption}">Application search</span>
  <h1 class="govuk-heading-l" th:text="#{site.tooManyResults(${heading})}"></h1>
  <p class="govuk-body-l" th:text="#{application.search.results.returned('too many')}"></p>
  <p class="govuk-body-l" th:text="#{application.search.results.refine}"></p>
</th:block>