<th:block th:fragment="searchCaseFormFragment">
  <form action="#" th:action="@{${action}}" th:object="${caseSearchCriteria}" method="post">
    <div th:replace="~{partials/error-summary :: error-summary}"></div>
    <span class="govuk-caption-l" th:text="${caption}">Application search</span>
    <h1 class="govuk-heading-l" th:text="${heading}">Default heading</h1>
    <div class="govuk-body-l">
      Please enter as many details as you have available in the provided search fields in
      order to find your required case or application. At least one of the search criteria
      fields should be completed.
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div th:replace="~{partials/forms :: textInput('caseReference', 'LAA Application/Case reference', 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: textInput('clientSurname', 'Client surname', 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: textInput('providerCaseReference', 'Provider case reference', 'govuk-input--width-20')}"></div>
        <div th:replace="~{partials/forms :: dropdown('feeEarnerId', 'Fee earner', ${feeEarners}, 'id', 'name', false)}"></div>
        <div th:replace="~{partials/forms :: dropdown('officeId', 'Office', ${offices}, 'id', 'name', false)}"></div>
        <div th:unless="${copyCase}">
          <th:block th:replace="~{partials/forms :: dropdown('status', 'Status', ${statuses}, 'code', 'description', false)}"></th:block>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Search
        </button>
      </div>
    </div>
  </form>
</th:block>

<th:block th:fragment="noResultsFragment">
  <span class="govuk-caption-l" th:text="${caption}">Application search</span>
  <h1 class="govuk-heading-l">
    Application search - no results
  </h1>
  <p class="govuk-body-l">
    Your search has returned 0 results.
  </p>
  <p class="govuk-body-l">
    Please return to amend your search criteria and try again or start a new application by clicking the <span class="govuk-!-font-weight-bold">'New application'</span> button.
  </p>
  <a class="govuk-button" data-module="govuk-button" th:href="@{/application/office}">
    New application
  </a>
</th:block>

<th:block th:fragment="tooManyResultsFragment">
  <span class="govuk-caption-l" th:text="${caption}">Application search</span>
  <h1 class="govuk-heading-l"
      id="page-heading"
      th:text="#{application.generalDetails.linkCase.search.noResults.title}"/>
  <p class="govuk-body-l"
     id="line-1"
     th:text="#{application.generalDetails.linkCase.search.noResults.line1}"/>
  <p class="govuk-body-l"
     id="line-2"
     th:text="#{application.generalDetails.linkCase.search.noResults.line2}"/>
</th:block>