<th:block th:fragment="section(title, items)">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" th:text="${title}"/>
        </div>
        <div class="govuk-summary-card__content">
            <div class="govuk-summary-list">
                <th:block th:each="item : ${items}">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key" th:text="${item.code.displayValue}"></dt>
                        <dd class="govuk-summary-list__value"
                            th:text="${item.type == 'AMT' ? #numbers.formatCurrency(item.value.displayValue) : item.value.displayValue}">
                        </dd>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>