<!--Simple fragment for repeated summary list rows -->
<div class="govuk-summary-list__row" th:fragment="summaryListDisplay(label, value)">
  <dt class="govuk-summary-list__key"
      th:text="${label}">
  </dt>
  <dd class="govuk-summary-list__value"
      th:text="${value}">
  </dd>
</div>

<!--Simple fragment for repeated summary list rows with yes/no values -->
<div class="govuk-summary-list__row" th:fragment="summaryListDisplayYesNo(label, checked)">
  <dt class="govuk-summary-list__key" th:text="${label}">
  </dt>
  <dd class="govuk-summary-list__value" th:if="${checked}">
    Yes
  </dd>
  <dd class="govuk-summary-list__value" th:unless="${checked}">
    No
  </dd>
</div>

<!--Simple fragment for repeated summary list rows with an isVulnerable? check -->
<div class="govuk-summary-list__row" th:fragment="summaryListDisplayWithVulnerability(label, value, isVulnerable)">
  <dt class="govuk-summary-list__key" th:text="${label}">
  </dt>
  <dd class="govuk-summary-list__value"
      th:if="${isVulnerable}">
    Not applicable
  </dd>
  <dd class="govuk-summary-list__value"
      th:unless="${isVulnerable}"
      th:text="${value}">
  </dd>
</div>

<!--Simple fragment for repeated checkbox items -->
<div th:fragment="checkbox(id, label)" class="govuk-checkboxes__item">
  <input class="govuk-checkboxes__input"
         th:id="${id}"
         th:name="${id}"
         type="checkbox"
         th:checked="*{__${id}__}"/>
  <label class="govuk-label govuk-checkboxes__label" th:for="${id}" th:text="${label}">
  </label>
  <input type="hidden" th:name="${'_' + id}" value="on">
</div>

<tr th:fragment="meritsAssessmentFragment" class="govuk-table__row">
  <td class="govuk-table__cell" th:if="${summary.meritsAssessment.enabled}">
    <a th:href="@{/assessments?assessment=merits&invoked-from=CCMS_CA01}" class="govuk-link">Merits assessment</a>
  </td>
  <td class="govuk-table__cell" th:unless="${summary.meritsAssessment.enabled}">
    Merits assessment
  </td>
  <td class="govuk-table__cell" th:insert="~{application/partials/status-tag :: statusTag(${summary.meritsAssessment.status})}"></td>
  <td class="govuk-table__cell" th:text="${#dates.format(summary.meritsAssessment.lastSaved, 'dd/MM/yyyy')}"></td>
  <td class="govuk-table__cell" th:text="${summary.meritsAssessment.lastSavedBy}"></td>
  <th:block th:if="${summary.meritsAssessment.status} == 'In Progress'">
    <td class="govuk-table__cell">
      <a th:href="@{/assessments/merits/remove}" class="govuk-link">Delete  </a>
    </td>
  </th:block>
  <th:block th:unless="${summary.meritsAssessment.status} == 'In Progress'">
    <td class="govuk-table__cell"></td>
  </th:block>
</tr>

<tr th:fragment="meansAssessmentFragment" class="govuk-table__row">
  <td class="govuk-table__cell" th:if="${summary.meansAssessment.enabled}">
    <a th:href="@{/assessments?assessment=means&invoked-from=CCMS_CA01}" class="govuk-link">Means assessment</a>
  </td>
  <td class="govuk-table__cell" th:unless="${summary.meansAssessment.enabled}">
    Means assessment
  </td>
  <td class="govuk-table__cell" th:insert="~{application/partials/status-tag :: statusTag(${summary.meansAssessment.status})}"></td>
  <td class="govuk-table__cell" th:text="${#dates.format(summary.meansAssessment.lastSaved, 'dd/MM/yyyy')}"></td>
  <td class="govuk-table__cell" th:text="${summary.meansAssessment.lastSavedBy}"></td>
  <th:block th:if="${summary.meansAssessment.status} == 'In Progress'">
    <td class="govuk-table__cell">
      <a th:href="@{/assessments/means/remove}" class="govuk-link">Delete  </a>
    </td>
  </th:block>
  <th:block th:unless="${summary.meansAssessment.status} == 'In Progress'">
    <td class="govuk-table__cell"></td>
  </th:block>
</tr>

<div th:fragment="assessmentSummaryFragment (summary)">
  <div th:each="summaryItem : ${summary}">
    <h2 class="govuk-heading-m" th:text="${summaryItem.displayName}"></h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row" th:each="attribute : ${summaryItem.attributes}">
        <dt class="govuk-summary-list__key" th:text="${attribute.displayName}" style="width: 50%;"></dt>
        <dd class="govuk-summary-list__value" th:text="${attribute.value}"></dd>
      </div>
    </dl>
  </div>
</div>
