<th:block th:fragment="section(title, items)">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" th:text="${title}"/>
        </div>
        <div class="govuk-summary-card__content">
            <div class="govuk-summary-list">
                <th:block th:each="item : ${items}">
                    <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key"
                            th:text="${item.code.displayValue ?: item.code.id}"></dt>

                        <dd class="govuk-summary-list__value">
                            <span th:if="${item.type == 'AMT'}"
                            th:text="${#numbers.formatCurrency(item.value.id ?: item.value.displayValue)}">
                            </span>
                            <span th:unless="${item.type == 'AMT'}"
                            th:text="${item.value.displayValue ?: item.value.id}">
                            </span>
                        </dd>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>