<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs"></div>
    <div id="main-content" style="padding-top: 40px;">
        <form action="#" th:action="'/application/sections/linked-cases/'+ ${linkedCase.id} +'/remove'" method="post">
        <span class="govuk-caption-l">Create application</span>
        <h1 class="govuk-heading-l">
            Remove LAA application/case reference: <span th:text="${linkedCase.lscCaseReference}"></span>
        </h1>
        <p class="govuk-body-l">
            Are you sure you want to remove the linked case LAA application/case reference:
            <span th:text="${linkedCase.lscCaseReference}"></span>?  Please click 'Confirm' to
            remove this information otherwise click 'Cancel' to go back.
        </p>
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Confirm
            </button>
            <a class="govuk-button govuk-button--secondary"
               data-module="govuk-button"
               th:href="@{/application/sections/linked-cases}">
                Cancel
            </a>
        </div>
        </form>
    </div>
</div>
</body>
</html>