<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{application.generalDetails.linkCase.summary.search.title}|"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/sections/linked-cases(caseContext=${caseContext.getPathValue()})}" class="govuk-back-link"
      th:text="#{application.generalDetails.linkCase.summary.search.goBack}"/>
  </div>
  <div id="main-content">
    <th:block th:replace="~{application/partials/search-fragments :: searchCaseFormFragment(
      caption=#{application.generalDetails.linkCase.summary.search.caption},
      heading=#{application.generalDetails.linkCase.summary.search.title},
      action=${'/' + caseContext.getPathValue() + '/sections/linked-cases/search'},
      copyCase=${false})}">
    </th:block>
  </div>
</div>
</body>
</html>