<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/sections/linked-cases}" class="govuk-back-link">Return to linked cases summary</a>
  </div>
  <div id="main-content">
    <th:block th:replace="~{application/partials/linked-cases :: confirmLinkedCase(action=${'/application/sections/linked-cases/add'})}"></th:block>
  </div>
</div>
</body>
</html>