<!DOCTYPE html>
<html lang="en" xmlns:govuk="http://www.thymeleaf.org" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.generalDetails.linkCase.remove.title(${linkedCase.lscCaseReference})}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs"></div>
    <div id="main-content" style="padding-top: 40px;">
        <form action="#"
              th:action="@{/application/sections/linked-cases/{id}/remove(id=${linkedCase.id})}" method="post">
        <span class="govuk-caption-l" th:text="#{application.create}"/>
        <h1 class="govuk-heading-l"
            th:text="#{application.generalDetails.linkCase.remove.title(${linkedCase.lscCaseReference})}"/>
        <p class="govuk-body-l"
            th:text="#{application.generalDetails.linkCase.remove.line1(${linkedCase.lscCaseReference})}"/>
        <div class="govuk-button-group">
            <govuk:button type="submit" th:text="#{site.confirm}"/>
            <govuk:button classes="govuk-button--secondary"
                          th:text="#{site.cancel}"
                          th:href="@{/application/sections/linked-cases}"/>
        </div>
        </form>
    </div>
</div>
</body>
</html>