<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/sections/correspondence-address}" class="govuk-back-link"
            th:text="#{application.generalDetails.linkCase.summary.goBack}"/>
    </div>
    <div id="main-content">
        <span class="govuk-caption-l" th:text="#{application.create}"/>
        <h1 class="govuk-heading-l" th:text="#{application.generalDetails.linkCase.summary.title}"/>
        <p class="govuk-body-l" th:text="#{application.generalDetails.linkCase.summary.line1}"/>
        <div class="govuk-inset-text" th:if="${#lists.isEmpty(linkedCases.content)}"
             id="no-linked-cases-message"
            th:text="#{application.generalDetails.linkCase.summary.noCases}"/>
        <table class="govuk-table" th:unless="${#lists.isEmpty(linkedCases.content)}">
            <caption class="govuk-table__caption govuk-table__caption--m"
                th:text="#{application.generalDetails.linkCase.summary.table.caption}"/>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.laaCaseReference}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.clientName}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.providerCaseReference}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.categoryOfLaw}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.feeEarner}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.status}"/>
                    <th scope="col" class="govuk-table__header"
                        th:text="#{application.generalDetails.linkCase.action}"/>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="linkedCase, idx : ${linkedCases.content}">
                    <td class="govuk-table__cell">
                        <a th:id="|lsc-case-reference-${idx.index}|"
                            th:href="@{/application/sections/linked-cases/{id}/confirm(id=${linkedCase.id})}"
                           class="govuk-link" th:text="${linkedCase.lscCaseReference}"/>
                    </td>
                    <td class="govuk-table__cell"
                        th:id="|client-name-${idx.index}|"
                        th:text="${linkedCase.clientFirstName + ' ' + linkedCase.clientSurname}"/>
                    <td class="govuk-table__cell"
                        th:id="|provider-case-reference-${idx.index}|"
                        th:text="${linkedCase.providerCaseReference}"/>
                    <td class="govuk-table__cell"
                        th:id="|category-of-law-${idx.index}|"
                        th:text="${linkedCase.categoryOfLaw}"/>
                    <td class="govuk-table__cell"
                        th:id="|fee-earner-${idx.index}|"
                        th:text="${linkedCase.feeEarner}"/>
                    <td class="govuk-table__cell"
                        th:id="|status-${idx.index}|"
                        th:text="${linkedCase.status}"/>
                    <td class="govuk-table__cell">
                        <a th:id="|remove-linked-case-${idx.index}|"
                            th:href="@{/application/sections/linked-cases/{id}/remove(id=${linkedCase.id})}"
                           class="govuk-link" th:text="#{site.remove}"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="govuk-button govuk-button--secondary"
           id="link-a-case-button"
           data-module="govuk-button"
           th:text="#{application.generalDetails.linkCase.summary.linkACaseButton}"
           th:href="@{/application/sections/linked-cases/search}"/>
        <div class="govuk-button-group">
            <a class="govuk-button"
               th:href="@{/application/sections}"
                th:text="#{site.confirm}"/>
        </div>
    </div>
</div>
</body>
</html>