<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs},userRoles=${user.functions},pageRoles='SUBUC')}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{client.edit}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/sections(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
       th:text="#{${@caseContextService.getGoBackText(caseContext)}}"/>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/sections/client/details/summary(caseContext=${caseContext.pathValue})}"
          th:object="${clientFlowFormData}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{client.edit}"></span>
      <h1 class="govuk-heading-l" th:text="#{client.summary}"></h1>
      <p class="govuk-body-l" th:text="#{client.summary.edit.leadParagraph}">
        <span class="govuk-!-font-weight-bold" th:text="#{client.summary.edit.leadParagraph.bold}"></span>
      </p>
      <div th:replace="~{application/partials/client-fragments :: clientSummaryFragment}"></div>
      <div class="govuk-button-group">
        <div th:replace="~{partials/actions :: restrictedSubmitButton('Submit amendments',
              ${user.functions}, 'SUBUC')}"></div>
      </div>
    </form>
  </div>
</div>
</body>
</html>