<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/sections/client/details/summary}" class="govuk-back-link" th:text="#{site.cancelAndReturnToAmendClient}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/sections/client/details/contact}" th:object="${contactDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{client.edit}"></span>
      <h1 class="govuk-heading-l" th:text="#{client.contact}"></h1>
      <p class="govuk-body-l" th:text="#{client.contact.edit.leadParagraph}"></p>
      <div th:replace="~{application/partials/client-fragments :: clientContactFragment}"></div>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button"
                data-module="govuk-button" th:text="#{site.confirm}"></button>
      </div>
    </form>
  </div>
</div>
</body>
</html>