<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/sections/client/details/summary}" class="govuk-back-link">Cancel and return to amend client</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/sections/client/details/deceased}" th:object="${deceasedDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l">Edit your client</span>
      <h1 class="govuk-heading-l">
        Client deceased
      </h1>
      <p class="govuk-body-l">
        You are about to register your client as deceased. To do this, please enter the date of
        death, and click 'Confirm', otherwise click 'Cancel and return to amend client' to return
        to the summary page
      </p>
      <div class="govuk-form-group" th:classappend="${#fields.hasErrors('dateOfDeath') || #fields.hasErrors('dodDay')|| #fields.hasErrors('dodYear')|| #fields.hasErrors('dodYear')} ? 'govuk-form-group--error' : ''">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-death-hint date-of-death-error">
          <legend class="govuk-fieldset__legend">
            <h1 class="govuk-fieldset__heading">
              When was your client's death registered?
            </h1>
          </legend>
          <div id="date-of-death-hint" class="govuk-hint">
            For example, 27 3 2007
          </div>
          <p id="date-of-death-error" class="govuk-error-message">
          <span th:each="error : ${#fields.detailedErrors()}">
              <span th:inline="text" th:if="${error.fieldName == 'dodDay' || error.fieldName == 'dodMonth' || error.fieldName == 'dodYear'}">
                  <span th:utext="${error.message + '<br>'}"></span>
              </span>
          </span>
          </p>
          <div class="govuk-date-input" id="dateOfDeath">
            <div th:replace="partials/forms::numericInput('dodDay', 'Day', '2')"></div>
            <div th:replace="partials/forms::numericInput('dodMonth', 'Month', '2')"></div>
            <div th:replace="partials/forms::numericInput('dodYear', 'Year', '4')"></div>
          </div>
        </fieldset>
      </div>
      <p class="govuk-body">
        Once this amendment is submitted, this and any related cases will be referred to the LAA who
        will discharge the case. All other possible activity on this case will thereafter be
        suspended.
      </p>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>