<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:moj="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{client.edit}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/sections/client/details/summary(caseContext=${caseContext.pathValue})}" class="govuk-back-link" th:text="#{site.cancelAndReturnToAmendClient}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/sections/client/details/deceased(caseContext=${caseContext.pathValue})}" th:object="${deceasedDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{client.edit}"></span>
      <h1 class="govuk-heading-l" th:text="#{client.deceased}"></h1>
      <p class="govuk-body-l" th:text="#{client.deceased.leadParagraph}"></p>
      <moj:datepicker
              id="dod"
              name="dateOfDeath"
              th:label="#{client.deceased.question}"
              th:hint="#{site.dateHint}"
              th:errorMessage="${#fields.hasErrors('dateOfDeath') ? #fields.errors('dateOfDeath').getFirst() : ''}"
              th:value="*{__${'dateOfDeath'}__}">
      </moj:datepicker>

      <p class="govuk-body" th:text="#{client.deceased.text1}"></p>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>