<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org"
      xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/sections}" class="govuk-back-link" th:text="#{site.cancelAndReturnToApplication}"></a>
  </div>
  <div id="main-content">
    <form th:action="@{/application/sections/correspondence-address}" th:object="${addressDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{application.create}"/>
      <h1 class="govuk-heading-l" th:text="#{application.generalDetails.correspondenceAddress.title}"/>

      <p class="govuk-body-l" th:text="#{application.generalDetails.correspondenceAddress.line1}"/>
      <p class="govuk-body-l" th:text="#{application.generalDetails.correspondenceAddress.line2}"/>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <th:block th:replace="~{partials/forms :: dropdown('preferredAddress',
            #{address.preferred},
            ${caseAddressOptions}, 'code', 'description', false)}"/>
          <th:block th:replace="~{partials/forms :: dropdown('country',
            #{address.country},
            ${countries}, 'code', 'description', false)}"/>
          <th:block th:replace="~{partials/forms :: textInput('houseNameNumber',
            #{address.house},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: textInput('postcode',
            #{address.postcode},
            'govuk-input--width-20')}"/>
          <div class="govuk-form-group">
            <govuk:button id="find-address-button" classes="govuk-button--secondary"
                          th:text="#{address.find}"
                          th:href="@{/application/sections/linked-cases/search}"/>
          </div>
          <th:block th:replace="~{partials/forms :: textInput('careOf',
            #{address.careOf},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: textInput('addressLine1',
            #{address.address1},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: textInput('addressLine2',
            #{address.address2},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: textInput('cityTown',
            #{address.city},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: textInput('county',
            #{address.county},
            'govuk-input--width-20')}"/>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
            <govuk:button id="next-button"
                          value="next"
                          th:text="#{site.next}"/>
            <button type="submit" name="action" value="next" class="govuk-button"
                    data-module="govuk-button" th:text="#{site.next}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>