<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.create}"></title>

<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:if="${caseContext == 'application'}" th:href="@{/application/sections}" class="govuk-back-link">Return to
            create application</a>
        <a th:if="${caseContext == 'amendments'}" th:href="@{/amendments/summary}" class="govuk-back-link">Return to
            amendments</a>
    </div>
    <div id="main-content">
        <h1 class="govuk-heading-l">
            Document upload
        </h1>
        <p class="govuk-body-l">
            If you have all the documents available at application you can upload them here. Caseworkers will be only
            be able to view your documents once the application has been submitted.
        </p>
        <p th:if="${caseContext == 'application'}" class="govuk-hint">
            This list has been created from your answers within means and merits.
        </p>
        <p th:if="${caseContext == 'amendments'}" class="govuk-hint">
            This list has been created when Prior Authority is added or
            from your answers within means and merits amendments
        </p>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="row" colspan="3" class="govuk-table__header">Item</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="document : ${evidenceRequired}"
                th:unless="${evidenceRequired.isEmpty()}">
                <td class="govuk-table__cell" th:text="${documentStat.count}"/>
                <td class="govuk-table__cell" th:text="${document.description}"></td>
                <td class="govuk-table__cell">
                    <img th:if="${document.provided}" th:src="@{/assets/ccms/tick.gif}" alt="Evidence provided"/>
                </td>
            <tr>
            <tr class="govuk-table__row" th:if="${evidenceRequired.isEmpty()}">
                <td class="govuk-table__cell" colspan="2">None</td>
            </tr>
            </tbody>
        </table>

        <div class="govuk-form-group" th:if="${evidenceUploaded.isEmpty()}">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Do you have all the required documents to upload?
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="showFileUpload-yes" name="showFileUpload" type="radio"
                               value="yes" data-aria-controls="conditional-add-file"/>
                        <label class="govuk-label govuk-radios__label" for="showFileUpload-yes">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-file">
                        <div class="govuk-form-group">
                            <p class="govuk-hint">
                                You can upload the documents as part of this application.
                            </p>
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    Caseworkers will be only be able to view your documents once the application has
                                    been submitted.
                                </strong>
                            </div>
                            <a th:href="@{/{caseContext}/evidence/add(caseContext=${caseContext})}" role="button"
                               draggable="false"
                               class="govuk-button" data-module="govuk-button">
                                Upload evidence
                            </a>
                        </div>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="showFileUpload-no" name="showFileUpload" type="radio"
                               value="no" data-aria-controls="conditional-no-evidence"/>
                        <label class="govuk-label govuk-radios__label" for="showFileUpload-no">
                            No
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                         id="conditional-no-evidence">
                        <div th:if="${caseContext == 'application'}" class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-visually-hidden">Warning</span>
                                You will be sent a notification to upload the required documents once the
                                application has been submitted.
                            </strong>
                        </div>
                        <a th:if="${caseContext == 'application'}" th:href="@{/application/sections}" role="button"
                           draggable="false" class="govuk-button"
                           data-module="govuk-button">
                            Return to application summary
                        </a>
                        <a th:if="${caseContext == 'amendments'}" th:href="@{/amendments/evidence/sections}"
                           role="button" draggable="false" class="govuk-button"
                           data-module="govuk-button">
                            Return to amendments summary
                        </a>
                    </div>
                </div>
            </fieldset>
        </div>

        <th:block th:unless="${evidenceUploaded.isEmpty()}">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Files uploaded</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">File</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Document Description</th>
                    <th scope="col" class="govuk-table__header">Date</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row" th:each="uploadedDoc: ${evidenceUploaded}"
                    th:unless="${evidenceUploaded.isEmpty()}">
                    <td class="govuk-table__cell" th:text="${uploadedDoc.fileName}"></td>
                    <td class="govuk-table__cell" th:text="${uploadedDoc.documentType.displayValue}"></td>
                    <td class="govuk-table__cell" th:text="${uploadedDoc.description}"></td>
                    <td class="govuk-table__cell"
                        th:text="${#dates.format(uploadedDoc.auditTrail.created, 'dd/MM/yyyy')}"></td>
                    <td class="govuk-table__cell">
                        <a th:href="@{/${caseContext}/evidence/{id}/remove(id=${uploadedDoc.id})}"
                           class="govuk-link"
                           th:text="Remove"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/${caseContext}/evidence/add}" role="button" draggable="false" class="govuk-button"
               data-module="govuk-button">
                Add new file
            </a>
        </th:block>
    </div>
</div>
</body>
</html>