<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"></title>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{application.amendment}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:if="${caseContext.isApplication()}" th:href="@{/application/sections}" class="govuk-back-link">Return to create application</a>
    <a th:if="${caseContext.isAmendment()}" th:href="@{/amendments/summary}" class="govuk-back-link" th:text="#{site.returnToAmendCase}"></a>
  </div>
  <div id="main-content">
    <span th:if="${caseContext.isApplication()}" class="govuk-caption-l" th:text="#{application.create}"></span>
    <span th:if="${caseContext.isAmendment()}" class="govuk-caption-l" th:text="#{application.amendment}"></span>
    <h1 class="govuk-heading-l" th:text="#{application.section.opponents}"></h1>
    <p class="govuk-body-l" th:text="#{application.opponents.leadParagraph}"></p>
    <p class="govuk-body-l" th:text="#{application.opponents.liveCertificateRemovalGuidance}"></p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" th:text="#{caseDetails.opponents.party.name}"></th>
          <th scope="col" class="govuk-table__header" th:text="#{caseDetails.opponents.party.type}"></th>
          <th scope="col" class="govuk-table__header" th:text="#{caseDetails.opponents.relationship.case}"></th>
          <th scope="col" class="govuk-table__header" th:text="#{caseDetails.opponents.relationship.client}"></th>
          <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row" th:each="opponent : ${opponents}" th:unless="${opponents.isEmpty()}">
          <td class="govuk-table__cell" th:if="${opponent.editable}">
            <a th:href="@{/{caseContext}/sections/opponents/{id}/edit(caseContext=${caseContext.getPathValue()},id=${opponent.id})}"
               class="govuk-link"
               th:text="${opponent.partyName}"></a>
          </td>
          <td class="govuk-table__cell" th:unless="${opponent.editable}" th:text="${opponent.partyName}"></td>
          <td class="govuk-table__cell" th:text="${caseContext.isAmendment() ? opponent.partyType : opponent.type}"></td>
          <td class="govuk-table__cell" th:text="${caseContext.isAmendment() ? opponent.relationshipToCase : opponent.relationshipToCaseDisplayValue}"></td>
          <td class="govuk-table__cell" th:text="${caseContext.isAmendment() ? opponent.relationshipToClient : opponent.relationshipToClientDisplayValue}"></td>
          <td class="govuk-table__cell">
            <a th:if="${caseContext.isAmendment() ? opponent.editable : opponent.deletable}"
               th:href="@{/{caseContext}/sections/opponents/{id}/remove(caseContext=${caseContext.getPathValue()},id=${opponent.id})}"
               class="govuk-link"
               th:text="#{site.remove}"></a>
          </td>
        </tr>
        <tr class="govuk-table__row" th:if="${opponents.isEmpty()}">
          <td class="govuk-table__cell" colspan="5" th:text="#{site.none}"></td>
        </tr>
      </tbody>
    </table>
    <a class="govuk-button govuk-button--secondary"
       data-module="govuk-button"
       th:href="@{/{caseContext}/sections/opponents/organisation/search(caseContext=${caseContext.getPathValue()})}">
      <span th:text="#{application.opponents.addOrganisation}"></span>
    </a>
    <a class="govuk-button govuk-button--secondary"
       data-module="govuk-button"
       th:href="@{/{caseContext}/sections/opponents/individual/create(caseContext=${caseContext.getPathValue()})}">
      <span th:text="#{application.opponents.addIndividual}"></span>
    </a>
  </div>
</div>
</body>
</html>
