<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs},userRoles=${user.functions},pageRoles='SUBAPP')}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.summary}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.returnToHome}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/sections}" th:object="${formData}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{application.create}"></span>
      <h1 class="govuk-heading-l" th:text="#{application.summary}"></h1>
      <p class="govuk-body-l" th:utext="#{application.summary.tasks.leadParagraph}"></p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m" th:text="#{application.summary.tasks.table.heading.sections}"></caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" th:text="#{application.summary.tasks.table.heading.sections}"></th>
              <th scope="col" class="govuk-table__header" th:text="#{site.status}"></th>
              <th scope="col" class="govuk-table__header" th:text="#{application.summary.tasks.table.heading.lastSaved}"></th>
              <th scope="col" class="govuk-table__header" th:text="#{application.summary.tasks.table.heading.lastSavedBy}"></th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" th:text="#{site.action}"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" th:if="${summary.applicationType.enabled}">
                <a th:href="@{/application/sections/application-type}" class="govuk-link govuk-link--no-visited-state" th:text="#{application.type}"></a>
              </td>
              <td class="govuk-table__cell" th:unless="${summary.applicationType.enabled}" th:text="#{application.type}">
              <td class="govuk-table__cell" id="application-type-description" th:text="${summary.applicationType.description}"></td>
              <td class="govuk-table__cell" th:text="${#dates.format(summary.applicationType.lastSaved, 'dd/MM/yyyy')}"></td>
              <td class="govuk-table__cell" th:text="${summary.applicationType.lastSavedBy}"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a th:href="@{/application/sections/provider-details}" class="govuk-link govuk-link--no-visited-state" th:text="#{application.section.providerDetails}"></a></td>
              <td class="govuk-table__cell" id="provider-details-status" th:insert="~{application/partials/status-tag :: statusTag(${summary.provider.status})}"></td>
              <td class="govuk-table__cell" th:text="${#dates.format(summary.provider.lastSaved, 'dd/MM/yyyy')}"></td>
              <td class="govuk-table__cell" th:text="${summary.provider.lastSavedBy}"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a th:href="@{/application/sections/client/details/summary}" class="govuk-link govuk-link--no-visited-state" th:text="#{client.details}"></a></td>
              <td class="govuk-table__cell" id="client-details-status" th:insert="~{application/partials/status-tag :: statusTag(${summary.client.status})}"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a th:href="@{/application/sections/correspondence-address}" class="govuk-link govuk-link--no-visited-state" th:text="#{application.section.generalDetails}"></a></td>
              <td class="govuk-table__cell" id="general-details-status" th:insert="~{application/partials/status-tag :: statusTag(${summary.generalDetails.status})}"></td>
              <td class="govuk-table__cell" th:text="${#dates.format(summary.generalDetails.lastSaved, 'dd/MM/yyyy')}"></td>
              <td class="govuk-table__cell" th:text="${summary.generalDetails.lastSavedBy}"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a th:href="@{/application/proceedings-and-costs}" class="govuk-link govuk-link--no-visited-state" th:text="#{application.section.proceedingsCosts}"></a></td>
              <td class="govuk-table__cell" id="proceedings-and-costs-status" th:insert="~{application/partials/status-tag :: statusTag(${summary.proceedingsAndCosts.status})}"></td>
              <td class="govuk-table__cell" th:text="${#dates.format(summary.proceedingsAndCosts.lastSaved, 'dd/MM/yyyy')}"></td>
              <td class="govuk-table__cell" th:text="${summary.proceedingsAndCosts.lastSavedBy}"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a th:href="@{/application/sections/opponents}" class="govuk-link govuk-link--no-visited-state" th:text="#{application.section.opponents}"></a></td>
              <td class="govuk-table__cell" id="opponents-status" th:insert="~{application/partials/status-tag :: statusTag(${summary.opponentsAndOtherParties.status})}"></td>
              <td class="govuk-table__cell" th:text="${#dates.format(summary.opponentsAndOtherParties.lastSaved, 'dd/MM/yyyy')}"></td>
              <td class="govuk-table__cell" th:text="${summary.opponentsAndOtherParties.lastSavedBy}"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <th:block th:if="${summary.applicationType.status} == 'Exceptional Case Funding'">
              <th:block th:insert="~{application/partials/summary-fragments :: meritsAssessmentFragment}"></th:block>
              <th:block th:insert="~{application/partials/summary-fragments :: meansAssessmentFragment}"></th:block>
            </th:block>
            <th:block th:unless="${summary.applicationType.status} == 'Exceptional Case Funding'">
              <th:block th:insert="~{application/partials/summary-fragments :: meansAssessmentFragment}"></th:block>
              <th:block th:insert="~{application/partials/summary-fragments :: meritsAssessmentFragment}"></th:block>
            </th:block>
            <tr class="govuk-table__row">
              <th:block th:if="${summary.documentUpload.enabled}">
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" th:href="@{/application/sections/evidence}" th:text="#{application.section.documents}"></a></td>
                <td class="govuk-table__cell"></td>
              </th:block>
              <th:block th:unless="${summary.documentUpload.enabled}">
                <td class="govuk-table__cell" th:text="#{application.section.documents}"></td>
                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not available</strong></td>
              </th:block>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a class="govuk-link govuk-link--no-visited-state" th:href="@{/application/sections/summary}" th:text="#{application.section.review}"></a>
              </td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            </tbody>
          </table>
          <div class="govuk-button-group">
            <div
                th:replace="~{partials/actions :: restrictedSubmitButton(#{application.complete},
                ${user.functions}, 'SUBAPP')}"></div>

            <govuk:button classes="govuk-button--secondary"
                          th:text="#{application.abandon}"
                          th:href="@{/application/abandon}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>


