<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/application/client/details/cancel?" class="govuk-back-link">Cancel and return to client search</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/details/address}" th:object="${clientDetails}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your client</span>
            <h1 class="govuk-heading-l">
                Client address details
            </h1>
            <p class="govuk-body-l">
                Please enter the main address details for your client below. The “Find address”
                button is only valid for UK addresses. For non-UK Addresses please manually enter
                the details. When entering an address manually the details entered into the 'House
                name / number' field will not appear on the address details for the purposes of
                correspondence. Please ensure that the House number is also entered in the 'Address
                line 1' field.
            </p>
            <div class="govuk-grid-row" th:if="${clientDetails.vulnerableClient}">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        You have indicated that this client is vulnerable. For security reasons the
                        main address will not be stored.
                    </p>
                    <h2 class="govuk-heading-m">
                        Main address
                    </h2>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Country
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                House name / Number
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Postcode
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Address line 1
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Address line 2
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                City / Town
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Country
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <p class="govuk-body">
                                Not applicable
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row" th:unless="${clientDetails.vulnerableClient}">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">
                        Main address
                    </h2>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend">
                                <h2 class="govuk-fieldset__heading">
                                    Is your client considered to be homeless and/or do they have no permanent residence?
                                </h2>
                                <div id="noFixedAbode-hint" class="govuk-hint">
                                    If selecting 'Yes' then do not enter any address details below and click 'Next'
                                </div>
                            </legend>
                            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="noFixedAbode-yes" name="noFixedAbode" type="radio" value="true" th:checked="${clientDetails.noFixedAbode}">
                                    <label class="govuk-label govuk-radios__label" for="noFixedAbode-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="noFixedAbode-no" name="noFixedAbode" type="radio" value="false" th:checked="${!clientDetails.noFixedAbode}">
                                    <label class="govuk-label govuk-radios__label" for="noFixedAbode-no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('country')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="country">
                            Country
                        </label>
                        <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="govuk-error-message"></span>
                        <select class="govuk-select"
                                data-module="govuk-select"
                                th:field="*{country}"
                                th:errorclass="govuk-select--error"
                                id="country"
                                name="country">
                            <option value="">Please Select</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.code}"
                                    th:text="${country.description}">
                            </option>
                        </select>
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('houseNameNumber')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="houseNameNumber">
                            House name / number
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="houseNameNumber"
                               name="houseNameNumber"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{houseNameNumber}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('postcode')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="postcode">
                            Postcode
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="postcode"
                               name="postcode"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{postcode}">
                    </div>
                    <div class="govuk-form-group">
                        <button type="submit" name="action" value="find_address" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Find address
                        </button>
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressLine1')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="addressLine1">
                            Address line 1
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="addressLine1"
                               name="addressLine1"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{addressLine1}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('addressLine2')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="addressLine2">
                            Address line 2 (optional)
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="addressLine2"
                               name="addressLine2"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{addressLine2}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('cityTown')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="cityTown">
                            City / Town
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="cityTown"
                               name="cityTown"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{cityTown}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('county')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="county">
                            County (optional)
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="county"
                               name="county"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{county}">
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-button-group">
                        <button type="submit" name="action" value="next" class="govuk-button" data-module="govuk-button">
                            Next
                        </button>
                        <a class="govuk-button govuk-button--secondary"
                           data-module="govuk-button"
                           href="/application/client/details/contact">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>