<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/client/details/cancel}" class="govuk-back-link">Cancel and return to client search</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/details/basic}" th:object="${basicDetails}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your client</span>
            <h1 class="govuk-heading-l">
                Basic client details
            </h1>
            <p class="govuk-body-l">
                Please enter the relevant basic details in the fields provided.
            </p>
            <div th:replace="~{application/partials/client-fragments :: clientBasicFragment}"></div>
            <div class="govuk-button-group">
                <govuk:button type="submit" th:text="#{site.next}"/>
                <govuk:button classes="govuk-button--secondary"
                              th:text="#{site.back}"
                              th:href="@{/application/client/details/cancel}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>