<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/application/client/details/cancel" class="govuk-back-link">Cancel and return to client search</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/details/basic}" th:object="${clientDetails}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your client</span>
            <h1 class="govuk-heading-l">
                Basic client details
            </h1>
            <p class="govuk-body-l">
                Please enter the relevant basic details in the fields provided.
            </p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('title')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="title">
                            Title
                        </label>
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="govuk-error-message"></span>
                        <select class="govuk-select"
                                data-module="govuk-select"
                                th:field="*{title}"
                                th:errorclass="govuk-select--error"
                                id="title"
                                name="title">
                            <option value="">Please Select</option>
                            <option th:each="title : ${titles}" th:value="${title.code}" th:text="${title.description}"></option>
                        </select>
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('surname')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="surname">
                            Surname
                        </label>
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="govuk-error-message"></span>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="surname"
                               name="surname"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{surname}">
                    </div>
                    <p class="govuk-body">
                        <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            First name
                        </span>
                        <span th:text="${clientDetails.firstName}"></span>
                    </p>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="clientMiddleName">
                            Middle name(s) (optional)
                        </label>
                        <input th:errorclass="govuk-input--error"
                                class="govuk-input govuk-input--width-20"
                                id="clientMiddleName"
                                name="clientMiddleName"
                                type="text"
                                data-module="govuk-input"
                                th:field="*{middleNames}">
                    </div>
                    <p class="govuk-body">
                        <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            Surname at birth
                        </span>
                        <span th:text="${clientDetails.surnameAtBirth}"></span>
                    </p>
                    <p class="govuk-body">
                        <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            Date of birth (DD/MM/YYYY)
                        </span>
                        <span th:text="${clientDetails.dobDay} + '/' + ${clientDetails.dobMonth} + '/' + ${clientDetails.dobYear}"></span>
                    </p>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('countryOfOrigin')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="countryOfOrigin">
                            Country of origin
                        </label>
                        <span th:if="${#fields.hasErrors('countryOfOrigin')}" th:errors="*{countryOfOrigin}" class="govuk-error-message"></span>
                        <select class="govuk-select" data-module="govuk-select" th:field="*{countryOfOrigin}" th:errorclass="govuk-select--error" id="countryOfOrigin" name="countryOfOrigin">
                            <option value="">Please Select</option>
                            <option th:each="country : ${countries}"
                                    th:value="${country.code}"
                                    th:text="${country.description}">
                            </option>
                        </select>
                    </div>

                    <!-- Show paragraph if nationalInsuranceNumber exists -->
                    <p class="govuk-body" th:if="${clientDetails.nationalInsuranceNumber}">
                        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            National Insurance Number
                        </span>
                        <span th:text="${clientDetails.nationalInsuranceNumber}"></span>
                    </p>
                    <!-- Show input field if nationalInsuranceNumber does not exist -->
                    <div class="govuk-form-group" th:unless="${clientDetails.nationalInsuranceNumber}">
                        <label class="govuk-label" for="nationalInsuranceNumber">
                            National Insurance Number (optional)
                        </label>
                        <input th:errorclass="govuk-input--error"
                               class="govuk-input govuk-input--width-20"
                               id="nationalInsuranceNumber"
                               name="nationalInsuranceNumber"
                               type="text"
                               data-module="govuk-input"
                               th:field="*{nationalInsuranceNumber}">
                        <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  National Insurance Number
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                If the client's National Insurance Number is unknown, please leave
                                this field blank
                            </div>
                        </details>
                    </div>

                    <!-- Show paragraph if homeOfficeNumber exists -->
                    <p class="govuk-body" th:if="${clientDetails.homeOfficeNumber}">
                        <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            Home Office Number
                        </span>
                        <span th:text="${clientDetails.homeOfficeNumber}"></span>
                    </p>
                    <!-- Show input field if homeOfficeNumber does not exist -->
                    <div class="govuk-form-group" th:unless="${clientDetails.homeOfficeNumber}">
                        <label class="govuk-label" for="homeOfficeNumber">
                            Home Office Number (optional)
                        </label>
                        <input th:errorclass="govuk-input--error"
                                class="govuk-input govuk-input--width-20"
                                id="homeOfficeNumber"
                                name="homeOfficeNumber"
                                type="text"
                                data-module="govuk-input"
                                th:field="*{homeOfficeNumber}">
                        <details class="govuk-details govuk-!-margin-top-2" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  Help with Home Office Number
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Please enter the client's Home Office reference number allocated
                                by the Home Office. The number consists of a letter followed by
                                a series of numbers (usually 7) and should be cited on documents
                                or correspondence from the Home Office.
                            </div>
                        </details>
                    </div>

                    <!-- Show paragraph if gender exists -->
                    <p class="govuk-body" th:if="${genderDisplayValue}">
                        <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                            Gender
                        </span>
                        <span th:text="${genderDisplayValue}"></span>
                    </p>
                    <!-- Show input field if gender does not exist -->
                    <div class="govuk-form-group" th:unless="${genderDisplayValue}" th:classappend="${#fields.hasErrors('gender')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="gender">
                            Gender
                        </label>
                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="govuk-error-message"></span>
                        <select class="govuk-select" data-module="govuk-select" th:field="*{gender}" th:errorclass="govuk-select--error" id="gender" name="gender">
                            <option value="">Please Select</option>
                            <option th:each="gender : ${genders}" th:value="${gender.code}" th:text="${gender.description}"></option>
                        </select>
                    </div>

                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('maritalStatus')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="maritalStatus">
                            Marital status
                        </label>
                        <span th:if="${#fields.hasErrors('maritalStatus')}" th:errors="*{maritalStatus}" class="govuk-error-message"></span>
                        <select class="govuk-select" data-module="govuk-select" th:field="*{maritalStatus}" th:errorclass="govuk-select--error" id="maritalStatus" name="maritalStatus">
                            <option value="">Please Select</option>
                            <option th:each="maritalStatus : ${maritalStatusList}" th:value="${maritalStatus.code}" th:text="${maritalStatus.description}"></option>
                        </select>
                    </div>

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend">
                                Which types apply to your client?
                            </legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="vulnerableClient" name="vulnerableClient" type="checkbox" th:checked="${clientDetails.vulnerableClient}" />
                                    <label class="govuk-label govuk-checkboxes__label" for="vulnerableClient">
                                        Vulnerable client
                                    </label>
                                    <input type="hidden" name="_vulnerableClient" value="on">
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="highProfileClient" name="highProfileClient" type="checkbox" th:checked="${clientDetails.highProfileClient}">
                                    <label class="govuk-label govuk-checkboxes__label" for="highProfileClient">
                                        High profile client
                                    </label>
                                    <input type="hidden" name="_highProfileClient" value="on">
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="vexatiousLitigant" name="vexatiousLitigant" type="checkbox" th:checked="${clientDetails.vexatiousLitigant}">
                                    <label class="govuk-label govuk-checkboxes__label" for="vexatiousLitigant">
                                        Vexatious litigant
                                    </label>
                                    <input type="hidden" name="_vexatiousLitigant" value="on">
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="mentalIncapacity" name="mentalIncapacity" type="checkbox" th:checked="${clientDetails.mentalIncapacity}">
                                    <label class="govuk-label govuk-checkboxes__label" for="mentalIncapacity">
                                        Mental incapacity
                                    </label>
                                    <input type="hidden" name="_mentalIncapacity" value="on">
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  Help with High profile client
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Please tick the appropriate box if you deem this matter to be high profile;
                                by which we mean the proceedings have attracted media attention
                                and/or are likely to attract media attention or involve person(s)
                                that are noteworthy.
                            </div>
                        </details>
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  Help with Mental incapacity
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Please tick the appropriate box if you consider your client to have
                                a mental impairment which has a substantial and long-term adverse
                                effect on a persons ability to carry out normal day-to-day
                                activities.
                            </div>
                        </details>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Next
                        </button>
                        <a class="govuk-button govuk-button--secondary"
                           data-module="govuk-button"
                           href="/application/client/details/cancel">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>