<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs"></div>
    <div id="main-content" style="padding-top: 40px;">
        <form action="#" th:action="@{/application/client/details/cancel}" method="post">
            <span class="govuk-caption-l" th:text="#{client.about}"></span>
            <h1 class="govuk-heading-l" th:text="#{client.cancel}"></h1>
            <p class="govuk-body-l" th:text="#{client.cancel.leadParagraph}">
            </p>
            <div class="govuk-button-group">
                <govuk:button type="submit" th:text="#{site.confirm}"/>
                <govuk:button classes="govuk-button--secondary"
                              th:text="#{site.back}"
                              th:href="@{/application/client/details/basic}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>