<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/client/search}" class="govuk-back-link" th:text="#{site.cancelAndReturnToClientSearch}"></a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/details/summary}" th:object="${clientFlowFormData}" method="post">
            <span class="govuk-caption-l" th:text="#{client.about}"></span>
            <h1 class="govuk-heading-l" th:text="#{client.summary}">
            </h1>
            <p class="govuk-body-l"  th:text="#{client.summary.leadParagraph}"></p>
            <div th:replace="~{application/partials/client-fragments :: clientSummaryFragment}"></div>
            <div class="govuk-button-group">
                <govuk:button type="submit" th:text="#{client.submit}"/>
                <govuk:button classes="govuk-button--secondary"
                              th:text="#{site.back}"
                              th:href="@{/application/client/details/equal-opportunities-monitoring}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>