<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/civil/application/client/search" class="govuk-back-link">Cancel and return to client search</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/details/summary}" th:object="${clientFlowFormData}" method="post">
            <span class="govuk-caption-l">About your client</span>
            <h1 class="govuk-heading-l">
                Summary of client information
            </h1>
            <p class="govuk-body-l">
                You are about to create a new client record, after which you may go back and edit
                any details that change, or request deletion of the record from the LAA. Please
                check the summary details are correct before registration.
            </p>
            <div th:replace="~{application/partials/client-fragments :: clientSummaryFragment}"></div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Submit client
                </button>
                <a class="govuk-button govuk-button--secondary"
                   data-module="govuk-button"
                   href="/civil/application/client/details/equal-opportunities-monitoring">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>