<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{yourFirm.heading}|"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.returnToHome}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/provider-switch}" th:object="${providerFirmFormData}"
          method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <h1 class="govuk-heading-l" th:text="#{yourFirm.heading}"/>
      <p class="govuk-body-l" th:text="#{yourFirm.leadParagraph}"/>
      <div
        th:replace="~{partials/forms :: dropdown('providerFirmId', #{yourFirm.availableFirms},
          ${providerFirms}, 'id', 'name', true)}"></div>
      <div class="govuk-button-group">
        <govuk:button id="confirm-button" type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>
