<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start New Application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/" class="govuk-back-link">Cancel and return to Home</a>
    </div>
    <div id="main-content">
        <span class="govuk-caption-l">About your application</span>
        <h1 class="govuk-heading-l">
            Client search
        </h1>
        <form action="#" th:action="@{/application/client-search}" th:object="${clientSearchCriteria}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <p class="govuk-body-l">
                To find a client registered within the LAA system, please enter any or all of the details for that
                client in the fields below. The more details entered, the better the match. If your search returns more
                than 100 results, you will be asked to refine your search instead of displaying all the results. This is
                to ensure that you use the correct client record in your new application.
            </p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('forename')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="forename">
                           First name
                        </label>
                        <span th:if="${#fields.hasErrors('forename')}" th:errors="*{forename}" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-input--width-20" id="forename" name="forename" type="text"
                               th:value="${clientSearchCriteria.forename}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('surname')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="surname">
                            Surname at birth
                        </label>
                        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-input--width-20" id="surname" name="surname" type="text"
                               th:value="${clientSearchCriteria.surname}">
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('dobDay') || #fields.hasErrors('dobMonth') || #fields.hasErrors('dobYear')} ? 'govuk-form-group--error' : ''">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint dob-error">
                            <legend class="govuk-fieldset__legend">
                                Date of birth
                            </legend>
                            <div id="dob-hint" class="govuk-hint">
                                For example, 27 3 2007
                            </div>
                            <p id="dob-error" class="govuk-error-message">
                                <span th:each="error : ${#fields.detailedErrors()}">
                                    <span th:inline="text" th:if="${error.fieldName == 'dobDay' || error.fieldName == 'dobMonth' || error.fieldName == 'dobYear'}">
                                        <span th:utext="${error.message + '<br>'}"></span>
                                    </span>
                                </span>
                            </p>
                            <div class="govuk-date-input" id="dob">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dobDay">
                                            Day
                                        </label>
                                        <input th:classappend="${#fields.hasErrors('dobDay')} ? 'govuk-input--error' : ''"
                                               class="govuk-input govuk-date-input__input govuk-input--width-2"
                                               id="dobDay"
                                               name="dobDay"
                                               type="text"
                                               inputmode="numeric"
                                               maxlength="2"
                                               th:value="${clientSearchCriteria.dobDay}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dobMonth">
                                            Month
                                        </label>
                                        <input th:classappend="${#fields.hasErrors('dobMonth')} ? 'govuk-input--error' : ''"
                                               class="govuk-input govuk-date-input__input govuk-input--width-2"
                                               id="dobMonth"
                                               name="dobMonth"
                                               type="text"
                                               inputmode="numeric"
                                               maxlength="2"
                                               th:value="${clientSearchCriteria.dobMonth}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="dobYear">
                                            Year
                                        </label>
                                        <input th:classappend="${#fields.hasErrors('dobYear')} ? 'govuk-input--error' : ''"
                                               class="govuk-input govuk-date-input__input govuk-input--width-4"
                                               id="dobYear"
                                               name="dobYear"
                                               type="text"
                                               inputmode="numeric"
                                               maxlength="4"
                                               th:value="${clientSearchCriteria.dobYear}">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <label class="govuk-label" for="gender">
                                Gender (optional)
                            </label>
                            <select class="govuk-select" data-module="govuk-select" th:field="*{gender}" th:errorclass="govuk-select--error" id="gender" name="gender" >
                                <option value="">Please Select</option>
                                <option th:each="gender : ${genders}" th:value="${gender.code}" th:text="${gender.description}"></option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <label class="govuk-label" for="uniqueIdentifierType">
                                Unique identifier type (optional)
                            </label>
                            <select class="govuk-select" data-module="govuk-select" th:field="*{uniqueIdentifierType}" th:errorclass="govuk-select--error" id="uniqueIdentifierType" name="uniqueIdentifierType" >
                                <option value="">Please Select</option>
                                <option th:each="type : ${uniqueIdentifierTypes}" th:value="${type.code}" th:text="${type.description}"></option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('uniqueIdentifierValue')} ? 'govuk-form-group--error' : ''">
                        <label class="govuk-label" for="uniqueIdentifierValue">
                            Unique identifier value (optional)
                        </label>
                        <span th:if="${#fields.hasErrors('uniqueIdentifierValue')}" th:errors="*{uniqueIdentifierValue}" class="govuk-error-message"></span>
                        <input class="govuk-input govuk-input--width-20" id="uniqueIdentifierValue" name="uniqueIdentifierValue" type="text"
                               th:value="${clientSearchCriteria.uniqueIdentifierValue}">
                    </div>
                    <div class="govuk-form-group">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  Help with unique identifier
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Please select an option to use as your unique identifier. It is recommended that you use
                                your client's National Insurance Number but if this is not available please select
                                otherwise.<br><br>
                                If the client's unique identifier is unknown, please leave the fields blank.
                            </div>
                        </details>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>