<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Search for an application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/home}" class="govuk-back-link">Return to Home</a>
    </div>
    <div id="main-content">
        <th:block th:replace="~{application/partials/search-fragments :: searchCaseFormFragment(caption=${'Search for a case or application'},heading=${'Application search'},action=${'/application/search'},copyCase=${false})}"></th:block>
    </div>
</div>
</body>
</html>