<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/civil/" class="govuk-back-link">Return to Home</a>
    </div>
    <div id="main-content">
        <th:block th:replace="~{application/partials/search-fragments :: searchCaseFormFragment(caption=${'Copy an existing case'},heading=${'Application search'},action=${'/application/copy-case/search'},copyCase=${true})}"></th:block>
    </div>
</div>
</body>
</html>