<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/" class="govuk-back-link">Cancel and return to Home</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/client/search}" th:object="${clientSearchCriteria}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your application</span>
            <h1 class="govuk-heading-l">
                Client search
            </h1>
            <p class="govuk-body-l">
                To find a client registered within the LAA system, please enter any or all of the details for that
                client in the fields below. The more details entered, the better the match. If your search returns more
                than 100 results, you will be asked to refine your search instead of displaying all the results. This is
                to ensure that you use the correct client record in your new application.
            </p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:replace="~{partials/forms :: textInput('forename', 'First name', 'govuk-input--width-20')}"></div>
                    <div th:replace="~{partials/forms :: textInput('surname', 'Surname at birth', 'govuk-input--width-20')}"></div>
                    <div class="govuk-form-group" th:classappend="${#fields.hasErrors('dobDay') || #fields.hasErrors('dobMonth') || #fields.hasErrors('dobYear')} ? 'govuk-form-group--error' : ''">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint dob-error">
                            <legend class="govuk-fieldset__legend">
                                Date of birth
                            </legend>
                            <div id="dob-hint" class="govuk-hint">
                                For example, 27 3 2007
                            </div>
                            <p id="dob-error" class="govuk-error-message">
                                <span th:each="error : ${#fields.detailedErrors()}">
                                    <span th:inline="text" th:if="${error.fieldName == 'dobDay' || error.fieldName == 'dobMonth' || error.fieldName == 'dobYear'}">
                                        <span th:utext="${error.message + '<br>'}"></span>
                                    </span>
                                </span>
                            </p>
                            <div class="govuk-date-input" id="dob">
                                <div th:replace="partials/forms::numericInput('dobDay', 'Day', '2')"></div>
                                <div th:replace="partials/forms::numericInput('dobMonth', 'Month', '2')"></div>
                                <div th:replace="partials/forms::numericInput('dobYear', 'Year', '4')"></div>
                            </div>
                        </fieldset>
                    </div>
                    <div th:replace="~{partials/forms :: dropdown('gender', 'Gender (optional)', ${genders}, 'code', 'description', false)}"></div>
                    <div th:replace="~{partials/forms :: dropdown('uniqueIdentifierType', 'Unique identifier type (optional)', ${uniqueIdentifierTypes}, 'code', 'description', false)}"></div>
                    <div th:replace="~{partials/forms :: textInput('uniqueIdentifierValue', 'Unique identifier value (optional)', 'govuk-input--width-20')}"></div>
                    <div class="govuk-form-group">
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                  Help with unique identifier
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                Please select an option to use as your unique identifier. It is recommended that you use
                                your client's National Insurance Number but if this is not available please select
                                otherwise.<br><br>
                                If the client's unique identifier is unknown, please leave the fields blank.
                            </div>
                        </details>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>