<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs" class="govuk-!-padding-top-7">
    </div>
    <div id="main-content">
        <span class="govuk-caption-l" th:text="#{application.about}"></span>
        <h1 class="govuk-heading-l" th:text="#{client.confirm}"></h1>
        <p class="govuk-body" th:text="#{client.confirm.leadParagraph}"></p>
        <form action="#" th:action="@{/application/client/confirmed}" method="post">
            <input type="hidden" name="confirmedClientReference" th:value="${clientReferenceNumber}" />
            <h2 class="govuk-heading-m" th:text="#{client.search.results.caption}"></h2>
            <dl class="govuk-summary-list">
                <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.firstName}, ${client.firstName})}"></div>
                <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.surname}, ${client.surname})}"></div>
                <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{person.surnameAtBirth}, ${client.surnameAtBirth})}"></div>
                <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{address.postcodeDistrict}, ${client.getPostCodeDistrict()})}"></div>
            </dl>
            <div class="govuk-button-group">
                <govuk:button type="submit" th:text="#{site.confirm}"/>
                <govuk:button classes="govuk-button--secondary"
                              th:text="#{site.cancel}"
                              th:href="@{/application/client/results}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
