<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.search}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.returnToHome}"></a>
    </div>
    <div id="main-content">
        <th:block th:replace="~{application/partials/search-fragments :: searchCaseFormFragment(caption=#{application.search.caption},heading=#{application.search.heading},action=${'/application/search'},copyCase=${false})}"></th:block>
    </div>
</div>
</body>
</html>