<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{caseCostDetails.title}|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/case/details}" class="govuk-back-link"
       th:text="#{caseDetails.details.return}"></a>
  </div>

  <div id="main-content">
    <h1 class="govuk-heading-l" id="main-heading" th:text="#{caseCostDetails.title}"></h1>
    <p class="govuk-body-l" id="lead-paragraph" th:text="#{caseCostDetails.leadParagraph}"></p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithId(
            #{caseDetails.costs.limitation.default},
            ${#numbers.formatCurrency(summary.proceedingsAndCosts.defaultCostLimitation)},
            'costs-default-amount-value')}"></div>
          <th:block th:if="${case.costs != null and case.costs.grantedCostLimitation != null and case.costs.costEntries != null and !#lists.isEmpty(case.costs.costEntries)}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithAction(
              #{caseDetails.costs.limitation.granted},
              ${#numbers.formatCurrency(summary.proceedingsAndCosts.grantedCostLimitation)},
              'costs-granted-amount-value',
              #{caseCostDetails.allocation.link},
              @{/case/details/costs/allocation},
              'case-cost-limitation-link',
              null)}"></div>
          </th:block>
          <th:block th:unless="${case.costs != null and case.costs.grantedCostLimitation != null and case.costs.costEntries != null and !#lists.isEmpty(case.costs.costEntries)}">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithId(
              #{caseDetails.costs.limitation.granted},
              ${#numbers.formatCurrency(summary.proceedingsAndCosts.grantedCostLimitation)},
              'costs-granted-amount-value')}"></div>
          </th:block>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayWithId(
            #{caseDetails.costs.limitation.requested},
            ${#numbers.formatCurrency(summary.proceedingsAndCosts.requestedCostLimitation)},
            'costs-requested-amount-value')}"></div>
        </dl>
      </div>
    </div>
  </div>
</div>
</body>
</html>
