<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/proceedings-and-costs#case-costs}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/case-costs(caseContext=${caseContext.pathValue})}"
          th:object="${costDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{proceedings.caseCosts.caption}"/>
      <h1 class="govuk-heading-l" th:text="#{proceedings.caseCosts.heading}"/>
      <p class="govuk-body-l"
        th:text="#{proceedings.caseCosts.leadParagraph}"/>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m"
            th:text="#{proceedings.caseCosts.subheading}"/>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.caseCosts.costLimitation}"/>
              <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.caseCosts.amount}"/>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"
                th:text="#{proceedings.caseCosts.defaultCostLimitation}"/>
              <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(costs.defaultCostLimitation)}"/>
            </tr>
            <tr th:if="${caseApplication.amendment}" class="govuk-table__row">
              <td class="govuk-table__cell"
                th:text="#{proceedings.caseCosts.grantedCostLimitation}"/>
              <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(costs.grantedCostLimitation)}"/>
            </tr>
            </tbody>
          </table>
          <div class="govuk-form-group" th:classappend="${#fields.hasErrors('requestedCostLimitation')} ? 'govuk-form-group--error' : ''">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label" for="requestedCostLimitation"
                th:text="#{proceedings.caseCosts.requestedCostLimitation}"/>
              <span th:if="${#fields.hasErrors('requestedCostLimitation')}"
                    th:errors="*{requestedCostLimitation}"
                    class="govuk-error-message">
              </span>
            </h2>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input th:errorclass="govuk-input--error"
                     class="govuk-input govuk-input--width-5"
                     id="requestedCostLimitation"
                     name="requestedCostLimitation"
                     type="text" spellcheck="false"
                     th:value="*{requestedCostLimitation}">
            </div>
          </div>
          <div class="govuk-button-group">
            <govuk:button type="submit" th:text="#{site.confirm}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>