<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs}, userRoles=${user.functions}, pageRoles='VC')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{counsel.confirm.title}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/lookup/counsels}" class="govuk-back-link" th:text="#{counsel.confirm.link}"></a>
    </div>
    <div id="main-content">
        <div th:if="${error != null}" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title" th:text="#{validation.heading}"></h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#main-content" th:if="${error == 'duplicate'}" th:text="#{counsel.confirm.duplicate}"></a>
                    </li>
                </ul>
            </div>
        </div>

        <h1 class="govuk-heading-l" th:text="#{counsel.confirm.heading}"></h1>
        <p class="govuk-body-l" th:utext="#{counsel.confirm.paragraph}"></p>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="#{counsel.search.name}"></dt>
                <dd class="govuk-summary-list__value" th:text="${counsel.name}"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="#{counsel.search.company}"></dt>
                <dd class="govuk-summary-list__value" th:text="${counsel.company}"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="#{counsel.search.laaCounselRef}"></dt>
                <dd class="govuk-summary-list__value" th:text="${counsel.legalAidSupplierNumber}"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="#{counsel.search.category}"></dt>
                <dd class="govuk-summary-list__value" th:text="${counsel.category}"></dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" th:text="#{counsel.search.county}"></dt>
                <dd class="govuk-summary-list__value" th:text="${counsel.county}"></dd>
            </div>
        </dl>

        <form th:action="@{/application/counsel/confirm}" method="post">
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{site.confirm}"></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
