<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:moj="http://www.thymeleaf.org"
      xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{case.financialAward.title}|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a class="govuk-back-link"
       th:href="@{/case/outcome-and-awards}"
       th:text="#{site.cancelAndReturnToOutcomeAndAwards}"></a>
  </div>

  <div id="main-content">
    <form th:action="@{/case/outcome-and-awards/financial-award}"
          th:object="${financialAward}"
          method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>

      <h1 class="govuk-heading-l" th:text="#{case.financialAward.title}"></h1>
      <p class="govuk-body" th:text="#{case.financialAward.information}"></p>

      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{awardType}">
      <input type="hidden" th:field="*{description}">
      <input type="hidden" th:field="*{awardCode}">

      <moj:datepicker
          id="date-of-order"
          name="dateOfOrder"
          th:label="#{case.financialAward.dateOfOrder}"
          th:hint="#{case.financialAward.dateHint}"
          th:attr="value=*{dateOfOrder}"
          th:errorMessage="${#fields.hasErrors('dateOfOrder') ? #fields.errors('dateOfOrder').getFirst() : ''}">
      </moj:datepicker>

      <div th:replace="~{partials/forms :: currencyInput('awardAmount', #{case.financialAward.awardAmount}, '10')}"></div>
      <div th:replace="~{partials/forms :: dropdown('interimAward', #{case.financialAward.interimAward}, ${interimAwardOptions}, 'code', 'description', false)}"></div>
      <div th:replace="~{partials/forms :: dropdown('awardedBy', #{case.financialAward.awardedBy}, ${awardedByOptions}, 'code', 'description', false)}"></div>
      <div th:replace="~{partials/forms :: largeTextInput('awardJustifications', #{case.financialAward.awardJustifications}, 950)}"></div>

      <moj:datepicker
          id="order-served-date"
          name="orderServedDate"
          th:label="#{case.financialAward.orderServedDate}"
          th:hint="#{case.financialAward.dateHint}"
          th:attr="value=*{orderServedDate}"
          th:errorMessage="${#fields.hasErrors('orderServedDate') ? #fields.errors('orderServedDate').getFirst() : ''}">
      </moj:datepicker>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"
                th:text="#{case.financialAward.address}"></legend>
        <div th:replace="~{partials/forms :: textInput(fieldId='addressLine1', label=#{case.financialAward.addressLine1}, inputClass='govuk-input--width-20', maxlengthParam=70)}"></div>
        <div th:replace="~{partials/forms :: textInput(fieldId='addressLine2', label=#{case.financialAward.addressLine2}, inputClass='govuk-input--width-20', maxlengthParam=35)}"></div>
        <div th:replace="~{partials/forms :: textInput(fieldId='addressLine3', label=#{case.financialAward.addressLine3}, inputClass='govuk-input--width-20', maxlengthParam=35)}"></div>
      </fieldset>

      <div th:replace="~{partials/forms :: largeTextInput('statutoryChargeExemptReason', #{case.financialAward.statutoryChargeExemptReason}, 950)}"></div>
      <div th:replace="~{partials/forms :: largeTextInput('otherDetails', #{case.financialAward.otherDetails}, 950)}"></div>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <govuk:button type="submit" th:text="#{site.next}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>
