<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:text="|#{service.name} - #{case.outcomeAndAwards.title}|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a class="govuk-back-link" th:href="@{/case/overview}" th:text="#{site.returnToCaseOverview}"/>
  </div>

  <div id="main-content">
    <h1 class="govuk-heading-l" th:text="#{case.outcomeAndAwards.title}"></h1>
    <p class="govuk-body-l" th:text="#{case.outcomeAndAwards.intro}"></p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m"
            th:text="#{case.outcomeAndAwards.proceedingOutcomeSummary.title}"></h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.proceedingOutcomeSummary.table.proceeding}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.proceedingOutcomeSummary.table.formOfCivilLegalService}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{common.status}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.proceedingOutcomeSummary.table.outcome}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.proceedingOutcomeSummary.table.dateGranted}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="proceeding, stat : ${proceedings}">
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state"
                 th:href="@{/case/outcome-and-awards/proceeding/{index}/outcome(index=${stat.index})}"
                 th:text="${proceeding.description}"
                th:id="|proceedingOutcomeSummaryLink-${stat.index}|"
              ></a>
            </td>
            <td class="govuk-table__cell" th:text="${proceeding.levelOfService?.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${proceeding.status?.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${resolvedOutcomes[proceeding.proceedingCaseId]?.result?.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${proceeding.dateGranted != null ? #dates.format(proceeding.dateGranted, 'dd/MM/yyyy') : ''}"></td>
            <td class="govuk-table__cell">
              <th:block th:if="${T(uk.gov.laa.ccms.caab.util.view.ActionViewHelper).isClearOutcomeAllowed(proceeding, resolvedOutcomes[proceeding.proceedingCaseId])}">
                <a class="govuk-link" href="#">Clear</a>
              </th:block>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m" th:text="#{case.outcomeAndAwards.awardsSummary.title}"></h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.awardsSummary.table.type}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.awardsSummary.table.dateOfOrder}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.awardsSummary.table.description}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.awardsSummary.table.value}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="5" th:text="#{case.outcomeAndAwards.awardsSummary.noAwards}"></td>
          </tr>
          </tbody>
        </table>
        <div class="govuk-button-group govuk-!-margin-top-3">
          <a class="govuk-button govuk-!-margin-bottom-0"
             href="#"
             th:text="#{case.outcomeAndAwards.awardsSummary.addAward}"
             id="addAwardButton"
          ></a>
        </div>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m"
            th:text="#{case.outcomeAndAwards.preCertificateAndLegalHelpCosts.title}"></h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.preCertificateAndLegalHelpCosts.table.type}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.preCertificateAndLegalHelpCosts.table.preCertificateAmount}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.preCertificateAndLegalHelpCosts.table.legalHelpAmount}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state"
                 href="#"
                 th:text="#{case.outcomeAndAwards.preCertificateAndLegalHelpCosts.link}"
                 id="preCertificateAndLegalHelpCostsLink"
              ></a>
            </td>
            <td class="govuk-table__cell">£0</td>
            <td class="govuk-table__cell">£0</td>
            <td class="govuk-table__cell"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m" th:text="#{case.outcomeAndAwards.documents.title}"></h2>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" th:text="#{case.outcomeAndAwards.documents.hint.summary}"></span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body" th:text="#{case.outcomeAndAwards.documents.hint.text}"></p>
          </div>
        </details>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.documents.table.fileName}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.documents.table.documentType}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.documents.table.description}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{case.outcomeAndAwards.documents.table.uploadDate}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:if="${#lists.isEmpty(documents)}">
            <td class="govuk-table__cell" colspan="5" th:text="#{case.outcomeAndAwards.documents.noDocuments}"></td>
          </tr>
          <tr class="govuk-table__row" th:each="document, stat : ${documents}">
            <td class="govuk-table__cell" th:text="${document.fileName}"></td>
            <td class="govuk-table__cell" th:text="${document.documentType?.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${document.description}"></td>
            <td class="govuk-table__cell" th:text="${document.auditTrail?.created != null ? #dates.format(document.auditTrail.created, 'dd/MM/yyyy') : ''}"></td>
            <td class="govuk-table__cell">
              <a class="govuk-link govuk-link--no-visited-state"
                 th:href="@{/case/outcome-and-awards/document/{id}/remove(id=${document.id})}"
                 th:text="#{site.remove}"
                 th:id="|documentRemoveLink-${stat.index}|"
              ></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="govuk-button-group govuk-!-margin-top-3">
          <a class="govuk-link govuk-link--no-visited-state"
             th:href="@{/case/outcome-and-awards/document/upload}"
             th:text="#{case.outcomeAndAwards.documents.upload}"
             id="documentUploadLink"
          ></a>
        </div>
      </div>
    </div>

    <div class="govuk-button-group govuk-!-margin-top-6">
      <a class="govuk-button" href="#" th:text="#{site.submit}"></a>
    </div>
  </div>
</div>
</body>
</html>
