<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
<!--  <title th:text="#{service.name} + ' - ' + #{application.create}"/>-->
    <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
    <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{amendment.case}"/>
</head>
<body th:with="">
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings-and-costs#prior-authority(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
      <form action="#"
            th:action="@{/{caseContext}/prior-authorities/{action}/type(action=${priorAuthorityFlow.action}, caseContext=${caseContext.pathValue})}"
            th:object="${priorAuthorityTypeDetails}" method="post">
          <th:block th:replace="~{partials/error-summary :: error-summary}"/>

          <span th:if="${caseContext.isApplication()}"
                class="govuk-caption-l"
                th:text="#{application.create} + ' - ' + ${#strings.toLowerCase(#messages.msg('proceedings.addPriorAuthorities.caption'))}"/>
          <span th:if="${caseContext.isAmendment()}"
                class="govuk-caption-l"
                th:text="#{amendment.case}  + ' - ' + ${#strings.toLowerCase(#messages.msg('proceedings.addPriorAuthorities.caption'))}"/>

          <h1 class="govuk-heading-l" th:text="#{proceedings.addPriorAuthorities.step1.heading}"/>
          <p class="govuk-body-l" th:text="#{proceedings.addPriorAuthorities.step1.leadParagraph}"/>
          <th:block th:replace="~{partials/forms ::
                                    dropdownWithDisplayValue(
                                        'priorAuthorityType',
                                        #{proceedings.priorAuthorities.priorAuthorityType},
                                        ${priorAuthorityTypes}, 'code', 'description'
                                    )}"
          />
          <div class="govuk-button-group">
              <govuk:button type="submit" th:text="#{site.next}"/>
          </div>
      </form>
  </div>
</div>
</body>
</html>