<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.start}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings-and-costs#prior-authority(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#"
          th:action="@{/{caseContext}/prior-authorities/{priorAuthorityId}/remove(priorAuthorityId=${priorAuthority.id}, caseContext=${caseContext.pathValue})}"
          method="post">
      <h1 class="govuk-heading-l" th:text="#{proceedings.priorAuthorities.remove.heading}"/>
      <p class="govuk-body-l"
         th:utext="#{proceedings.priorAuthorities.remove.leadParagraph(${#strings.toLowerCase(priorAuthority.type.displayValue)})}"/>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
        <govuk:button classes="govuk-button--secondary"
                      th:text="#{site.cancel}"
                      th:href="@{/{caseContext}/proceedings-and-costs#prior-authority(caseContext=${caseContext.pathValue})}"/>s
      </div>
    </form>
  </div>
</div>
</body>
</html>