<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.create}"/>
</head>
<body>

<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="${backUrl != null} ? ${backUrl} : @{/case/details}"
           class="govuk-back-link"
           th:text="${backUrl != null} ? #{proceedingsAndCosts.goBack } : #{caseDetails.details.return}"></a>
    </div>

    <div id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l" id="lead-heading" th:text="#{priorAuthorityReview.heading}"/>
                <p class="govuk-body-l" th:text="#{priorAuthorityReview.leadParagraph}"/>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title" th:text="#{proceedings.priorAuthorities.generalDetails}"></h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <div class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" th:text="#{priorAuthorityReview.type}"/>
                            <dd class="govuk-summary-list__value" id="prior-authority-type-value"
                                th:text="${priorAuthority.type.displayValue}"/>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" th:text="#{priorAuthorityReview.summary}"/>
                            <dd class="govuk-summary-list__value" id="prior-authority-summary"
                                th:text="${priorAuthority.summary}"/>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" th:text="#{priorAuthorityReview.justification}"/>
                            <dd class="govuk-summary-list__value" id="prior-authority-justification"
                                th:text="${priorAuthority.justification}"/>
                        </div>
                        <div class="govuk-summary-list__row" th:unless="${priorAuthority.type.displayValue == 'Counsel'}">
                            <dt class="govuk-summary-list__key" th:text="#{priorAuthorityReview.amountRequested}"/>
                            <dd class="govuk-summary-list__value"
                                id="prior-authority-amount-requested"
                                th:text="${#numbers.formatCurrency(priorAuthority.amountRequested)}"/>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- ========================================== -->
                <!-- COUNSEL -->
                <!-- ========================================== -->
                <th:block th:if="${priorAuthority.type.displayValue == 'Counsel'}">
                    <th:block th:each="groupEntry : ${groupedItems}">
                        <th:block th:if="${!#lists.isEmpty(groupEntry.value)}">
                            <th:block th:replace="application/partials/summary-section :: section(
                            ${groupEntry.key.label},
                            ${groupEntry.value}
                        )"></th:block>
                        </th:block>
                    </th:block>
                </th:block>


                <!-- ========================================== -->
                <!-- EXPERT -->
                <!-- ========================================== -->
                <th:block th:if="${priorAuthority.type.displayValue == 'Expert'}">
                    <th:block th:each="groupEntry : ${groupedItems}">
                        <th:block th:if="${!#lists.isEmpty(groupEntry.value)}">
                            <th:block th:replace="application/partials/summary-section :: section(
                            ${groupEntry.key.label},
                            ${groupEntry.value}
                        )"></th:block>
                        </th:block>
                    </th:block>
                </th:block>

                <!-- ========================================== -->
                <!-- Other -->
                <!-- ========================================== -->
                <th:block th:if="${priorAuthority.type.displayValue == 'Other'}">
                    <th:block th:each="groupEntry : ${groupedItems}">
                        <th:block th:if="${!#lists.isEmpty(groupEntry.value)}">
                            <th:block th:replace="application/partials/summary-section :: section(
                            ${groupEntry.key.label},
                            ${groupEntry.value}
                        )"></th:block>
                        </th:block>
                    </th:block>
                </th:block>
                </dl>
            </div>
        </div>
    </div>
</div>
</body>
</html>