<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings-and-costs#prior-authority(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#"
          th:action="@{/{caseContext}/prior-authorities/{action}/details(action=${priorAuthorityFlow.action}, caseContext=${caseContext.pathValue})}"
          th:object="${priorAuthorityDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
        <span th:if="${caseContext.isApplication()}" class="govuk-caption-l" th:text="#{application.create} + ' - ' + ${#strings.toLowerCase(#messages.msg('proceedings.addPriorAuthorities.caption'))}"/>
        <span th:if="${caseContext.isAmendment()}" class="govuk-caption-l" th:text="#{amendment.case}  + ' - ' + ${#strings.toLowerCase(#messages.msg('proceedings.addPriorAuthorities.caption'))}"/>
        <h1 class="govuk-heading-l"
        th:text="#{proceedings.addPriorAuthorities.step2.heading}"/>
      <p class="govuk-body-l"
         th:text="#{proceedings.addPriorAuthorities.step2.leadParagraph}"/>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-body">
            <th:block th:replace="~{application/partials/summary-fragments :: summaryListDisplay(
              #{proceedings.priorAuthorities.priorAuthorityType},
              ${priorAuthorityFlow.priorAuthorityTypeFormData.priorAuthorityTypeDisplayValue})}"/>
          </dl>

          <th:block th:replace="~{partials/forms :: textInput('summary',
            #{site.summary},
            'govuk-input--width-20')}"/>
          <th:block th:replace="~{partials/forms :: largeTextInput('justification',
            #{proceedings.priorAuthorities.justification},
            8000)}"/>

          <th:block th:if="*{valueRequired}">
            <th:block th:replace="~{partials/forms :: currencyInput('amountRequested',
              #{proceedings.priorAuthorities.amountRequested},'10')}"/>
          </th:block>

          <th:block th:each="option : ${priorAuthorityDynamicForm.priorAuthorities}">
            <div class="govuk-form-group"
                 th:classappend="${#fields.hasErrors('dynamicOptions[__${option.code}__].fieldValue')} ? 'govuk-form-group--error' : ''">

                <th:block th:if="${option.mandatoryFlag}">
                  <label class="govuk-label" th:for="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                     th:text="${option.description}"/>
                </th:block>
                <th:block th:unless="${option.mandatoryFlag}">
                  <label class="govuk-label" th:for="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                     th:text="${option.description + ' (optional)'}"/>
                </th:block>
                <span th:if="${#fields.hasErrors('dynamicOptions[__${option.code}__].fieldValue')}"
                    th:errors="*{dynamicOptions[__${option.code}__].fieldValue}" class="govuk-error-message">
                </span>
              <th:block th:if="${option.dataType == 'LOV'}">
                <input type="hidden" th:id="'dynamicOptions[' + ${option.code} + '].fieldValueDisplayValue'"
                   th:name="'dynamicOptions[' + ${option.code} + '].fieldValueDisplayValue'"
                   th:value="*{dynamicOptions[__${option.code}__].fieldValueDisplayValue}"/>
                <select class="govuk-select"
                        data-module="govuk-select"
                        th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                        th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                        th:errorclass="govuk-select--error"
                        th:attr="onchange=|document.getElementById('dynamicOptions[${option.code}].fieldValueDisplayValue').value = this.options[this.selectedIndex].text;|">
                  <option value="" th:text="#{site.select}"></option>
                  <option th:each="item : ${__${option.code}__}"
                          th:value="${item['code']}"
                          th:text="${item['description']}">
                  </option>
                </select>
              </th:block>
              <th:block th:if="${option.dataType == 'FTS'}">
                <input class="govuk-input govuk-input--width-20"
                       type="text"
                       data-module="govuk-input"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       th:errorclass="govuk-select--error"/>
              </th:block>
              <th:block th:if="${option.dataType == 'FTL'}">
                <input class="govuk-input"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       type="text"
                       data-module="govuk-input"
                       th:errorclass="govuk-select--error"/>
              </th:block>
              <th:block th:if="${option.dataType == 'AMT'}">
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-10"
                         th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                         th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                         type="text" spellcheck="false"
                         th:errorclass="govuk-select--error"/>
                </div>
              </th:block>
              <th:block th:if="${option.dataType == 'INT'}">
                <input class="govuk-input govuk-date-input__input govuk-input--width-10"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       type="text"
                       inputmode="numeric"
                       maxlength="10"
                       th:errorclass="govuk-select--error"/>
              </th:block>

            </div>
          </th:block>

          <div class="govuk-button-group">
            <govuk:button type="submit" th:text="#{site.confirm}"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>