<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.create}"/>
</head>
<body>

<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/case/details}" class="govuk-back-link" th:text="#{caseDetails.details.return}"></a>
    </div>

    <div id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l" id="lead-heading" th:text="#{priorAuthorityReview.heading}"/>
                <p class="govuk-body-l" th:text="#{priorAuthorityReview.leadParagraph}"/>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title" th:text="#{priorAuthority.review.generalDetails}"></h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{priorAuthorityReview.type}, ${priorAuthority.type.displayValue})}"></div>
                            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{priorAuthorityReview.summary}, ${priorAuthority.summary})}"></div>
                            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{priorAuthorityReview.justification}, ${priorAuthority.justification})}"></div>
                            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{priorAuthorityReview.amountRequested}, ${#numbers.formatCurrency(priorAuthority.amountRequested)})}"></div>
                        </dl>
                    </div>
                </div>
                <th:block th:if="${!#lists.isEmpty(group.value)}" th:each="group : ${groupedItems}">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title" th:text="#{${group.key}}"></h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <th:block th:each="item : ${group.value}">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key" th:text="${item.code.displayValue}">
                                </dt>
                                <dd class="govuk-summary-list__value"
                                    th:with="itemCode = ${item.code.displayValue},
                                             normalisedCode = ${itemCode.toLowerCase().replace(' ', '-')},
                                             trimmedCode = ${normalisedCode.length() < 15 ? normalisedCode : normalisedCode.substring(0, 15)}"
                                    th:id="${'prior-authority-' + trimmedCode}"
                                    th:text="${item.type == 'AMT' ?
                                    #numbers.formatCurrency(item.value.displayValue) : item.value.displayValue}">
                                </dd>
                            </div>
                            </th:block>
                        </dl>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
    </div>

</div>
</body>
</html>