<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/client/search}" class="govuk-back-link" th:text="#{site.cancelAndReturnToClientSearch}"></a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/agreement}" th:object="${applicationFormData}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l" th:text="#{application.about}"></span>
            <h1 class="govuk-heading-l" th:text="#{application.privacyNoticeAgreement}"></h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body-l" th:text="#{application.privacyNoticeAgreement.leadParagraph}"></p>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <p></p>
            </div>
            <div class="govuk-grid-column-one-half">
                <h2 class="govuk-heading-l govuk-!-text-align-centre"
                    th:utext="#{application.privacyNoticeAgreement.content.heading}"></h2>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <p class="govuk-body govuk-!-text-align-right">
                    <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
                       th:href="@{/application/agreement/print}"
                       target="_blank"
                       th:text="#{site.print}">
                    </a>
                </p>
            </div>
            <div th:replace="~{application/partials/privacy-notice :: content}"></div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('agreementAccepted')} ? 'govuk-form-group--error' : ''">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading" th:text="#{application.privacyNoticeAgreement.confirm.label}"></h2>
                </legend>
                <span th:if="${#fields.hasErrors('agreementAccepted')}" th:errors="*{agreementAccepted}" class="govuk-error-message"></span>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" th:errorclass="govuk-select--error" id="agreementAccepted" name="agreementAccepted"type="radio" value="true" th:checked="${applicationFormData.agreementAccepted}">
                        <label class="govuk-label govuk-radios__label" for="agreementAccepted" th:text="#{application.privacyNoticeAgreement.confirm.value}">
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
            <govuk:button type="submit" th:text="#{site.continue}"/>
        </form>
    </div>
</div>
</body>
</html>