<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs},userRoles=${user.functions},pageRoles='VIEWPROC,ADDPROC,DELPROC')}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/sections}" class="govuk-back-link" th:text="#{site.returnToApplication}"/>
  </div>
  <div id="main-content">
    <span class="govuk-caption-l" th:text="#{application.create}"/>
    <h1 class="govuk-heading-l" th:text="#{application.section.proceedingsCosts}"/>

    <p class="govuk-body-l" th:text="#{proceedingsAndCosts.leadParagraph}"/>


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title" th:text="#{proceedingsAndCosts.tabs.subHeading}"/>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#proceedings"
             th:text="#{proceedingsAndCosts.proceedings.subHeading}"/>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#case-costs"
             th:text="#{proceedingsAndCosts.caseCosts.subHeading}"/>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#prior-authority"
             th:text="#{proceedingsAndCosts.priorAuthorities.subHeading}"/>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="proceedings" aria-labelledby="tab_proceedings">
        <h2 class="govuk-heading-l" th:text="#{proceedingsAndCosts.proceedings.subHeading}">Proceedings</h2>
        <table class="govuk-table" id="proceedings-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.proceedingDetails.matterType}"/>
            <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.proceedingDetails.proceeding}"/>
            <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.proceedingDetails.formOfCivilLegalService}"/>
            <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.proceedingDetails.clientInvolvementType}"/>
            <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.proceedingDetails.lead}"/>
            <th scope="col" class="govuk-table__header"
                th:text="#{site.action}"/>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="proceeding : ${proceedings}" th:unless="${proceedings.isEmpty()}">
            <td class="govuk-table__cell">
              <div th:replace="~{partials/actions :: restrictedActionLink(${proceeding.matterType.displayValue},
              ${user.functions}, 'VIEWPROC', false, '', @{/application/proceedings/{id}/summary(id=${proceeding.id})}, true)}"></div>
            </td>
            <td class="govuk-table__cell" th:text="${proceeding.proceedingType.displayValue}"/>
            <td class="govuk-table__cell" th:text="${proceeding.levelOfService.displayValue}"/>
            <td class="govuk-table__cell" th:text="${proceeding.clientInvolvement.displayValue}"/>

            <th:block th:if="${proceeding.leadProceedingInd}">
              <td class="govuk-table__cell">
                <img class="govuk-!-padding-left-2 govuk-!-padding-right-2"
                     th:src="@{/assets/ccms/tick.gif}" alt="tick">
              </td>
              <td class="govuk-table__cell"></td>
            </th:block>

            <th:block th:unless="${proceeding.leadProceedingInd}">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <th:block th:replace="~{partials/actions :: restrictedActionLink(#{site.delete},
              ${user.functions}, 'DELPROC', false, '', @{/application/proceedings/{id}/remove(id=${proceeding.id})}, true)}"/>
                 |
                <a th:href="@{/application/proceedings/{id}/make-lead(id=${proceeding.id})}" class="govuk-link"
                  th:text="#{proceedings.proceedingDetails.link.makeLead}"/>
              </td>
            </th:block>
          </tr>
          <tr class="govuk-table__row" th:if="${proceedings.isEmpty()}">
            <td class="govuk-table__cell" colspan="6" th:text="#{site.none}"/>
          </tr>
          </tbody>
        </table>
        <th:block
            th:replace="~{partials/actions :: restrictedActionLink(#{proceedingsAndCosts.button.addProceeding},
            ${user.functions}, 'ADDPROC', true, 'govuk-button--secondary', @{/application/proceedings/add/matter-type}, false)}"/>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-costs" aria-labelledby="tab_case-costs">
        <h2 class="govuk-heading-l" th:text="#{proceedingsAndCosts.caseCosts.subHeading}"/>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"
                  th:text="#{proceedingsAndCosts.caseCosts.subHeading}"/>
              <th scope="col" class="govuk-table__header"
                  th:text="#{proceedingsAndCosts.caseCosts.table.requestedAmount}"/>
              <th scope="col" class="govuk-table__header"
                  th:text="#{proceedingsAndCosts.caseCosts.table.grantedAmount}"/>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a th:href="@{/application/case-costs}" id="case-cost-limitation-link"
                   class="govuk-link"
                   th:text="#{proceedingsAndCosts.caseCosts.link.caseCostLimitation}"/>
              </td>
              <td class="govuk-table__cell"
                  id="case-cost-requested-amount-value"
                  th:text="${#numbers.formatCurrency(costs.requestedCostLimitation)}"/>
              <td class="govuk-table__cell"
                  id="case-cost-granted-amount-value"
                  th:text="${#numbers.formatCurrency(costs.grantedCostLimitation)}"/>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="prior-authority" aria-labelledby="tab_prior-authority">
        <h2 class="govuk-heading-l" th:text="#{proceedingsAndCosts.priorAuthorities.subHeading}"/>
        <table class="govuk-table" id="prior-authorities-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"
              th:text="#{proceedingsAndCosts.priorAuthorities.table.priorAuthority}"/>
            <th scope="col" class="govuk-table__header"
              th:text="#{site.type}"/>
            <th scope="col" class="govuk-table__header"
              th:text="#{proceedingsAndCosts.priorAuthorities.table.amountRequested}"/>
            <th scope="col" class="govuk-table__header"
              th:text="#{common.status}"/>
            <th scope="col" class="govuk-table__header"
              th:text="#{site.action}"/>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="priorAuthority : ${priorAuthorities}"
              th:unless="${priorAuthorities.isEmpty()}">
            <td class="govuk-table__cell">
              <a th:href="@{/application/prior-authorities/{id}/confirm(id=${priorAuthority.id})}"
                 class="govuk-link" th:text="${priorAuthority.summary}"/>
            </td>
            <td class="govuk-table__cell" th:text="${priorAuthority.type.displayValue}"/>
            <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(priorAuthority.amountRequested)}"/>
            <td class="govuk-table__cell" th:text="${priorAuthority.status}"/>
            <td class="govuk-table__cell">
              <a th:href="@{/application/prior-authorities/{id}/remove(id=${priorAuthority.id})}"
                 class="govuk-link" th:text="#{site.delete}"/>
            </td>
          </tr>
          <tr class="govuk-table__row" th:if="${priorAuthorities.isEmpty()}">
            <td class="govuk-table__cell" colspan="5" th:text="#{site.none}"/>
          </tr>
          </tbody>
        </table>
        <govuk:button classes="govuk-button--secondary"
                      id="add-prior-authority-link"
                      th:text="#{proceedings.priorAuthority}"
                      th:href="@{/application/prior-authorities/add/type}"/>
      </div>
    </div>
  </div>
</div>
</body>
</html>