<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{amendment.case}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings/{action}/confirm(action=${proceedingFlow.action}, caseContext=${caseContext})}" class="govuk-back-link"
      th:text="#{proceedings.scopeLimitationDetails.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form th:action="@{/{caseContext}/proceedings/scope-limitations/confirm(caseContext=${caseContext})}" method="post">
      <span class="govuk-caption-l" th:text="#{proceedings.scopeLimitationDetails.caption}"/>
      <h1 class="govuk-heading-l"
        th:text="#{proceedings.scopeLimitationDetails.heading}"/>
      <p class="govuk-body-l" id="lead-paragraph"
        th:text="#{proceedings.scopeLimitationDetails.confirm.leadParagraph}"/>
      <dl class="govuk-body">
        <th:block th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceedings.scopeLimitations.scopeLimitation},
          ${scopeLimitation.scopeLimitation.displayValue})}"/>
        <th:block th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceedings.scopeLimitations.scopeLimitationWording},
          ${scopeLimitation.scopeLimitationWording})}"/>
      </dl>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>