<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{amendment.case}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings-and-costs(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/proceedings/{action}/confirm(action=${proceedingFlow.action}, caseContext=${caseContext.pathValue})}"
          th:object="${scopeDelegatedFunctionsApplyFormData}" method="post">
      <span class="govuk-caption-l" th:text="#{proceedings.addEdit.caption}"></span>
      <h1 class="govuk-heading-l" th:text="#{proceedings.proceedingDetails.step4.heading}"></h1>
      <p class="govuk-body-l" th:text="#{proceedings.confirm.text}"></p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.matterType}"/>
        <span th:text="${proceedingFlow.matterTypeDetails.matterTypeDisplayValue}"
              id="matter-type-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.proceeding}"/>
        <span th:text="${proceedingFlow.proceedingDetails.proceedingTypeDisplayValue}"
              id="proceeding-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.proceedingDescription}"/>
        <span th:text="${proceedingFlow.proceedingDetails.proceedingDescription}"
              id="proceeding-description-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.clientInvolvementType}"/>
        <span th:text="${proceedingFlow.furtherDetails.clientInvolvementTypeDisplayValue}"
              id="client-involvement-type-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.formOfCivilLegalService}"/>
        <span th:text="${proceedingFlow.furtherDetails.levelOfServiceDisplayValue}"
              id="form-of-civil-legal-service-value"/>
      </p>
      <th:block th:if="${proceedingFlow.furtherDetails.typeOfOrder}">
        <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.typeOfOrder}"/>
          <span th:text="${proceedingFlow.furtherDetails.typeOfOrderDisplayValue}"
            id="type-of-order-value"/>
        </p>
      </th:block>
      <h2 class="govuk-heading-m"
        th:text="#{proceedings.scopeLimitations.subHeading}"/>
      <table class="govuk-table" id="scope-limitations-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"
            th:text="#{proceedings.scopeLimitations.scopeLimitation}"/>
          <th scope="col" class="govuk-table__header"
            th:text="#{proceedings.scopeLimitations.scopeLimitationWording}"/>
          <th scope="col" class="govuk-table__header" th:if="${isSubstantiveDevolvedPowersApp}"
              th:text="#{proceedings.summary.delegatedFunctionsApply}"/>
          <th scope="col" class="govuk-table__header"
            th:text="#{site.action}"/>
        </tr>
        </thead>
        <tbody class="govuk-table__body" th:unless="${scopeLimitations.isEmpty()}">
        <tr class="govuk-table__row" th:each="scopeLimitation, rowStat : ${scopeLimitations}">
          <td class="govuk-table__cell">
            <a th:if="${proceedingFlow.action} == 'add'"
               th:href="@{/{caseContext}/proceedings/scope-limitations/{scopeLimitationId}/edit(scopeLimitationId=${rowStat.index}, caseContext=${caseContext.pathValue})}"
               class="govuk-link" th:text="${scopeLimitation.scopeLimitation.displayValue}"/>
            <a th:if="${proceedingFlow.action} == 'edit'"
               th:href="@{/{caseContext}/proceedings/scope-limitations/{scopeLimitationId}/edit(scopeLimitationId=${scopeLimitation.id}, caseContext=${caseContext.pathValue})}"
               class="govuk-link" th:text="${scopeLimitation.scopeLimitation.displayValue}"/>
          </td>
          <td class="govuk-table__cell" th:text="${scopeLimitation.scopeLimitationWording}"/>
          <td class="govuk-table__cell" th:if="${isSubstantiveDevolvedPowersApp}">
            <div class="govuk-checkboxes__item govuk-checkboxes--small">
              <input  type="hidden" th:field="*{scopeLimitationDataList[__${rowStat.index}__].id}"
                      th:value="${scopeLimitation.id}"/>
              <input type="checkbox" class="govuk-checkboxes__input" id="delegatedInd"
                     th:name="'scopeLimitationDataList[' + ${rowStat.index} + '].delegatedFuncApplyInd'"
                     th:checked="*{scopeLimitationDataList[__${rowStat.index}__]?.delegatedFuncApplyInd}"/>
              <label class="govuk-label govuk-checkboxes__label" for="delegatedInd">
                <span class="govuk-visually-hidden" th:text="#{proceedings.confirm.delegatedFunctionsApply}"/>
              </label>
            </div>
          </td>
          <td class="govuk-table__cell">
            <th:block th:if="${scopeLimitations.size()} > 1 ">
              <a th:if="${proceedingFlow.action} == 'add'"
                 th:href="@{/{caseContext}/proceedings/scope-limitations/{scopeLimitationId}/remove(scopeLimitationId=${rowStat.index}, caseContext=${caseContext.pathValue})}"
                 class="govuk-link"
                 th:text="#{site.remove}"/>
              <a th:if="${proceedingFlow.action} == 'edit'"
                 th:href="@{/{caseContext}/proceedings/scope-limitations/{scopeLimitationId}/remove(scopeLimitationId=${scopeLimitation.id}, caseContext=${caseContext.pathValue})}"
                 class="govuk-link"
                 th:text="#{site.remove}"/>
            </th:block>
          </td>
        </tr>
        </tbody>
      </table>
      <a class="govuk-button govuk-button--secondary"
         id="add-scope-limitation-button"
         data-module="govuk-button"
         th:href="@{/{caseContext}/proceedings/scope-limitations/add/details(caseContext=${caseContext.pathValue})}"
        th:text="#{proceedings.summary.addScopeLimitation}"/>
      <div class="govuk-button-group">
        <govuk:button type="submit"
                      th:text="${proceedingFlow.editingScopeLimitations} ? #{site.next} : #{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>