<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title th:text="|#{service.name} - #{proceeding.details}|"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/case/details}" class="govuk-back-link" th:text="#{caseDetails.details.return}"></a>
  </div>
  <div id="main-content">
    <h1 class="govuk-heading-l" th:text="#{proceeding.details}"></h1>
    <p class="govuk-body-l" th:text="#{proceeding.details.leadParagraph}"></p>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m" th:text="#{proceeding.details.generalProceedingDetails}"></h2>
        <dl class="govuk-summary-list">
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.categoryOfLaw}, ${categoryOfLaw})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.matterType}, ${proceeding.matterType?.displayValue})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.proceeding}, ${proceeding.proceedingType?.displayValue})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.formOfCivilLegalService}, ${proceeding.levelOfService?.displayValue})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.typeOfOrder}, ${#strings.isEmpty(proceeding.typeOfOrder?.displayValue) ? 'None' : proceeding.typeOfOrder.displayValue})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.dateCostsValidFrom}, ${#dates.format(proceeding.dateCostsValid, 'dd/MM/yyyy')})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.clientInvolvement}, ${proceeding.clientInvolvement?.displayValue})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.status}, ${proceedingStatus})}"></div>
          <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay(#{proceeding.details.result}, ${#strings.isEmpty(proceeding.outcome?.result?.id) ? 'None' : proceeding.outcome.result.id})}"></div>
        </dl>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" th:text="#{proceeding.details.scopeLimitations}"></caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" th:text="#{proceeding.details.scopeLimitation}"></th>
            <th scope="col" class="govuk-table__header" th:text="#{proceeding.details.scopeLimitationWording}"></th>
            <th scope="col" th:if="${applicationType == 'SUBDP'}" class="govuk-table__header" th:text="#{proceeding.details.delegatedFunctionsApply}"></th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <th:block th:each="scopeLimitation : ${proceeding.scopeLimitations}">
            <tr class="govuk-table__row" th:for>
              <td class="govuk-table__cell" th:text="${scopeLimitation.scopeLimitation.displayValue}">
              <td class="govuk-table__cell" th:text="${scopeLimitation.scopeLimitationWording}"></td>
              <td class="govuk-table__cell" th:if="${applicationType == 'SUBDP'}" th:text="${scopeLimitation.scopeLimitationWording}">
                <img th:if="${scopeLimitation.delegatedFuncApplyInd.flag}" th:src="@{/assets/ccms/tick.gif}" alt="Delegated functions apply"/>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>


