<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/proceedings-and-costs}" class="govuk-back-link">Cancel and return to proceedings and costs</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/proceedings/{action}/matter-type(action=${proceedingFlow.action})}" th:object="${matterTypeDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l">Add/edit proceeding</span>
      <h1 class="govuk-heading-l">
        Proceeding details - Step 1 of 4
      </h1>
      <p class="govuk-body-l">
        Please enter the proceeding details for your application.
      </p>
      <div th:replace="~{partials/forms :: dropdownWithDisplayValue('matterType', 'Matter type', ${matterTypes}, 'matterType', 'description')}"></div>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.next}"/>
        <th:block th:if="${proceedingFlow.action == 'edit'}">
          <govuk:button classes="govuk-button--secondary"
                        th:text="#{site.back}"
                        th:href="@{/application/proceedings/{proceeding-id}/summary(proceeding-id=${proceeding.id})}"/>
        </th:block>
      </div>
    </form>
  </div>
</div>
</body>
</html>