<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a href="/application/proceedings-and-costs" class="govuk-back-link">Cancel and return to Proceedings and costs</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/proceedings/{action}/further-details(action=${proceedingFlow.action})}" th:object="${furtherDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l">Add/edit proceeding</span>
      <h1 class="govuk-heading-l">
        Proceeding details - Step 3 of 4
      </h1>
      <p class="govuk-body-l">
        Please enter the proceeding details for your application.
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
            Matter type
        </span>
        <span th:text="${proceedingFlow.matterTypeDetails.matterTypeDisplayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
            Proceeding
        </span>
        <span th:text="${proceedingFlow.proceedingDetails.proceedingTypeDisplayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
            Proceeding description
        </span>
        <span th:if="${proceedingFlow.action == 'add'}" th:text="${proceedingFlow.proceedingDetails.proceedingTypeDisplayValue}"></span>
        <span th:if="${proceedingFlow.action == 'edit'}" th:text="${proceedingFlow.proceedingDetails.proceedingDescription}"></span>
      </p>
      <div th:replace="~{partials/forms :: dropdownWithDisplayValue('clientInvolvementType', 'Client involvement type', ${clientInvolvementTypes}, 'clientInvolvementType', 'clientInvolvementTypeName')}"></div>
      <div th:replace="~{partials/forms :: dropdownWithDisplayValue('levelOfService', 'Form of Civil Legal Service', ${levelOfServiceTypes}, 'levelOfServiceCode', 'description')}"></div>
      <th:block th:if="${orderTypes}">
        <div th:replace="~{partials/forms :: dropdownWithDisplayValue('typeOfOrder', 'Type of order', ${orderTypes}, 'code', 'description')}"></div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help with Type of order
            </span>
          </summary>
          <div class="govuk-details__text">
            Please select from the options provided should you require an order for enforcement, if
            you wish to appeal against an order, or require representation otherwise.
          </div>
        </details>
      </th:block>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Next
        </button>
        <a class="govuk-button govuk-button--secondary"
           data-module="govuk-button"
           th:href="@{/application/proceedings/{action}/proceeding-type(action=${proceedingFlow.action})}">
          Back
        </a>
      </div>
    </form>
  </div>
</div>
</body>
</html>