<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/proceedings/{action}/confirm(action=${proceedingFlow.action})}" class="govuk-back-link">Cancel and return to proceeding details</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/proceedings/scope-limitations/{scopeLimitationId}/remove(scopeLimitationId=${scopeLimitationId})}" method="post">
      <h1 class="govuk-heading-l">
        Delete scope limitation
      </h1>
      <p class="govuk-body-l">
        Are you sure you want to delete this scope limitation? Please click 'Confirm' to delete
        this information otherwise click 'Cancel and return to proceeding details' to go back.
      </p>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>