<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/proceedings-and-costs}" class="govuk-back-link"
      th:text="#{proceedingsAndCosts.goBack}"/>
  </div>
  <div id="main-content">
    <span class="govuk-caption-l" th:text="#{application.create}"/>
    <h1 class="govuk-heading-l" th:text="#{proceedings.summary.title}"/>
    <p class="govuk-body-l" th:text="#{proceedings.summary.text}"/>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"
            th:text="#{proceedings.proceedingDetails.subHeading}"/>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="@{/application/proceedings/edit/matter-type}"
               id="edit-proceeding-details-link"
               th:text="#{proceedings.summary.editProceedingDetails}"/>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.matterType},
            ${proceeding.matterType.displayValue})}"/>
          <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.proceeding},
            ${proceeding.proceedingType.displayValue})}"/>
          <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.proceedingDescription},
            ${proceeding.description})}"/>
          <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.clientInvolvementType},
            ${proceeding.clientInvolvement.displayValue})}"/>
          <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.formOfCivilLegalService},
            ${proceeding.levelOfService.displayValue})}"/>
          <th:block th:if="${proceeding.typeOfOrder.id}">
            <th:block th:replace="~{this :: summaryListDisplay(#{proceedings.proceedingDetails.typeOfOrder},
              ${orderTypeDisplayValue})}"/>
          </th:block>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title"
            th:text="#{proceedings.scopeLimitations.subHeading}"/>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" th:href="@{/application/proceedings/edit/confirm}"
               id="edit-scope-limitations-link"
               th:text="#{proceedings.summary.editScopeLimitations}"/>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <th:block th:unless="${proceeding.scopeLimitations.isEmpty()}">
          <table class="govuk-table" id="scope-limitations-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.scopeLimitations.scopeLimitation}"/>
              <th scope="col" class="govuk-table__header"
                th:text="#{proceedings.scopeLimitations.scopeLimitationWording}"/>
              <th scope="col" class="govuk-table__header" th:if="${isSubstantiveDevolvedPowersApp}"
                  th:text="#{proceedings.summary.delegatedFunctionsApply}">
              </th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="scopeLimitation : ${proceeding.scopeLimitations}">
              <td class="govuk-table__cell">
                <p class="govuk-body" th:text="${scopeLimitation.scopeLimitation.displayValue}"/>
              </td>
              <td class="govuk-table__cell" th:text="${scopeLimitation.scopeLimitationWording}"/>
              <td class="govuk-table__cell"
                  th:if="${isSubstantiveDevolvedPowersApp && scopeLimitation.delegatedFuncApplyInd.flag}">
                <img id="delegatedInd" class="govuk-!-padding-left-2 govuk-!-padding-right-2"
                     th:src="@{/assets/ccms/tick.gif}" alt="tick">
                <label class="govuk-label govuk-checkboxes__label" for="delegatedInd">
                    <span class="govuk-visually-hidden"
                          th:text="#{proceedings.summary.delegatedFunctionsApply}"/>
                </label>
              </td>
              <td class="govuk-table__cell"
                  th:if="${isSubstantiveDevolvedPowersApp && !scopeLimitation.delegatedFuncApplyInd.flag}"></td>
            </tr>
            </tbody>
          </table>
        </th:block>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<!--Simple fragment for repeated summary list rows -->
<div class="govuk-summary-list__row" th:fragment="summaryListDisplay(label, value)"
     th:with="idPrefix=${#strings.toLowerCase(#strings.replace(label, ' ', '-'))}">
  <dt class="govuk-summary-list__key"
      th:id="|${idPrefix}-label|"
      th:text="${label}">
  </dt>
  <dd class="govuk-summary-list__value"
      th:id="|${idPrefix}-value|"
      th:text="${value}">
  </dd>
</div>