<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:if="${caseContext.isApplication()}" th:text="#{service.name} + ' - ' + #{application.create}"/>
  <title th:if="${caseContext.isAmendment()}" th:text="#{service.name} + ' - ' + #{amendment.case}"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/{caseContext}/proceedings-and-costs(caseContext=${caseContext.pathValue})}" class="govuk-back-link"
      th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/proceedings/{action}/further-details(action=${proceedingFlow.action}, caseContext=${caseContext.pathValue})}"
          th:object="${furtherDetails}" method="post">
      <th:block th:replace="~{partials/error-summary :: error-summary}"/>
      <span class="govuk-caption-l"
        th:text="#{proceedings.addEdit.caption}"/>
      <h1 class="govuk-heading-l"
          th:text="#{proceedings.proceedingDetails.step3.heading}"/>
      <p class="govuk-body-l" th:text="#{proceedings.proceedingDetails.leadParagraph}"/>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.matterType}"/>
        <span th:text="${proceedingFlow.matterTypeDetails.matterTypeDisplayValue}" id="matter-type-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.proceeding}"/>
        <span th:text="${proceedingFlow.proceedingDetails.proceedingTypeDisplayValue}" id="proceeding-value"/>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.proceedingDescription}"/>
        <span th:text="${proceedingFlow.proceedingDetails.proceedingDescription}"/>
      </p>
      <th:block th:replace="~{partials/forms :: dropdownWithDisplayValue('clientInvolvementType',
        #{proceedings.proceedingDetails.clientInvolvementType},
        ${clientInvolvementTypes}, 'clientInvolvementType',
        'clientInvolvementTypeName')}"/>
      <th:block th:replace="~{partials/forms :: dropdownWithDisplayValue('levelOfService',
        #{proceedings.proceedingDetails.formOfCivilLegalService},
        ${levelOfServiceTypes},
        'levelOfServiceCode', 'description')}"/>
      <th:block th:if="${orderTypes}">
        <th:block th:replace="~{partials/forms :: dropdownWithDisplayValue('typeOfOrder',
          #{proceedings.proceedingDetails.typeOfOrder},
          ${orderTypes},
          'code', 'description')}"/>

        <govuk:details th:summaryText="#{proceedings.furtherDetails.summaryText}"
                       th:text="#{proceedings.furtherDetails.text}"/>

      </th:block>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.next}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>