<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/summary}" class="govuk-back-link">Return to create application</a>
  </div>
  <div id="main-content">
    <span class="govuk-caption-l">Create application</span>
    <h1 class="govuk-heading-l">
      Proceedings and costs
    </h1>
    <p class="govuk-body-l">
      Please enter the proceeding details for this Application.  At least one proceeding must be
      entered, you can add more proceedings by clicking on 'Add Proceeding'.
      Once you have completed the proceedings, please review the Cost Limitations relating to the Case
      in the Case costs tab.
    </p>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Proceedings, costs and prior authorities content
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#proceedings">
            Proceedings
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#case-costs">
            Case costs
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#prior-authority">
            Prior authorities
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="proceedings" aria-labelledby="tab_proceedings">
        <h2 class="govuk-heading-l">Proceedings</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Matter type</th>
            <th scope="col" class="govuk-table__header">Proceeding</th>
            <th scope="col" class="govuk-table__header">Form of civil legal service</th>
            <th scope="col" class="govuk-table__header">Client involvement type</th>
            <th scope="col" class="govuk-table__header">Lead</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="proceeding : ${proceedings}" th:unless="${proceedings.isEmpty()}">
            <td class="govuk-table__cell">
              <a th:href="@{/application/proceedings/{id}/summary(id=${proceeding.id})}"
                 class="govuk-link" th:text="${proceeding.matterType.displayValue}"></a>
            </td>
            <td class="govuk-table__cell" th:text="${proceeding.proceedingType.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${proceeding.levelOfService.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${proceeding.clientInvolvement.displayValue}"></td>

            <th:block th:if="${proceeding.leadProceedingInd}">
              <td class="govuk-table__cell">
                <img class="govuk-!-padding-left-2 govuk-!-padding-right-2" src="/tick.gif" alt="tick">
              </td>
              <td class="govuk-table__cell"></td>
            </th:block>

            <th:block th:unless="${proceeding.leadProceedingInd}">
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell">
                <a th:href="@{/application/proceedings/{id}/remove(id=${proceeding.id})}" class="govuk-link">Delete</a>
                 |
                <a th:href="@{/application/proceedings/{id}/make-lead(id=${proceeding.id})}" class="govuk-link">Make lead</a>
              </td>
            </th:block>
          </tr>
          <tr class="govuk-table__row" th:if="${proceedings.isEmpty()}">
            <td class="govuk-table__cell" colspan="6">None</td>
          </tr>
          </tbody>
        </table>
        <a class="govuk-button govuk-button--secondary"
           data-module="govuk-button"
           th:href="@{/application/proceedings/add/matter-type}">
          Add proceeding
        </a>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-costs" aria-labelledby="tab_case-costs">
        <h2 class="govuk-heading-l">Case costs</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Case costs</th>
            <th scope="col" class="govuk-table__header">Requested amount</th>
            <th scope="col" class="govuk-table__header">Granted amount</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a th:href="@{/application/case-costs}" class="govuk-link">
                Case cost limitation
              </a>
            </td>
            <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(costs.requestedCostLimitation)}"></td>
            <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(costs.grantedCostLimitation)}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="prior-authority" aria-labelledby="tab_prior-authority">
        <h2 class="govuk-heading-l">Prior authorities</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Prior authority</th>
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Amount requested</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="priorAuthority : ${priorAuthorities}" th:unless="${priorAuthorities.isEmpty()}">
            <td class="govuk-table__cell">
              <a th:href="@{/application/prior-authorities/{id}/confirm(id=${priorAuthority.id})}"
                 class="govuk-link" th:text="${priorAuthority.summary}">
              </a>
            </td>
            <td class="govuk-table__cell" th:text="${priorAuthority.type.displayValue}"></td>
            <td class="govuk-table__cell" th:text="${#numbers.formatCurrency(priorAuthority.amountRequested)}"></td>
            <td class="govuk-table__cell" th:text="${priorAuthority.status}"></td>
            <td class="govuk-table__cell">
              <a th:href="@{/application/prior-authorities/{id}/remove(id=${priorAuthority.id})}"
                 class="govuk-link" th:text="${'Delete'}">
              </a>
            </td>
          </tr>
          <tr class="govuk-table__row" th:if="${priorAuthorities.isEmpty()}">
            <td class="govuk-table__cell" colspan="5">None</td>
          </tr>
          </tbody>
        </table>
        <a class="govuk-button govuk-button--secondary"
           data-module="govuk-button"
           th:href="@{/application/prior-authorities/add/type}">
          Add prior authority
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>