<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.create}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/application/proceedings-and-costs}" class="govuk-back-link"
       th:text="#{proceedings.cancelAndGoBack}"/>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/application/proceedings/{action}/proceeding-type(action=${proceedingFlow.action})}"
          th:object="${proceedingTypeDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{proceedings.addEdit.caption}"/>
      <h1 class="govuk-heading-l"
        th:text="#{proceedings.proceedingDetails.step2.heading}"/>
      <p class="govuk-body-l" th:text="#{proceedings.proceedingDetails.leadParagraph}"/>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
          th:text="#{proceedings.proceedingDetails.matterType}"/>
        <span th:text="${proceedingFlow.matterTypeDetails.matterTypeDisplayValue}"
              id="matter-type-value"/>
      </p>
      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('proceedingType')} ? 'govuk-form-group--error' : ''">
        <span th:if="${#fields.hasErrors('proceedingType')}" th:errors="*{proceedingType}" class="govuk-error-message"/>

        <input type="hidden" th:id="proceedingTypeDisplayValue" th:name="proceedingTypeDisplayValue" th:value="*{proceedingTypeDisplayValue}"/>
        <input type="hidden" th:id="orderTypeRequired" th:name="orderTypeRequired" th:value="*{orderTypeRequired}"/>
        <input type="hidden" th:id="larScope" th:name="larScope" th:value="*{larScope}"/>
        <input type="hidden" th:id="proceedingDescription" th:name="proceedingDescription" th:value="*{proceedingDescription}"/>
        <label class="govuk-label" for="proceedingType" th:text="#{proceedings.proceedingDetails.proceeding}"/>
        <select class="govuk-select"
                data-module="govuk-select"
                th:field="*{__${'proceedingType'}__}"
                th:errorclass="govuk-select--error"
                id="proceedingType"
                th:name="proceedingType"
                th:attr="onchange=|document.getElementById('proceedingTypeDisplayValue').value =
                            this.options[this.selectedIndex].text;
                         document.getElementById('orderTypeRequired').value =
                            this.options[this.selectedIndex].getAttribute('order-type-required');
                          document.getElementById('proceedingDescription').value =
                            this.options[this.selectedIndex].getAttribute('proceeding-description');
                         document.getElementById('larScope').value =
                            this.options[this.selectedIndex].getAttribute('lar-scope');|">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${proceedingTypes}"
                  th:value="${item['code']}"
                  th:text="${item['name']}"
                  th:proceeding-description="${item['description']}"
                  th:order-type-required="${item['orderTypeRequired']}"
                  th:lar-scope="${item['larScope']}">
          </option>
        </select>
      </div>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.next}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>