<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:moj="http://www.thymeleaf.org"
      xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - Record proceeding outcome|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a class="govuk-back-link" th:href="@{/case/outcome-and-awards}" th:text="#{case.recordOutcomes.backLink}"></a>
  </div>

  <div id="main-content">
    <form action="#"
          th:action="@{/case/outcome-and-awards/proceeding/{index}/outcome(index=${proceedingIndex})}"
          th:object="${proceedingOutcome}"
          method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>

      <h1 class="govuk-heading-l" th:text="#{case.recordOutcomes.title}"></h1>
        <p class="govuk-body" th:text="#{case.recordOutcomes.information}"></p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.proceeding}"></span>
        <span th:text="${proceeding?.proceedingType?.displayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.matterType}"></span>
        <span th:text="${proceeding?.matterType?.displayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.description}"></span>
        <span th:text="${proceeding?.description}"></span>
      </p>

      <moj:datepicker
              id="final-work-date"
              name="dateOfFinalWork"
              th:label="#{case.recordOutcomes.dateOfFinalWork}"
              th:hint="#{case.recordOutcomes.dateOfFinalWork.hint}"
              th:attr="value=*{dateOfFinalWork}"
              th:errorMessage="${#fields.hasErrors('dateOfFinalWork') ? #fields.errors('dateOfFinalWork').getFirst() : ''}">
      </moj:datepicker>

      <th:block th:replace="~{partials/forms :: autocompleteSelect(field='stageEnd', label=#{case.recordOutcomes.stageEnd},
                                                                   items=${stageEnds}, itemValue='code',
                                                                   itemLabel='description')}"/>

      <th:block th:replace="~{partials/forms :: autocompleteSelect(field='resolutionMethod',
                                                                   label=#{case.recordOutcomes.resolutionMethod},
                                                                   items=${resolutionMethods}, itemValue='code',
                                                                   itemLabel='description')}"/>

      <th:block th:replace="~{partials/forms :: autocompleteSelect(field='result', label=#{case.recordOutcomes.result},
                                                                   items=${results}, itemValue='code',
                                                                   itemLabel='description')}"/>

      <div th:replace="~{partials/forms :: largeTextInput('resultInfo', #{case.recordOutcomes.additionalResultInformation}, 950)}"></div>

      <th:block th:replace="~{partials/forms :: autocompleteSelect(field='alternativeResolution',
                                                                   label=#{case.recordOutcomes.alternativeDisputeResolution},
                                                                   items=${alternativeDisputeResolutions},
                                                                   itemValue='code', itemLabel='description')}"/>

      <div th:replace="~{partials/forms :: largeTextInput('adrInfo', #{case.recordOutcomes.alternativeDisputeResolution.additionalInformation}, 950)}"></div>

        <div class="govuk-button-group govuk-!-margin-top-3">
            <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                    th:formaction="@{/case/outcome-and-awards/proceeding/{index}/outcome/court-search(index=${proceedingIndex})}"
                    th:text="#{case.recordOutcomes.courtButton}"></button>
        </div>

        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.court}"></span>
            <span th:text="${proceedingOutcome.courtName != null ? proceedingOutcome.courtCode + ' ' + proceedingOutcome.courtName : proceedingOutcome.courtCode}"></span>
        </p>

        <input type="hidden" th:field="*{courtCode}"/>
        <input type="hidden" th:field="*{courtName}"/>

      <div th:replace="~{partials/forms :: textInput('outcomeCourtCaseNo', #{case.recordOutcomes.courtCaseNumber}, 'govuk-input--width-20')}"></div>

      <th:block th:replace="~{partials/forms :: autocompleteSelect(field='widerBenefits',
                                                                   label=#{case.recordOutcomes.widerBenefits},
                                                                   items=${widerBenefitsOptions}, itemValue='code',
                                                                   itemLabel='description')}"/>
        <div class="govuk-button-group govuk-!-margin-top-6">
          <govuk:button type="submit" th:text="#{site.next}"/>
        </div>
    </form>
  </div>
</div>
</body>
</html>
