<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:moj="http://www.thymeleaf.org"
      xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - Record proceeding outcome|"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a class="govuk-back-link" th:href="@{/case/outcome-and-awards}" th:text="#{case.recordOutcomes.backLink}"></a>
  </div>

  <div id="main-content">
    <form action="#"
          th:action="@{/case/outcome-and-awards/proceeding/{index}/outcome(index=${proceedingIndex})}"
          th:object="${proceedingOutcome}"
          method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>

      <h1 class="govuk-heading-l" th:text="#{case.recordOutcomes.title}"></h1>
        <p class="govuk-body" th:text="#{case.recordOutcomes.information}"></p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.proceeding}"></span>
        <span th:text="${proceeding?.proceedingType?.displayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.matterType}"></span>
        <span th:text="${proceeding?.matterType?.displayValue}"></span>
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.description}"></span>
        <span th:text="${proceeding?.description}"></span>
      </p>

      <moj:datepicker
              id="final-work-date"
              name="dateOfFinalWork"
              th:label="#{case.recordOutcomes.dateOfFinalWork}"
              th:hint="#{case.recordOutcomes.dateOfFinalWork.hint}"
              th:attr="value=*{dateOfFinalWork}"
              th:errorMessage="${#fields.hasErrors('dateOfFinalWork') ? #fields.errors('dateOfFinalWork').getFirst() : ''}">
      </moj:datepicker>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('stageEnd')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="stageEnd" th:text="#{case.recordOutcomes.stageEnd}"></label>
        <span class="govuk-error-message" th:if="${#fields.hasErrors('stageEnd')}" th:errors="*{stageEnd}"></span>
        <select id="stageEnd" class="govuk-select" th:field="*{stageEnd}" th:errorclass="govuk-select--error">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${stageEnds}" th:value="${item['code']}" th:text="${item['description']}"></option>
        </select>
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('resolutionMethod')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="resolutionMethod" th:text="#{case.recordOutcomes.resolutionMethod}"></label>
        <span class="govuk-error-message"
              th:if="${#fields.hasErrors('resolutionMethod')}"
              th:errors="*{resolutionMethod}"></span>
        <select id="resolutionMethod"
                class="govuk-select"
                th:field="*{resolutionMethod}"
                th:errorclass="govuk-select--error">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${resolutionMethods}" th:value="${item['code']}" th:text="${item['description']}"></option>
        </select>
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('result')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="result" th:text="#{case.recordOutcomes.result}"></label>
        <span class="govuk-error-message" th:if="${#fields.hasErrors('result')}" th:errors="*{result}"></span>
        <select id="result" class="govuk-select" th:field="*{result}" th:errorclass="govuk-select--error">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${results}" th:value="${item['code']}" th:text="${item['description']}"></option>
        </select>
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('resultInfo')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="resultInfo" th:text="#{case.recordOutcomes.additionalResultInformation}">
        </label>
        <span class="govuk-error-message" th:if="${#fields.hasErrors('resultInfo')}" th:errors="*{resultInfo}"></span>
        <textarea id="resultInfo"
                  class="govuk-textarea"
                  th:field="*{resultInfo}"
                  th:errorclass="govuk-textarea--error"
                  rows="5"
                  maxlength="950"></textarea>
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('alternativeResolution')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="alternativeResolution" th:text="#{case.recordOutcomes.alternativeDisputeResolution}"></label>
        <span class="govuk-error-message"
              th:if="${#fields.hasErrors('alternativeResolution')}"
              th:errors="*{alternativeResolution}"></span>
        <select id="alternativeResolution"
                class="govuk-select"
                th:field="*{alternativeResolution}"
                th:errorclass="govuk-select--error">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${alternativeDisputeResolutions}" th:value="${item['code']}" th:text="${item['description']}"></option>
        </select>
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('adrInfo')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="adrInfo" th:text="#{case.recordOutcomes.alternativeDisputeResolution.additionalInformation}"></label>
        <span class="govuk-error-message" th:if="${#fields.hasErrors('adrInfo')}" th:errors="*{adrInfo}"></span>
        <textarea id="adrInfo"
                  class="govuk-textarea"
                  th:field="*{adrInfo}"
                  th:errorclass="govuk-textarea--error"
                  rows="5"
                  maxlength="950"></textarea>
      </div>

        <div class="govuk-button-group govuk-!-margin-top-3">
            <button type="submit"
                    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                    th:formaction="@{/case/outcome-and-awards/proceeding/{index}/outcome/court-search(index=${proceedingIndex})}"
                    th:text="#{case.recordOutcomes.courtButton}"></button>
        </div>

        <p class="govuk-body">
            <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="#{case.recordOutcomes.court}"></span>
            <span th:text="${proceedingOutcome.courtName != null ? proceedingOutcome.courtCode + ' ' + proceedingOutcome.courtName : proceedingOutcome.courtCode}"></span>
        </p>

        <input type="hidden" th:field="*{courtCode}"/>
        <input type="hidden" th:field="*{courtName}"/>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('outcomeCourtCaseNo')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="outcomeCourtCaseNo" th:text="#{case.recordOutcomes.courtCaseNumber}"></label>
        <span class="govuk-error-message"
              th:if="${#fields.hasErrors('outcomeCourtCaseNo')}"
              th:errors="*{outcomeCourtCaseNo}"></span>
        <input id="outcomeCourtCaseNo"
               class="govuk-input govuk-input--width-20"
               th:field="*{outcomeCourtCaseNo}"
               th:errorclass="govuk-input--error"
               type="text">
      </div>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('widerBenefits')} ? 'govuk-form-group--error' : ''">
        <label class="govuk-label" for="widerBenefits" th:text="#{case.recordOutcomes.widerBenefits}"></label>
        <span class="govuk-error-message" th:if="${#fields.hasErrors('widerBenefits')}" th:errors="*{widerBenefits}"></span>
        <select id="widerBenefits" class="govuk-select" th:field="*{widerBenefits}" th:errorclass="govuk-select--error">
          <option value="" th:text="#{site.select}"></option>
          <option th:each="item : ${widerBenefitsOptions}" th:value="${item['code']}" th:text="${item['description']}"></option>
        </select>
      </div>
        <div class="govuk-button-group govuk-!-margin-top-6">
          <govuk:button type="submit" th:text="#{site.next}"/>
        </div>
    </form>
  </div>
</div>
</body>
</html>
