<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/" class="govuk-back-link">Cancel and return to Home</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/application-type}" th:object="${applicationFormData}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your application</span>
            <h1 class="govuk-heading-l">
                Application type
            </h1>
            <div class="govuk-body-l">
                Please select the relevant details.
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:replace="~{partials/forms :: dropdown('applicationTypeCategory', 'What is your application type?', ${applicationTypes}, 'code', 'description', true)}"></div>
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>