<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/civil/" class="govuk-back-link">Cancel and return to Home</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/category-of-law}" th:object="${applicationFormData}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">About your application</span>
            <h1 class="govuk-heading-l">
                Category of Law
            </h1>
            <div class="govuk-body-l" th:if="${applicationFormData.exceptionalFunding}">
                Please select the relevant Category of Law or click
                <a href="/civil/application/category-of-law">revert to standard application</a>
                if you do not wish to apply for exceptional case funding.
            </div>
            <div class="govuk-body-l" th:unless="${applicationFormData.exceptionalFunding}">
                Please select the relevant Category of Law or click
                <a href="/civil/application/category-of-law?exceptional_funding=true">Exceptional Funding</a>
                if you wish to apply for exceptional case funding.
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:replace="~{partials/forms :: dropdown('categoryOfLawId', 'Which Category Of Law applies to this application?', ${categoriesOfLaw}, 'code', 'matterTypeDescription', true)}"></div>
                    <button class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>