<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(
          title=~{::title},
          mainContent=~{::#main-content},
          pageCategory=${'cases'},
          breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:govuk="http://www.thymeleaf.org">

<head>
  <title th:text="#{service.name} + ' - ' + #{case.selectAwardType.title}"></title>
</head>

<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/case/outcome-and-awards}" class="govuk-back-link" th:text="#{site.cancelAndReturnToOutcomeAndAwards}"></a>
  </div>

  <div id="main-content">
    <form th:action="@{/case/outcome-and-awards/award-type}"
          th:object="${awardTypeForm}"
          method="post">

      <div th:replace="~{partials/error-summary :: error-summary}"></div>

      <h1 class="govuk-heading-l"
          th:text="#{case.selectAwardType.title}">
        Select award type
      </h1>

      <div class="govuk-form-group"
           th:classappend="${#fields.hasErrors('awardTypeCode')}
         ? 'govuk-form-group--error'
         : ''">

        <label class="govuk-label govuk-label--s"
               for="awardTypeCode">
    <span th:text="#{case.selectAwardType.awardTypeLabel}">
      Award type
    </span>
        </label>

        <span th:if="${#fields.hasErrors('awardTypeCode')}"
              th:errors="*{awardTypeCode}"
              id="awardTypeCode-error"
              class="govuk-error-message">
  </span>

        <select class="govuk-select"
                th:errorclass="govuk-select--error"
                th:field="*{awardTypeCode}"
                id="awardTypeCode"
                aria-required="true"
                th:attr="aria-describedby=${#fields.hasErrors('awardTypeCode')}
              ? 'awardTypeCode-error'
              : null">

          <option value="" th:text="#{site.select}">
            Please select
          </option>

          <option th:each="item : ${awardTypes}"
                  th:value="${item.code}"
                  th:text="${item.description}">
          </option>
        </select>
      </div>
          <govuk:button type="submit" th:text="#{site.next}">
          </govuk:button>
    </form>
  </div>
</div>
</body>
</html>