<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.cancelAndReturnToHome}"></a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/{caseContext}/delegated-functions(caseContext=${caseContext})}" th:object="${applicationFormData}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l" th:text="#{application.about}"></span>
            <div th:replace="~{application/partials/delegated-functions}"></div>
        </form>
    </div>
</div>
</body>
</html>