<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LAA CCMS - Start new application</title>
    </head>
    <body>
      <div class="govuk-width-container">
      <div id="breadcrumbs">
          <a href="/" class="govuk-back-link">Cancel and return to Home</a>
      </div>
        <div id="main-content">
          <span class="govuk-caption-l">About your application</span>
          <h1 class="govuk-heading-l">
              Select office
          </h1>
          <form action="#" th:action="@{/application/office}" th:object="${applicationDetails}" method="post">
              <input type="hidden" th:field="*{officeDisplayValue}" id="officeDisplayValue" name="officeDisplayValue" />
              <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <div class="govuk-body-l">
                Please select the office where the application will be held. Alternatively, click
                <a href="/application/search">Copy Case </a>
                to start a new application from an existing one.
            </div>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h2 class="govuk-fieldset__heading">
                            Which office will hold this application?
                          </h2>
                        </legend>
                        <span th:if="${#fields.hasErrors('officeId')}" th:errors="*{officeId}" class="govuk-error-message"></span>
                        <select class="govuk-select" data-module="govuk-select" th:field="*{officeId}" th:errorclass="govuk-select--error" id="officeId" name="officeId" onchange="updateHiddenField('officeId', 'officeDisplayValue')">
                            <option value="">Please select</option>
                            <option th:each="office : ${offices}" th:value="${office.id}" th:text="${office.name}"></option>
                        </select>
                      </fieldset>
                    </div>
                    <button class="govuk-button" data-module="govuk-button">
                      Continue
                    </button>
                </div>
              </div>
            </form>
            <script src="/assets/js/updateHiddenField.js"></script>
        </div>
      </div>
    </body>
</html>