<!--
  To display anchors that may be displayed either as a standard anchor link or a button via govuk
  classes.
-->
<th:block
    th:fragment="restrictedActionLink(actionText, userRoles, allowedRoles, isButton, additionalClasses, url, revertToText)">
  <a th:if="${viewListUtil.containsAny(allowedRoles, userRoles)}"
     th:classappend="${(isButton ? 'govuk-button' : 'govuk-link') + ' ' + additionalClasses}"
     th:attrappend="data-module=${isButton ? 'govuk-button' : null}"
     th:text="${actionText}"
     th:href="${(viewListUtil.containsAny(allowedRoles, userRoles)) ? url : null}">
  </a>
  <span
      th:if="${!viewListUtil.containsAny(allowedRoles, userRoles) and revertToText and !isButton }"
       th:text="${actionText}">
  </span>
</th:block>

<!--
  To display buttons used to submit forms.
-->
<button th:fragment="restrictedSubmitButton(actionText, userRoles, allowedRoles)"
        th:if="${viewListUtil.containsAny(allowedRoles, userRoles)}"
        class="govuk-button"
        data-module="govuk-button"
        type="submit"
        th:text="${actionText}">
</button>

<!--
  To display a message describing why certain actions are not available.
-->
<th:block th:fragment="restrictedActionsMessage(userRoles, allowedRoles)"
          th:with="allowedRoleList=${#lists.toList(#strings.arraySplit(allowedRoles, ','))},
                   missingRoles=${viewListUtil.findMissingRoles(userRoles, allowedRoleList)}">
  <div th:unless="${#lists.isEmpty(missingRoles)}"
      class="govuk-inset-text">
    <span>You cannot perform the following actions: </span>
    <span th:each="role,iterStat : ${missingRoles}"
          th:text="${role.description} + ${!iterStat.last ? ', ' : '.'}"></span>
    <span>This is because the provider you are currently acting on behalf of does not have
        the authority to perform these actions.</span>
  </div>
</th:block>
