<div th:fragment="uploadFormFields">
  <div th:replace="~{partials/error-summary :: error-summary}"></div>
  <div class="govuk-form-group"
       th:classappend="${#fields.hasErrors('file')} ? 'govuk-form-group--error' : ''">
    <label class="govuk-label" for="file" th:text="#{request.chooseFile}"></label>
    <div id="file-upload-hint" class="govuk-hint">
      <span th:text="#{request.fileValidation(${validExtensions},${maxFileSize})}"></span>
    </div>
    <input class="govuk-file-upload" id="file" name="file" type="file">
  </div>
  <div
      th:replace="~{partials/forms :: dropdownWithDisplayValue('documentType', #{document.type}, ${documentTypes}, 'code', 'description')}"></div>
  <div
      th:replace="~{partials/forms :: largeTextInput('documentDescription', #{site.optional(#{document.description})}, 255)}"></div>
</div>

<div th:fragment="documentsSection(
        documents,
        actionAllowed,
        removeMode,
        removeUrlPrefix,
        removeUrlSuffix,
        hiddenFieldName,
        addMode,
        addButtonUrl,
        addButtonId)">
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" th:text="#{document.table.fileName}"></th>
      <th scope="col" class="govuk-table__header" th:text="#{document.table.documentType}"></th>
      <th scope="col" class="govuk-table__header" th:text="#{document.table.description}"></th>
      <th scope="col" class="govuk-table__header" th:text="#{document.table.uploadDate}"></th>
      <th scope="col" class="govuk-table__header" th:text="#{site.action}"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <input th:if="${removeMode == 'hiddenField'}" type="hidden" th:name="${hiddenFieldName}" th:id="${hiddenFieldName}" />
    <tr class="govuk-table__row" th:if="${#lists.isEmpty(documents)}">
      <td class="govuk-table__cell" colspan="5" th:text="#{document.table.noDocuments}"></td>
    </tr>
    <tr class="govuk-table__row" th:each="document, stat : ${documents}">
      <td class="govuk-table__cell" th:text="${document.fileName}"></td>
      <td class="govuk-table__cell" th:text="${document.documentType?.displayValue}"></td>
      <td class="govuk-table__cell" th:text="${document.description}"></td>
      <td class="govuk-table__cell" th:text="${document.auditTrail?.created != null ? #dates.format(document.auditTrail.created, 'dd/MM/yyyy') : ''}"></td>
      <td class="govuk-table__cell">
        <th:block th:if="${actionAllowed}">
          <th:block th:if="${removeMode == 'form'}">
            <form th:action="@{|${removeUrlPrefix}${document.id}${removeUrlSuffix}|}" method="post" class="govuk-form">
              <button type="submit" class="govuk-body govuk-!-margin-bottom-0 ccms-button-as-link" th:text="#{site.remove}" th:id="|documentRemoveLink-${stat.index}|"></button>
            </form>
          </th:block>
          <th:block th:if="${removeMode == 'hiddenField'}">
            <button type="submit" name="action" value="document_delete" class="govuk-body govuk-!-margin-bottom-0 ccms-button-as-link"
                th:attr="data-delete-id=${document.id}, data-delete-input-id=${hiddenFieldName}"
                th:text="#{site.remove}"></button>
          </th:block>
        </th:block>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="govuk-button-group govuk-!-margin-top-3" th:if="${actionAllowed}">
    <th:block th:if="${addMode == 'link'}">
      <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
         th:href="@{${addButtonUrl}}"
         th:text="#{document.table.addDocument}"
         th:id="${addButtonId}"
      ></a>
    </th:block>
    <th:block th:if="${addMode == 'submit'}">
      <button type="submit" name="action" value="document_upload" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
          th:text="#{document.table.addDocument}"></button>
    </th:block>
  </div>
</div>
