<div th:fragment="dropdown(fieldId, formLabel, list, itemValue, itemLabel, isSingleQuestion)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <div th:if="${isSingleQuestion}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading" th:text="${formLabel}"></h2>
      </legend>
    </fieldset>
  </div>

  <label class="govuk-label" th:unless="${isSingleQuestion}" th:for="${fieldId}" th:text="${formLabel}">
  </label>

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <select class="govuk-select"
          data-module="govuk-select"
          th:field="*{__${fieldId}__}"
          th:errorclass="govuk-select--error"
          th:id="${fieldId}"
          th:name="${fieldId}">
    <option value="">Please Select</option>
    <option th:each="item : ${list}"
            th:value="${item[itemValue]}"
            th:text="${item[itemLabel]}">
    </option>
  </select>
</div>


<div th:fragment="dropdownWithDisplayValue(fieldId, formLabel, list, itemValue, itemLabel)"
           class="govuk-form-group"
           th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <label class="govuk-label" th:for="${fieldId}" th:text="${formLabel}">
  </label>

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <input type="hidden" th:id="${fieldId + 'DisplayValue'}" th:name="${fieldId + 'DisplayValue'}" th:value="*{__${fieldId + 'DisplayValue'}__}">

  <select class="govuk-select"
          data-module="govuk-select"
          th:field="*{__${fieldId}__}"
          th:errorclass="govuk-select--error"
          th:id="${fieldId}"
          th:name="${fieldId}"
          th:attr="onchange=|document.getElementById('${fieldId}DisplayValue').value = this.options[this.selectedIndex].text;|">
    <option value="">Please Select</option>
    <option th:each="item : ${list}"
            th:value="${item[itemValue]}"
            th:text="${item[itemLabel]}">
    </option>
  </select>
</div>

<div th:fragment="textInput(fieldId, label, inputClass)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">
  <label class="govuk-label" th:for="${fieldId}" th:text="${label}"></label>
  <span th:if="${#fields.hasErrors(fieldId)}"
        th:errors="*{__${fieldId}__}"
        class="govuk-error-message">
  </span>
  <input th:errorclass="govuk-input--error"
         th:class="${'govuk-input ' + inputClass}"
         th:id="${fieldId}"
         th:name="${fieldId}"
         type="text"
         data-module="govuk-input"
         th:field="*{__${fieldId}__}">
</div>

<div th:fragment="numericInput(fieldId, label, maxLength)" class="govuk-date-input__item">
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label"
           th:for="${fieldId}"
           th:text="${label}">
    </label>
    <input th:errorclass="govuk-input--error"
           th:class="${'govuk-input govuk-date-input__input govuk-input--width-' + maxLength}"
           th:id="${fieldId}"
           th:name="${fieldId}"
           type="text"
           inputmode="numeric"
           th:maxlength="${maxLength}"
           th:field="*{__${fieldId}__}">
  </div>
</div>