<div th:fragment="dropdown(fieldId, formLabel, list, itemValue, itemLabel, isSingleQuestion)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <div th:if="${isSingleQuestion}">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading" th:text="${formLabel}"></h2>
      </legend>
    </fieldset>
  </div>

  <label class="govuk-label" th:unless="${isSingleQuestion}" th:for="${fieldId}" th:text="${formLabel}">
  </label>

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <select class="govuk-select"
          data-module="govuk-select"
          th:field="*{__${fieldId}__}"
          th:errorclass="govuk-select--error"
          th:id="${fieldId}"
          th:name="${fieldId}">
    <option value="" th:text="#{site.select}"></option>
    <option th:each="item : ${list}"
            th:value="${item[itemValue]}"
            th:text="${item[itemLabel]}">
    </option>
  </select>
</div>

<!--
  To display a dropdown for a list of strings that act as both value and display value.
-->
<div th:fragment="simpleDropdown(fieldId, formLabel, list)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <label class="govuk-label" th:for="${fieldId}" th:text="${formLabel}">
  </label>

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <select class="govuk-select"
          data-module="govuk-select"
          th:field="*{__${fieldId}__}"
          th:errorclass="govuk-select--error"
          th:id="${fieldId}"
          th:name="${fieldId}">
    <option value="" th:text="#{site.select}"></option>
    <option th:each="item : ${list}"
            th:value="${item}"
            th:text="${item}">
    </option>
  </select>
</div>

<div th:fragment="dropdownWithDisplayValue(fieldId, formLabel, list, itemValue, itemLabel)"
           class="govuk-form-group"
           th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <label class="govuk-label" th:for="${fieldId}" th:text="${formLabel}">
  </label>

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <input type="hidden" th:id="${fieldId + 'DisplayValue'}" th:name="${fieldId + 'DisplayValue'}" th:value="*{__${fieldId + 'DisplayValue'}__}">

  <select class="govuk-select"
          data-module="govuk-select"
          th:field="*{__${fieldId}__}"
          th:errorclass="govuk-select--error"
          th:id="${fieldId}"
          th:name="${fieldId}"
          th:attr="onchange=|document.getElementById('${fieldId}DisplayValue').value = this.options[this.selectedIndex].text;|">
    <option value="" th:text="#{site.select}"></option>
    <option th:each="item : ${list}"
            th:value="${item[itemValue]}"
            th:text="${item[itemLabel]}">
    </option>
  </select>
</div>

<div th:fragment="textInput(fieldId, label, inputClass)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">
  <label class="govuk-label" th:for="${fieldId}" th:text="${label}"></label>
  <span th:if="${#fields.hasErrors(fieldId)}"
        th:errors="*{__${fieldId}__}"
        class="govuk-error-message">
  </span>
  <input th:errorclass="govuk-input--error"
         th:class="${'govuk-input ' + inputClass}"
         th:id="${fieldId}"
         th:name="${fieldId}"
         type="text"
         data-module="govuk-input"
         th:field="*{__${fieldId}__}">
</div>

<div th:fragment="largeTextInput(fieldId, label, maxLength)"
     class="govuk-form-group govuk-character-count"
     data-module="govuk-character-count"
     th:data-maxlength="${maxLength}"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">
  <fieldset class="govuk-fieldset">
    <label class="govuk-label" th:for="${fieldId}" th:text="${label}"></label>
    <span th:if="${#fields.hasErrors(fieldId)}"
          th:errors="*{__${fieldId}__}"
          class="govuk-error-message">
    </span>
    <textarea
            class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-2"
            th:errorclass="govuk-input--error"
            th:id="${fieldId}"
            th:name="${fieldId}"
            rows="5"
            th:maxlength="${maxLength}"
            th:field="*{__${fieldId}__}">
    </textarea>
    <div th:id="(${fieldId}) + '-info'" class="govuk-hint govuk-character-count__message"></div>
  </fieldset>
</div>

<div th:fragment="numericInput(fieldId, label, maxLength)" class="govuk-date-input__item">
  <div class="govuk-form-group"
       th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">>
    <label class="govuk-label govuk-date-input__label"
           th:for="${fieldId}"
           th:text="${label}">
    </label>
    <span th:if="${#fields.hasErrors(fieldId)}"
          th:errors="*{__${fieldId}__}"
          class="govuk-error-message">
    </span>
    <input th:errorclass="govuk-input--error"
           th:class="${'govuk-input govuk-date-input__input govuk-input--width-' + maxLength}"
           th:id="${fieldId}"
           th:name="${fieldId}"
           type="text"
           inputmode="numeric"
           th:maxlength="${maxLength}"
           th:field="*{__${fieldId}__}">
  </div>
</div>


<div th:fragment="currencyInput(fieldId, label, maxLength)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label" th:for="${fieldId}" th:text="${label}"></label>
    <span th:if="${#fields.hasErrors(fieldId)}"
          th:errors="*{__${fieldId}__}"
          class="govuk-error-message">
    </span>
  </h2>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true" >£</div>
    <input th:errorclass="govuk-input--error"
           th:class="${'govuk-input govuk-input--width-' + maxLength}"
           th:id="${fieldId}"
           th:name="${fieldId}"
           type="text" spellcheck="false"
           th:field="*{__${fieldId}__}">
  </div>
</div>

<div th:fragment="radios(fieldId, formLabel, list, itemValue, itemLabel, isSingleQuestion)"
     class="govuk-form-group"
     th:classappend="${#fields.hasErrors(fieldId)} ? 'govuk-form-group--error' : ''">

  <span th:if="${#fields.hasErrors(fieldId)}" th:errors="*{__${fieldId}__}" class="govuk-error-message"></span>

  <fieldset class="govuk-fieldset">
    <div th:if="${isSingleQuestion}">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading" th:text="${formLabel}"></h2>
        </legend>
    </div>
    <div th:unless="${isSingleQuestion}">
      <label class="govuk-fieldset__legend govuk-label"  th:for="${fieldId}" th:text="${formLabel}">
      </label>
    </div>

    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div th:each="item : ${list}"
           th:class="govuk-radios__item">
        <input class="govuk-radios__input"
               th:id="${fieldId + '-' + item[itemValue]}"
               th:field="*{__${fieldId}__}"
               th:errorclass="govuk-select--error"
               th:name="${fieldId}"
               type="radio"
               th:value="${item[itemValue]}">

        <label class="govuk-label govuk-radios__label"
               th:for="${fieldId + '-' + item[itemValue]}"
               th:text="${item[itemLabel]}">
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div th:fragment="dateOfBirth(dobDayId, dobMonthId, dobYearId, formLabel)"
     class="govuk-form-group" th:classappend="${#fields.hasErrors(dobDayId) || #fields.hasErrors(dobMonthId) || #fields.hasErrors(dobYearId)} ? 'govuk-form-group--error' : ''">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint dob-error">
    <legend class="govuk-fieldset__legend" th:text="${formLabel}">
    </legend>
    <div id="dob-hint" class="govuk-hint">
      For example, 27 3 2007
    </div>
    <p id="dob-error" class="govuk-error-message">
      <span th:each="error : ${#fields.detailedErrors()}">
          <span th:inline="text" th:if="${error.fieldName == dobDayId || error.fieldName == dobMonthId || error.fieldName == dobYearId}">
              <span th:utext="${error.message + '<br>'}"></span>
          </span>
      </span>
    </p>
    <div class="govuk-date-input" id="dob">
      <div th:replace="partials/forms::numericInput(${dobDayId}, 'Day', '2')"></div>
      <div th:replace="partials/forms::numericInput(${dobMonthId}, 'Month', '2')"></div>
      <div th:replace="partials/forms::numericInput(${dobYearId}, 'Year', '4')"></div>
    </div>
  </fieldset>
</div>