<th:block th:fragment="header">
    <header class="govuk-header govuk-header--full-width-border" role="banner"
            data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="#" class="govuk-header__link govuk-header__link--homepage">
                  <span class="govuk-header__logotype">
                        <img th:src="@{/webjars/ministryofjustice__frontend/moj/assets/images/moj-logotype-crest-2024.png}"
                             class="govuk-header__logotype-crown-fallback-image" width="36"
                             height="32" alt="">
                      <span class="govuk-header__product-name">
                          Legal Aid Agency
                      </span>
                  </span>
            </a>
        </div>
        <div class="govuk-header__content">
            <a href="#" class="govuk-header__link govuk-header__service-name">
                Client and Cost Management System
            </a>
        </div>
    </div>
</header>
    <div class="govuk-service-navigation"
         data-module="govuk-service-navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button"
                            class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                            aria-controls="navigation" hidden>
                        Menu
                    </button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item"
                            th:classappend="${pageCategory == 'home'} ? 'govuk-service-navigation__item--active'">
                            <a class="govuk-service-navigation__link" th:href="@{/home}"
                               th:attr="aria-current=${pageCategory == 'home' ? 'true' : null}">
                                Home
                            </a>
                        </li>
                        <li th:if="${#lists.contains(user?.functions, 'YCA')}"
                            class="govuk-service-navigation__item"
                            th:classappend="${pageCategory == 'cases'} ? 'govuk-service-navigation__item--active'">
                            <a class="govuk-service-navigation__link"
                               th:href="@{/application/search}"
                               th:attr="aria-current=${pageCategory == 'cases' ? 'true' : null}">
                                <strong class="govuk-service-navigation__active-fallback">Cases and
                                    applications</strong>
                            </a>
                        </li>
                        <li th:if="${#lists.contains(user?.functions, 'NOT')}"
                            class="govuk-service-navigation__item"
                            th:classappend="${pageCategory == 'actions'} ? 'govuk-service-navigation__item--active'">
                            <a class="govuk-service-navigation__link"
                               th:href="@{/notifications/search(notification_type=all)}"
                               th:attr="aria-current=${pageCategory == 'actions' ? 'true' : null}">
                                Actions and notifications
                            </a>
                        </li>
                        <li class="govuk-service-navigation__item"
                            th:classappend="${pageCategory == 'help'} ? 'govuk-service-navigation__item--active'">
                            <a class="govuk-service-navigation__link" href="#TODO"
                               th:attr="aria-current=${pageCategory == 'help' ? 'true' : null}">
                                Help
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</th:block>
