<div th:fragment="phase-banner" class="govuk-phase-banner">
    <div class="govuk-body govuk-!-font-size-14 govuk-!-text-align-right" style="margin-bottom: 0; white-space: nowrap">
        Logged in as:
        <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" sec:authentication="name"></span>
        <span th:if="${pageCategory == 'home'}">
            On Behalf of:
            <span class="govuk-!-font-weight-bold govuk-!-padding-right-2" th:text="${providerName}"></span>
        </span>
        <a href="/" class="govuk-!-text-align-right">
            Logout
        </a>
    </div>
</div>
