<div th:fragment="phase-banner" class="govuk-phase-banner"
     th:style="${activeCase} ? 'background: #dee0e2;'" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div th:if="${activeCase}" class="govuk-grid-column-one-half">
        <p class="govuk-body govuk-!-font-size-16" style="margin-bottom: 0; white-space: nowrap">
          <img class="govuk-!-padding-left-2 govuk-!-padding-right-2"
               th:src="@{/assets/ccms/case-open.png}" alt="case"/>
          <span class="govuk-!-padding-right-2" th:text="${activeCase.client}"></span>
          <span class="govuk-!-padding-right-2" th:text="${activeCase.caseReferenceNumber}"></span>
          <span class="govuk-!-padding-right-2"
                th:text="${activeCase.providerCaseReferenceNumber}"></span>
        </p>
      </div>
      <div th:class="${activeCase} ? 'govuk-grid-column-one-half' : 'govuk-grid-column-full'">
        <p class="govuk-body govuk-!-font-size-14"
           style="margin-bottom: 0; white-space: nowrap">
          <span class="govuk-!-padding-left-2" th:text="|#{site.phase.loggedInAs}:|"/>
          <span class="govuk-!-font-weight-bold govuk-!-padding-right-2"
                sec:authentication="name"/>
          <span th:if="${pageCategory == 'home'}">
                    <th:block th:text="|#{site.phase.onBehalfOf}:|"/>
                    <span class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                        <a th:if="${#lists.size(user.firms) > 1}"
                           id="switch-provider-link"
                           class="govuk-link govuk-link--no-visited-state"
                           th:href="@{/provider-switch}"
                           th:text="${user.provider.name}"/>
                        <span th:if="${#lists.size(user.firms) <= 1}"
                              th:text="${user.provider.name}"/>
                    </span>
                </span>
            <a th:href="@{/logout}" class="govuk-link govuk-!-text-align-right govuk-!-padding-right-2
               govuk-link--no-visited-state"
               th:style="'float: right;' + (activeCase != false ? 'color: #003078;' : '')"
               th:text="#{site.phase.logout}"/>
        </p>
      </div>
    </div>
  </div>

</div>
