@import "govuk-frontend/dist/govuk/settings/colours-palette";

.loader {
    margin: auto;
    border: 12px solid #dee0e2;
    border-top: 12px solid map-get($govuk-colours, "blue");
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

.loader-small {
    margin: auto;
    border: 4px solid #dee0e2;
    border-top: 4px solid map-get($govuk-colours, "blue");
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
