<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a th:href="@{/application/summary}" class="govuk-back-link">Cancel and return to create application</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/summary/application-type}" th:object="${applicationFormData}" method="post">
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">Create application</span>
            <div th:replace="~{application/partials/delegated-functions}"></div>
        </form>
    </div>
</div>
</body>
</html>