<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Search for an organisation</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/application/summary/opponents" class="govuk-back-link">Cancel and return to Opponents and other parties</a>
    </div>
    <div id="main-content">
        <form action="#" th:action="@{/application/summary/opponents/organisation/confirm}" th:object="${opponent}" method="post">
            <input type="hidden" th:name="partyId" th:value="*{partyId}"/>
            <input type="hidden" th:name="organisationName" th:value="*{organisationName}"/>
            <input type="hidden" th:name="organisationType" th:value="*{organisationType}"/>
            <input type="hidden" th:name="currentlyTrading" th:value="*{currentlyTrading}"/>
            <input type="hidden" th:name="contactName" th:value="*{contactName}"/>
            <input type="hidden" th:name="houseNameOrNumber" th:value="*{houseNameOrNumber}"/>
            <input type="hidden" th:name="addressLine1" th:value="*{addressLine1}"/>
            <input type="hidden" th:name="addressLine2" th:value="*{addressLine2}"/>
            <input type="hidden" th:name="city" th:value="*{city}"/>
            <input type="hidden" th:name="county" th:value="*{county}"/>
            <input type="hidden" th:name="country" th:value="*{country}"/>
            <input type="hidden" th:name="postcode" th:value="*{postcode}"/>
            <input type="hidden" th:name="telephoneWork" th:value="*{telephoneWork}"/>
            <input type="hidden" th:name="faxNumber" th:value="*{faxNumber}"/>
            <input type="hidden" th:name="emailAddress" th:value="*{emailAddress}"/>
            <div th:replace="~{partials/error-summary :: error-summary}"></div>
            <span class="govuk-caption-l">Search for an organisation</span>
            <h1 class="govuk-heading-l">
                Opponents and other parties
            </h1>
            <p class="govuk-body-l">
                Please enter the details for any opponents and other parties involved in this application/amendment.
            </p>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Selected organisation</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Organisation name', *{organisationName})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Organisation type', *{organisationTypeDisplayValue})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplayYesNo('Currently trading', *{currentlyTrading})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Contact name and role', *{contactName})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Building name / number', *{houseNameOrNumber})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Address line 1', *{addressLine1})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Address line 2', *{addressLine2})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('City / town', *{city})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('County', *{county})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Country', *{country})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Post code', *{postcode})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Telephone', *{telephoneWork})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Fax', *{faxNumber})}"></div>
                        <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Email address', *{emailAddress})}"></div>
                    </dl>
                </div>
           </div>
            <div th:replace="~{partials/forms :: dropdown('relationshipToCase', 'Relationship to case', ${relationshipsToCase}, 'code', 'description', false)}"></div>
            <div th:replace="~{partials/forms :: dropdown('relationshipToClient', 'Relationship to client', ${relationshipsToClient}, 'code', 'description', false)}"></div>
            <p class="govuk-body govuk-!-width-two-thirds">
                <span class="govuk-!-padding-right-2">
                  Any other information about the liable organisation  (Maximum 2000 characters allowed)
                </span>
                <textarea class="govuk-textarea" id="otherInformation" name="otherInformation" rows="5" th:value="*{otherInformation}"></textarea>
            </p>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>