<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Create application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a href="/civil/application/summary" class="govuk-back-link">Cancel and return to create application</a>
  </div>
  <div id="main-content">
    <span class="govuk-caption-l">Create application</span>
    <h1 class="govuk-heading-l">
      Provider details
    </h1>
    <form action="#" th:action="@{/application/summary/provider-details}" th:object="${applicationFormData}" method="post">
      <input type="hidden" th:field="*{officeId}" th:value="${applicationFormData.officeId}" />
      <input type="hidden" th:field="*{officeName}" th:value="${applicationFormData.officeName}" />
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <div class="govuk-body-l">
        Please enter the details in the fields provided.
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            <span  class="govuk-!-font-weight-bold govuk-!-padding-right-2">
                Office
            </span>
            <span th:text="*{officeName}"></span>
          </p>
          <div th:replace="~{partials/forms :: dropdown('feeEarnerId', 'Name of solicitor or Fellow of the Institute of Legal Executives instructed (optional)', ${feeEarners}, 'id', 'name', false)}"></div>
          <div th:replace="~{partials/forms :: dropdown('supervisorId', 'Supervisor (optional)', ${feeEarners}, 'id', 'name', false)}"></div>
          <div th:replace="~{partials/forms :: textInput('providerCaseReference', 'Provider case reference (optional)', 'govuk-input--width-20')}"></div>
          <div th:replace="~{partials/forms :: dropdown('contactNameId', 'Contact name', ${contactNames}, 'id', 'name', false)}"></div>
          <button class="govuk-button" data-module="govuk-button">
            Confirm
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>