<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LAA CCMS - Your actions / notifications</title>
</head>
<body>
<div class="govuk-width-container">
    <div id="breadcrumbs">
        <a href="/" class="govuk-back-link">Return to home</a>
    </div>
    <div id="main-content">
        <h1 class="govuk-heading-l">
            Your actions / notifications
        </h1>
        <p class="govuk-body-l">
            Your search has returned <span th:text="${notifications.totalElements}"></span> results.
            To select one of the records that has been returned, click on the
            subject title. If the results shown do not include the actions or
            notifications you are looking for, please review your search criteria
            using the Refine search button at the top of the results table.
        </p>
        <p class="govuk-body govuk-!-text-align-right">
            <a class="govuk-button govuk-button--secondary"
               data-module="govuk-button"
               href="/notifications/search">
                Refine search
            </a>
        </p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Your actions / notifications</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th th:replace="~{partials/pagination :: sorting(${notifications},'assignDate','Date assigned')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'subject','Subject')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'dueDate','Due date')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'user.userLoginId','Assigned to')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'status','Status')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'caseReferenceNumber','LAA Ref')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'providerCaseReferenceNumber','Provider ref')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'clientName','Client')}"></th>
                <th th:replace="~{partials/pagination :: sorting(${notifications},'feeEarner','Fee earner')}"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="notification : ${notifications.content}">
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${#dates.format(notification.assignDate,'dd-MM-yyyy')}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.subject}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${#dates.format(notification.dueDate,'dd-MM-yyy')}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.user.userLoginId}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.status}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.caseReferenceNumber}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.providerCaseReferenceNumber}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.clientName}"></td>
                <td class="govuk-table__cell govuk-!-font-size-17" th:text="${notification.feeEarner}"></td>
            </tr>
            </tbody>
        </table>
        <nav th:replace="~{partials/pagination :: pagination(page=${notifications})}"></nav>
    </div>
</div>
</body>
</html>
