<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>LAA CCMS - Your actions / notifications</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/notifications/search(notification_type='N')}" class="govuk-back-link">Cancel and
      return
      to search results</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/notifications/search}" th:object="${notificationSearchCriteria}"
          method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l">Search for notifications</span>
      <h1 class="govuk-heading-l">Your actions / notifications</h1>
      <div class="govuk-body-l">
        Please enter as many details as you have available in the provided search fields in
        order to find your required action or notification. At least one of the search criteria
        fields should be completed.
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h2 class="govuk-heading-m">Responsibility information</h2>
          <div
              th:replace="~{partials/forms :: dropdown('assignedToUserId', 'Assigned to', ${users}, 'loginId', 'loginId', false)}"></div>
          <div
              th:replace="~{partials/forms :: dropdown('feeEarnerId', 'Fee earner', ${feeEarners}, 'id', 'name', false)}"></div>

          <h2 class="govuk-heading-m">Notification dates</h2>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with notification dates
              </span>
            </summary>
            <div class="govuk-details__text">
              Notifications can only be returned within a date range of 3 years. If no date is
              provided, only notifications from up to 3 years ago will be returned.
            </div>
          </details>
          <div class="govuk-form-group"
               th:classappend="${#fields.hasErrors('notificationFromDate')} ? 'govuk-form-group--error' : ''">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <label class="govuk-label" for="notification-from-date-field-value">
                From
              </label>
              <div id="notification-from-date-hint" class="govuk-hint">
                For example, 17/5/2024. Notifications of up to 3 years after this date will be
                returned.
              </div>
              <span th:if="${#fields.hasErrors('notificationFromDate')}"
                    th:errors="*{notificationFromDate}" class="govuk-error-message"></span>
              <input class="govuk-input moj-js-datepicker-input"
                     id="notification-from-date-field-value"
                     th:field="*{notificationFromDate}"
                     type="text"
                     aria-describedby="notification-from-date-hint"
                     autocomplete="off"
                     th:errorclass="govuk-select--error">
            </div>
          </div>
          <div class="govuk-form-group"
               th:classappend="${#fields.hasErrors('notificationToDate')} ? 'govuk-form-group--error' : ''">
            <div class="moj-datepicker" data-module="moj-date-picker">
              <label class="govuk-label" for="notification-to-date-field-value">
                To
              </label>
              <div id="notification-to-date-hint" class="govuk-hint">
                For example, 17/5/2024. Notifications of up to 3 years before this date will be
                returned.
              </div>
              <span th:if="${#fields.hasErrors('notificationToDate')}"
                    th:errors="*{notificationToDate}" class="govuk-error-message"></span>

              <input class="govuk-input moj-js-datepicker-input"
                     id="notification-to-date-field-value"
                     th:field="*{notificationToDate}"
                     type="text"
                     aria-describedby="notification-from-date-hint"
                     autocomplete="off"
                     th:errorclass="govuk-select--error">
            </div>
          </div>

          <h2 class="govuk-heading-m">Case information</h2>

          <div
              th:replace="~{partials/forms :: textInput('providerCaseReference', 'Provider case reference', 'govuk-input--width-20')}"></div>
          <div
              th:replace="~{partials/forms :: textInput('caseReference', 'LAA application / case reference', 'govuk-input--width-20')}"></div>
          <div
              th:replace="~{partials/forms :: textInput('clientSurname', 'Client surname', 'govuk-input--width-20')}"></div>

          <h2 class="govuk-heading-m">Notification details</h2>

          <div
              th:replace="~{partials/forms :: dropdown('notificationType', 'Action / Notification Type', ${notificationTypes}, 'code', 'description', false)}"></div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                Include closed notifications?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="includeClosed-yes" name="includeClosed"
                         type="radio" value="true"
                         th:checked="${notificationSearchCriteria.includeClosed}">
                  <label class="govuk-label govuk-radios__label" for="includeClosed-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="includeClosed-no" name="includeClosed"
                         type="radio" value="false"
                         th:checked="${!notificationSearchCriteria.includeClosed}">
                  <label class="govuk-label govuk-radios__label" for="includeClosed-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
