<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{service.name} + ' - ' + #{notifications.heading}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.returnToHome}"></a>
  </div>
  <div id="main-content">

    <h1 class="govuk-heading-l" th:text="#{notifications.heading}"/>

    <p class="govuk-body-l"
       th:text="#{notifications.search.results.leadParagraph(${notificationsSearchResults.totalElements})}"/>

    <a class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action"
       role="button"
       th:href="@{/notifications/search}"
       th:text="#{notifications.search.results.refineSearch}"
       data-module="govuk-button"/>

    <div class="moj-scrollable-pane govuk-!-padding-top-4">
      <table class="govuk-table ccms-compact-table">
        <caption class="govuk-table__caption govuk-table__caption--m"
                 th:text="#{search.results}"/>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'dateAssigned',
          #{common.dateAssigned})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'subject',
          #{common.subject})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'dueDate',
          #{common.dueDate})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'userLoginId',
          #{common.assignedTo})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'status',
          #{common.status})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'lscCaseRefReference',
          #{common.laaRef})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'providerCaseReference',
          #{common.providerRef})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'clientName',
          #{common.client})}"></th>
          <th th:replace="~{partials/pagination :: sorting(${notificationsSearchResults},'feeEarner',
          #{common.feeEarner})}"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" th:each="notification : ${notificationsSearchResults.content}">
          <td class="govuk-table__cell"
              th:text="${#temporals.format(notification?.assignDate,'dd/MM/yyyy')}"></td>
          <td class="govuk-table__cell"><a class="govuk-link--no-visited-state"
              th:href="@{/notifications/{notification_id}(notification_id=${notification.notificationId})}"
              th:text="${#strings.capitalize(#strings.toLowerCase(notification.subject))}"></a></td>
          <td class="govuk-table__cell"
              th:text="${#temporals.format(notification.dueDate,'dd/MM/yyyy')}"></td>
          <td class="govuk-table__cell" th:text="${notification.user.loginId}"></td>
          <td class="govuk-table__cell" th:text="${notification.status}"></td>
          <td class="govuk-table__cell" th:text="${notification.caseReferenceNumber}"></td>
          <td class="govuk-table__cell" th:text="${notification.providerCaseReferenceNumber}"></td>
          <td class="govuk-table__cell" th:text="${notification.clientName}"></td>
          <td class="govuk-table__cell" th:text="${notification.feeEarner}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <nav
        th:replace="~{partials/pagination :: pagination(page=${notificationsSearchResults})}"></nav>
  </div>
</div>
</body>
</html>
