<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Your actions / notifications</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/notifications/search?notification_type=all}"
     class="govuk-back-link">Return to notification search results</a>
  </div>
  <div id="main-content">
    <h1 class="govuk-heading-l">
      <th:block th:text="${notification.subject}"/>
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                style="margin-top: 0; white-space: nowrap">Date assigned</th>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${#dates.format(notification.assignDate,'dd-MM-yyyy')}"></td>
            <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                style="margin-top: 0; white-space: nowrap">Due date</th>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${#dates.format(notification.dueDate,'dd-MM-yyyy')}"></td>
            <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                style="margin-top: 0; white-space: nowrap">Status</th>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${notification.status}"></td>
            <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                style="margin-top: 0; white-space: nowrap">Assigned to</th>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${notification.user.userLoginId}"></td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class=govuk-table__cell colspan="8"
                th:if="${#lists.isEmpty(notification.notes)}">
              <br/>
            </td>
            <td class="govuk-table__cell" colspan="4">
              <th:block th:each="note :  ${notification.notes}">
                <p class="ccms-pre-formatted" th:utext="${note.message}"></p>
              </th:block>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m">
          Case Details
        </h1>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">LAA Ref</th>
              <th scope="col" class="govuk-table__header">Provider ref</th>
              <th scope="col" class="govuk-table__header">Client</th>
              <th scope="col" class="govuk-table__header">Fee earner</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"
                  th:text="${#strings.isEmpty(notification.caseReferenceNumber) ? 'None' :notification.caseReferenceNumber}"></td>
              <td class="govuk-table__cell"
                  th:text="${notification.providerCaseReferenceNumber}"></td>
              <td class="govuk-table__cell" th:text="${notification.clientName}"></td>
              <td class="govuk-table__cell" th:text="${notification.feeEarner}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m">
          Attachments
        </h1>
        <table class="govuk-table">
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Action</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row" th:each="attachment : ${notification.attachedDocuments}">
            <td class="govuk-table__cell" th:text="${attachment.text}"></td>
            <td th:if="${documentLinks.get(attachment.getDocumentId)} != null"
                class="govuk-table__cell">
              <a
                  th:href="${documentLinks.get(attachment.getDocumentId)}"
                  th:target="_blank" class="govuk-link">
                Download</a>
            </td>
            <td th:if="${documentLinks.get(attachment.getDocumentId)} == null"
                class="govuk-table__cell">
              <a
                  th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/retrieve(notification_id=${notification.getNotificationId},attachment_id=${attachment.getDocumentId})}" class="govuk-link ccms-download-link">
                Retrieve</a>
              <div
                   style="visibility:hidden;display:inline-block"
                   class="loader-small"></div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-text-align-left">
          <a class="govuk-button govuk-button--secondary"
             data-module="govuk-button"
             th:href="@{/notifications/{notification_id}/provide-documents-or-evidence(notification_id=${notification.getNotificationId})}">
            Provide documents or evidence
          </a>
        </p>
        <p class="govuk-body govuk-!-font-size-15-!-text-align-left">
          <a class="govuk-back-link"
             th:href="@{/notifications/search?notification_type=all}">
            Back
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<script>
  var links = document.getElementsByClassName('ccms-download-link')
  for(var i = 0; i < links.length; i++) {
    var link = links[i];
    link.onclick = function() {
      ldr = this.parentElement.getElementsByClassName('loader-small')[0];
      console.log("Link with ID: " + this.id + " activating spinner with ID: " + ldr.id);
      if (ldr.style.visibility == "hidden") {
        ldr.style.visibility = "visible"
      }
    };
  }
</script>
