<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs},userRoles=${user.functions},pageRoles='SUBDOC')}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{notifications.documents.heading}|"/>
</head>
<body>

<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/notifications/{notification_id}(notification_id=${notificationId})}"
       class="govuk-back-link" th:text="#{notifications.goBack}"/>
  </div>
  <div id="main-content">
    <form action="#"
          th:action="@{/notifications/{notification_id}/provide-documents-or-evidence(notification_id=${notification.getNotificationId})}" th:object="${notification}" method="post">
      <div class="govuk-error-summary" data-module="govuk-error-summary" th:if="${errorMessage}">
        <div role="alert">
          <h2 class="govuk-error-summary__title" th:text="#{validation.heading}"/>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <p th:text="${errorMessage}" />
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h1 class="govuk-heading-l" th:text="#{notifications.documents.heading}"/>
      <p class="govuk-body-l" th:text="#{notifications.documents.leadParagraph}"/>

      <h2 class="govuk-heading-m" th:text="#{notifications.subHeading.notificationDetails}"/>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                  style="margin-top: 0; white-space: nowrap"
                  th:text="#{notifications.dateAssigned}"/>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${#temporals.format(notification.assignDate,'dd/MM/yyyy')}"></td>
              <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                  style="margin-top: 0; white-space: nowrap" th:text="#{notifications.dueDate}"/>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${#temporals.format(notification.dueDate,'dd/MM/yyyy')}"></td>
              <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                  style="margin-top: 0; white-space: nowrap"
                  th:text="#{notifications.status}"/>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${notification.status}"></td>
              <th scope="col" class="govuk-table__header govuk-!-font-size-17-!-text-align-left"
                  style="margin-top: 0; white-space: nowrap" th:text="#{notifications.assignedTo}"/>
              <td class="govuk-table__cell govuk-!-font-size-15"
                  th:text="${notification.user.loginId}"></td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" th:text="#{notifications.subHeading.notes}"/>
          <div class="govuk-inset-text" th:if="${#lists.isEmpty(notification.notes)}">
            <th:block th:text="#{notifications.noNotesAttached}"/>
          </div>
          <th:block th:each="note, idx : ${notification.notes}" th:with="formattedDate=${#temporals.format(note.date,'dd MMMM yyyy')},
              formattedTime=${#temporals.format(note.date,'HH:mm')}">
            <p class="govuk-body govuk-!-font-weight-bold"
               th:text="#{notifications.noteTitle(${formattedDate}, ${formattedTime})}"/>
            <p th:unless="${#lists.isEmpty(notification.notes)}" class="govuk-body ccms-pre-formatted"
               th:id="|note-${idx.index}|" th:utext="${note.message}"></p>
          </th:block>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m" th:text="#{notifications.subHeading.documentsOrEvidenceDetails}"/>
          <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" th:text="#{notifications.documents.number}"/>
              <th scope="col" class="govuk-table__header" th:text="#{notifications.documents.sendBy}">
              <th scope="col" class="govuk-table__header" th:text="#{notifications.documents.documentType}"/>
              <th scope="col" class="govuk-table__header" th:text="#{site.description}"/>
              <th scope="col" class="govuk-table__header" th:text="#{notifications.documents.status}"/>
              <th scope="col" class="govuk-table__header" th:text="#{site.action}">
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="attachment : ${notificationAttachments}">
              <td class=govuk-table__cell colspan="8"
                  th:if="${#lists.isEmpty(notificationAttachments)}">
                [[#{site.none}]] None<br/>
              </td>
              <td class="govuk-table__cell" th:text="${attachment.number}"></td>
              <td class="govuk-table__cell"
                  th:text="${attachment.sendBy == 'P' ? 'Post' : 'Electronic Upload'}"></td>
              <td class="govuk-table__cell" th:text="${attachment.documentType.displayValue}"></td>
              <td class="govuk-table__cell" th:text="${attachment.description}"></td>
              <td class="govuk-table__cell" th:text="${attachment.status}"></td>
              <td class="govuk-table__cell">
                <div class="govuk-button-group">
                  <a th:if="${attachment.status == 'Ready to Submit'}"
                     th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/edit(notification_id=${notification.getNotificationId},attachment_id=${attachment.getId})}"
                     class="govuk-link"
                      th:text="#{site.edit}"/>
                  <a th:if="${attachment.status == 'Ready to Submit'}"
                     th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/remove(notification_id=${notification.getNotificationId},attachment_id=${attachment.getId})}"
                     class="govuk-link"
                  th:text="#{site.remove}"/>
                  <a th:if="${documentLinks.get(attachment.getId?.toString())} != null"
                     th:href="${documentLinks.get(attachment.getId.toString())}"
                     th:target="_blank" class="govuk-link"
                     th:text="${attachment.sendBy} == 'P' ? #{notifications.documents.downloadCoverSheet} : #{site.download}">
                  </a>
                  <a
                      th:if="${attachment.status} != 'Submitted' and ${attachment.sendBy} == 'E' and ${documentLinks.get(attachment.getId?.toString())} == null"
                      th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/retrieveDraft(notification_id=${notification.getNotificationId},attachment_id=${attachment.getId})}"
                      class="govuk-link ccms-download-link"
                      th:text="#{site.retrieve}"/>
                  <a
                      th:if="${attachment.status} == 'Submitted' and ${attachment.sendBy} == 'E' and ${documentLinks.get(attachment.getId?.toString())} == null"
                      th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/retrieve(notification_id=${notification.getNotificationId},attachment_id=${attachment.getId})}"
                      class="govuk-link ccms-download-link"
                      th:text="#{site.retrieve}"/>
                  <a
                      th:if="${attachment.status} == 'Submitted' and ${attachment.sendBy} == 'P' and ${documentLinks.get(attachment.getId?.toString())} == null"
                      th:href="@{/notifications/{notification_id}/attachments/{attachment_id}/retrieveCoverSheet(notification_id=${notification.getNotificationId},attachment_id=${attachment.getId})}"
                      class="govuk-link ccms-download-link"
                      th:text="#{notifications.documents.retrieveCoverSheet}"/>
                  <div
                      style="visibility:hidden;display:inline-block"
                      class="loader-small"></div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-button-group">
            <a class="govuk-button govuk-button--secondary"
               data-module="govuk-button"
               th:href="@{/notifications/{notification_id}/attachments/upload?sendBy=POSTAL(notification_id=${notification.getNotificationId})}"
                th:text="#{notifications.documents.addPostalDocument}"/>
            <a class="govuk-button govuk-button--secondary"
               data-module="govuk-button"
               th:href="@{/notifications/{notification_id}/attachments/upload?sendBy=ELECTRONIC(notification_id=${notification.getNotificationId})}"
                th:text="#{notifications.documents.addElectronicDocument}"/>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div th:replace="~{partials/actions :: restrictedSubmitButton(#{site.submit},
              ${user.functions}, 'SUBDOC')}"></div>
          <p class="govuk-body govuk-!-font-size-15-!-text-align-left">
            <a class="govuk-back-link"
               th:href="@{/notifications/{notification_id}(notification_id=${notificationId})}"
                th:text="#{site.back}"/>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
<script>
  var links = document.getElementsByClassName('ccms-download-link')
  for(var i = 0; i < links.length; i++) {
    var link = links[i];
    link.onclick = function() {
      ldr = this.closest('td').getElementsByClassName('loader-small')[0];
      console.log("Link with ID: " + this.id + " activating spinner with ID: " + ldr.id);
      if (ldr.style.visibility == "hidden") {
        ldr.style.visibility = "visible"
      }
    };
  }
</script>
