<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'home'},breadcrumbs=~{::#breadcrumbs},userRoles=${user.functions},pageRoles='YCA,NOT,CA,PRC')}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <div id="breadcrumbs"></div>
        <div id="main-content" style="padding-top: 40px;">
            <h1 class="govuk-heading-l">
                Client and Cost Management System
                <span class="govuk-caption-l">Civil legal aid applications, amendments and billing.</span>
            </h1>

            <div th:replace="~{partials/actions :: restrictedActionLink('New application', ${user.functions}, 'CA', true, '', @{/application/office}, false)}"></div>

            <!--  Notifications  -->
            <h2 class="govuk-heading-m">
                Your Actions and Notifications
            </h2>

            <div th:if="${showNotifications}"
                 th:with="noActions=${#strings.equals(actionsMsg, 'No Outstanding Actions')},
                          noNotifications=${#strings.equals(notificationsMsg, 'View Notifications (none outstanding)')}">
                <div class="govuk-body">
                    You currently have:
                </div>
                <ul class="govuk-list">
                   <div th:if="${noActions}">
                        <li>
                            <div th:text="${actionsMsg}"> </div>
                        </li>
                    </div>
                    <div th:unless="${noActions}">
                        <li>
                            <div
                                th:replace="~{partials/actions :: restrictedActionLink(${actionsMsg}, ${user.functions}, 'NOT', false, '', @{/notifications/search?notification_type=A}, true)}"></div>
                        </li>
                    </div>
                    <div th:if="${noNotifications}">
                        <li>
                            <div th:text="${notificationsMsg}"></div>
                        </li>
                    </div>
                    <div th:unless="${noNotifications}">
                        <li>
                            <div
                                th:replace="~{partials/actions :: restrictedActionLink(${notificationsMsg}, ${user.functions}, 'NOT', false, '', @{/notifications/search?notification_type=N}, true)}"></div>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="govuk-body" th:unless="${showNotifications}">
                Action and notification information currently not available
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Support
            </h2>

            <p class="govuk-body"><strong>Case enquiries:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00) <br/>
                Alternatively you can 'Submit Case Query' within a case.</p>

            <p class="govuk-body"><strong>Technical Support:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00)<br />
                Email: <a href="mailto:online-support@justice.gov.uk">online-support@justice.gov.uk</a>
            </p>

            <p class="govuk-body">For non case related queries please create a general request.</p>

            <div th:replace="~{partials/actions :: restrictedActionLink('Create general request', ${user.functions}, 'PRC', true, 'govuk-button--secondary', @{/provider-requests/types}, false)}"></div>

        </div>
    </body>
</html>
