<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'home'})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <div id="main-content">
            <h1 class="govuk-heading-l">
                Client and Cost Management System
                <span class="govuk-caption-l">Civil legal aid applications, amendments and billing.</span>
            </h1>


            <a class="govuk-button" data-module="govuk-button" href="/">
                New Application
            </a>

            <!--  Notifications  -->
            <h2 class="govuk-heading-m">
                Your Actions and Notifications
            </h2>

            <div th:if="${notificationCounts != null}">
                <div class="govuk-body">
                    You currently have:
                </div>
                <ul class="govuk-list">
                    <li>
                        <a th:text="${notificationCounts.standardActions > 0 ? notificationCounts.standardActions + ' Outstanding Actions (' + (notificationCounts.overdueActions > 0 ? notificationCounts.overdueActions + ' overdue)' : 'none overdue)') : 'No Outstanding Actions'}" href="/"></a>
                    </li>
                    <li>
                        <a th:text="${'View Notifications (' + (notificationCounts.notifications > 0 ? notificationCounts.notifications + ' outstanding)' : 'none outstanding)')}" href="/"></a>
                    </li>
                </ul>
            </div>

            <div class="govuk-body" th:unless="${notificationCounts != null}">
                Action and notification information currently not available
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Support
            </h2>

            <p class="govuk-body"><strong>Case enquiries:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00) <br/>
                Alternatively you can 'Submit Case Query' within a case.</p>

            <p class="govuk-body"><strong>Technical Support:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00)<br />
                Email: <a href="mailto:online-support@justice.gov.uk">online-support@justice.gov.uk</a>
            </p>

            <p class="govuk-body">For non case related queries please create a general request.</p>

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/">
                Create General Request
            </a>

        </div>
    </body>
</html>