<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'home'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <div id="breadcrumbs"></div>
        <div id="main-content" style="padding-top: 40px;">
            <h1 class="govuk-heading-l">
                Client and Cost Management System
                <span class="govuk-caption-l">Civil legal aid applications, amendments and billing.</span>
            </h1>


            <a class="govuk-button" data-module="govuk-button" href="/application/office">
                New Application
            </a>

            <!--  Notifications  -->
            <h2 class="govuk-heading-m">
                Your Actions and Notifications
            </h2>

            <div th:if="${showNotifications}">
                <div class="govuk-body">
                    You currently have:
                </div>
                <ul class="govuk-list">
                    <li>
                        <a th:text="${actionsMsg}" href="/"></a>
                    </li>
                    <li>
                        <a th:text="${notificationsMsg}" href="/"></a>
                    </li>
                </ul>
            </div>

            <div class="govuk-body" th:unless="${showNotifications}">
                Action and notification information currently not available
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">
                Support
            </h2>

            <p class="govuk-body"><strong>Case enquiries:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00) <br/>
                Alternatively you can 'Submit Case Query' within a case.</p>

            <p class="govuk-body"><strong>Technical Support:</strong> 0300 200 2020 (Monday to Friday, 9:00 - 17:00)<br />
                Email: <a href="mailto:online-support@justice.gov.uk">online-support@justice.gov.uk</a>
            </p>

            <p class="govuk-body">For non case related queries please create a general request.</p>

            <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/">
                Create General Request
            </a>

        </div>
    </body>
</html>