<html th:fragment="layout" lang="en" class="govuk-template">

<head th:replace="~{partials/head :: head}"></head>

<body class="govuk-template__body">
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

<th:block th:replace="~{partials/header :: header}"></th:block>

<div th:replace="~{partials/phase-banner :: phase-banner}"></div>
<div class="govuk-width-container">

    <div th:if="${breadcrumbs != null}" th:replace="${breadcrumbs}"></div>

    <main class="govuk-main-wrapper" id="main-content" role="main" style="padding-top: 0px;">
        <th:block th:replace="${mainContent}">Default Main Content</th:block>
    </main>
</div>

<footer th:replace="~{partials/footer :: footer}"></footer>

<script type="module" src="/civil/govuk-frontend/all.js"></script>
<script type="module">
    import { initAll } from '/civil/govuk-frontend/all.js'
    initAll()
</script>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>
<script th:src="@{/ccms/caab.js}"></script>
<script src="/civil/moj-frontend/javascript/moj-frontend.min.js"></script>
<script>
    window.MOJFrontend.initAll();
</script>
</body>

</html>
