<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>UNSUPPORTED</title>
</head>
<body>
<div id="breadcrumbs" style="padding-top: 40px;"></div>
<div id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span th:text="${'Unsupported feature: '+ message}"></span>
      </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" >
        This feature is not currently supported.
      </p>
      <p class="govuk-body">
        Please click '<b>Home</b>' to return.
      </p>
    </div>
  </div>
</div>
</body>
</html>