<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs"></div>
  <div id="main-content" style="padding-top: 40px;">
    <form action="#"
          th:action="@{/application/{submissionType}/confirmed(submissionType=${submissionType})}" method="post">
      <h1 class="govuk-heading-l" th:text="#{submission.confirmation}"></h1>
      <p class="govuk-body-l" th:text="#{submission.successfullyProcessed}"></p>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button" th:text="#{site.next}"></button>
      </div>
    </form>
  </div>
</div>
</body>
</html>