<!DOCTYPE html>
<html th:fragment="layout" lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="mask-icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/govuk-mask-icon.svg}" color="blue">
    <link rel="apple-touch-icon" th:href="@{/webjars/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png}">
    <link th:href="@{/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.css}" rel="stylesheet">
    <link th:href="@{/ccms/ccms.css}" rel="stylesheet">
    <meta http-equiv="refresh" th:content="'5;'" />
    <title th:text="#{submission.title}"></title>
  </head>

  <body class="govuk-template__body">
  <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
  </script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link" th:text="#{submission.mainContent}"></a>

  <th:block th:replace="~{partials/header :: header}"></th:block>

    <div class="govuk-width-container">
      <div th:replace="~{partials/phase-banner :: phase-banner}"></div>

      <main class="govuk-main-wrapper" id="main-content" role="main">
        <h1 class="govuk-heading-l" th:text="#{submission.progress}"></h1>
        <p class="govuk-body-l" th:utext="#{submission.progress.description(${submissionType})}"></p>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="loader"></div>
            <p class="govuk-body govuk-!-text-align-centre" th:text="#{submission.submitting}"></p>
          </div>
        </div>
      </main>
    </div>
  <script src="/webjars/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
  </body>
</html>