<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Start new application</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a href="/civil/application/summary" class="govuk-back-link">Cancel and return to create application</a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/assessments/{assessment}/remove(assessment=${assessment})}" method="post">
      <h1 class="govuk-heading-l">
        Delete assessment
      </h1>
      <p class="govuk-body-l">
        Are you sure you want to delete this assessment record? Once deleted, you will have to re-enter all assessment data.
      </p>
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>