<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link th:href="@{/ccms/assessment-get.css}" rel="stylesheet">
  <link th:href="${interviewsCSS}" rel="stylesheet" type="text/css"/>
  <link th:href="${fontsCSS}" rel="stylesheet" type="text/css"/>
  <script th:src="${interviewsJS}" th:nonce="${cspNonce}"></script>
  <title th:text="${'LAA CCMS - ' + frameTitle}">LAA CCMS - Assessment</title>
</head>
<body class="opa-assessment-frame">
<div id="interview-wrapper" class="ccms-opa-interview-wrapper"></div>

<script th:nonce="${cspNonce}">
    function postFrameHeight() {
        var interviewWrapper = document.getElementById("interview-wrapper");

        if (!interviewWrapper) {
            return;
        }

        var wrapperBounds = interviewWrapper.getBoundingClientRect();
        var height = wrapperBounds.top + interviewWrapper.scrollHeight + 8;

        window.parent.postMessage({
            type: "opa-assessment-frame-height",
            height: height
        }, window.location.origin);
    }

    window.addEventListener("load", postFrameHeight);
    window.addEventListener("resize", postFrameHeight);

    if (window.ResizeObserver) {
        new ResizeObserver(postFrameHeight).observe(document.getElementById("interview-wrapper"));
    } else {
        window.setInterval(postFrameHeight, 500);
    }
</script>

<script th:inline="javascript" th:nonce="${cspNonce}">
    var el = document.getElementById("interview-wrapper");
    var resumeId = [[${resumeId}]];
    var checkpoint = [[${checkpoint}]];
    var val = [[${params}]];
    var user = [[${username}]];

    console.log("OPA Debug - owdUrl: " + [[${owdUrl}]]);
    console.log("OPA Debug - deploymentName: " + [[${deploymentName}]]);
    console.log("OPA Debug - checkpoint: " + checkpoint);
    console.log("OPA Debug - resumeId: " + resumeId);
    console.log("OPA Debug - user: " + user);

    var paramData = {
        "val": val,
        "user": user,
        "resume-id": resumeId
    };

    var owdUrl = [[${owdUrl}]];
    var deploymentName = [[${deploymentName}]];

    function doExit(url) {
        console.log("exiting to url: " + url);
        window.top.location = url;
    }

    if (checkpoint === 'START') {
        console.log("Starting interview");
        OraclePolicyAutomationEmbedded.StartInterview(el,
            owdUrl,
            deploymentName,
            "en-GB",
            undefined,
            paramData,
            undefined,
            undefined,
            doExit);
    } else {
        console.log("Resuming interview");
        OraclePolicyAutomationEmbedded.ResumeInterview(el,
            owdUrl,
            deploymentName,
            "en-GB",
            undefined,
            paramData,
            undefined,
            doExit);
    }
</script>
</body>
</html>
