<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.thymeleaf.org">
<head>
  <title th:text="#{service.name} + ' - ' + #{application.start}"></title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="${caseContext.isAmendment()} ? @{/amendments/summary} : @{/application/sections}" class="govuk-back-link" th:text="${caseContext.isAmendment()} ? #{site.returnToAmendmentSummary} : #{site.returnToApplication}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/{caseContext}/assessments/{assessment}/remove(caseContext=${caseContext.pathValue}, assessment=${assessment})}" method="post">
      <h1 class="govuk-heading-l">
        Delete assessment
      </h1>
      <p class="govuk-body-l">
        Are you sure you want to delete this assessment record? Once deleted, you will have to re-enter all assessment data.
      </p>
      <div class="govuk-button-group">
        <govuk:button type="submit" th:text="#{site.confirm}"/>
      </div>
    </form>
  </div>
</div>
</body>
</html>