<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Assessment</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a href="/civil/application/summary" class="govuk-back-link">Return to application summary</a>
  </div>
  <div id="main-content">
      <h1 class="govuk-heading-l">
        Confirmation
      </h1>
      <p class="govuk-body-l">
        Assessment completed.
      </p>
  </div>
</div>
</body>
</html>