<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:govuk="http://www.w3.org/1999/xhtml">
<head>
  <title th:text="|#{service.name} - #{request.title}|"/>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{${providerRequestBackUrl}}" class="govuk-back-link" th:text="#{request.return}"></a>
  </div>
  <div id="main-content">
    <h1 class="govuk-heading-l" th:text="#{request.upload}"></h1>
    <form action="#" th:action="@{${providerRequestSubmitUrl}}" method="post" th:object="${__${providerRequestEvidenceUploadFormAttribute}__}" enctype="multipart/form-data">
      <div th:replace="~{partials/document-upload :: uploadFormFields(${providerRequestBackUrl})}"></div>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" th:text="#{site.upload}"></button>
        <a th:href="@{${providerRequestBackUrl}}" class="govuk-link" th:text="#{site.back}"></a>
      </div>
    </form>
  </div>
</div>
</body>
</html>