<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:moj="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Provider request</title>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.cancelAndReturnToHome}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/provider-requests/details}" th:object="${providerRequestDetails}" method="post" enctype="multipart/form-data">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{request.general}"></span>
      <h1 class="govuk-heading-l" th:text="#{request.details}"></h1>

      <!--  For file upload, both true and false enable a different type of file upload. -->
      <div class="govuk-body-l"
           th:text="#{request.furtherDetails} + (*{claimUploadEnabled} ? '' : ' ' + #{request.documentsToUpload})">
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <dl class="govuk-body">
            <div th:replace="~{application/partials/summary-fragments :: summaryListDisplay('Request type', ${providerRequestFlow.requestTypeFormData.providerRequestTypeDisplayValue})}"></div>
          </dl>

          <div class="govuk-form-group" th:if="*{claimUploadEnabled}" th:classappend="${#fields.hasErrors('file')} ? 'govuk-form-group--error' : ''">
            <label class="govuk-label" th:for="fileUpload"
                   th:text="*{claimUploadLabel}">
            </label>
            <input class="govuk-file-upload" id="file" name="file" type="file">
          </div>

          <th:block th:each="option : ${providerRequestDynamicForm.dataItems}">
            <div class="govuk-form-group"
                 th:unless="${option.type == 'DAT'}"
                 th:classappend="${#fields.hasErrors('dynamicOptions[__${option.code}__].fieldValue')} ? 'govuk-form-group--error' : ''">

              <label class="govuk-label"
                     th:for="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                     th:text="(${option.mandatoryFlag} ? ${option.label} : #{site.optional(${option.label})})">
              </label>

              <span th:if="${#fields.hasErrors('dynamicOptions[__${option.code}__].fieldValue')}"
                    th:errors="*{dynamicOptions[__${option.code}__].fieldValue}" class="govuk-error-message">
              </span>

              <th:block  th:if="${option.type == 'LOV'}">
                <input type="hidden" th:id="'dynamicOptions[' + ${option.code} + '].fieldValueDisplayValue'"
                       th:name="'dynamicOptions[' + ${option.code} + '].fieldValueDisplayValue'"
                       th:value="*{dynamicOptions[__${option.code}__].fieldValueDisplayValue}">
                <select class="govuk-select"
                        data-module="govuk-select"
                        th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                        th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                        th:errorclass="govuk-select--error"
                        th:attr="onchange=|document.getElementById('dynamicOptions[${option.code}].fieldValueDisplayValue').value = this.options[this.selectedIndex].text;|">
                  <option value="" th:text="#{site.select}"></option>
                  <option th:each="item : ${__${option.code}__}"
                          th:value="${item['code']}"
                          th:text="${item['description']}">
                  </option>
                </select>
              </th:block>
              <th:block th:if="${option.type == 'FTS'}">
                <input class="govuk-input govuk-input--width-20"
                       type="text"
                       data-module="govuk-input"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       th:errorclass="govuk-select--error">
              </th:block>
              <th:block th:if="${option.type == 'FTL'}">
                <input class="govuk-input"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       type="text"
                       data-module="govuk-input"
                       th:errorclass="govuk-select--error">
              </th:block>
              <th:block th:if="${option.type == 'AMT'}">
                <div class="govuk-input__wrapper">
                  <div class="govuk-input__prefix" aria-hidden="true">£</div>
                  <input class="govuk-input govuk-input--width-10"
                         th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                         th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                         type="text" spellcheck="false"
                         th:errorclass="govuk-select--error">
                </div>
              </th:block>
              <th:block th:if="${option.type == 'INT'}">
                <input class="govuk-input govuk-date-input__input govuk-input--width-10"
                       th:id="'dynamicOptions[' + ${option.code} + '].fieldValue'"
                       th:field="*{dynamicOptions[__${option.code}__].fieldValue}"
                       type="text"
                       inputmode="numeric"
                       maxlength="10"
                       th:errorclass="govuk-select--error">
              </th:block>
            </div>
            <th:block th:if="${option.type == 'DAT'}">
              <moj:datepicker
                  th:id="'dynamicOptions[__${option.code}__].fieldValue'"
                  th:name="'dynamicOptions[__${option.code}__].fieldValue'"
                  th:label="${option.mandatoryFlag} ? ${option.label} : #{site.optional(${option.label})}"
                  th:hint="#{site.dateHint}"
                  th:value="*{dynamicOptions[__${option.code}__].fieldValue}"
                  th:errorMessage="${#fields.hasErrors('dynamicOptions[__${option.code}__].fieldValue') ? #fields.errors('dynamicOptions[__${option.code}__].fieldValue').getFirst() : ''}">
              </moj:datepicker>
            </th:block>
          </th:block>

          <div th:replace="~{partials/forms :: largeTextInput('additionalInformation', (*{isAdditionalInformationPromptRequired} ? *{additionalInformationLabel} : #{site.optional(*{additionalInformationLabel})}), 8000)}">
          </div>

        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <th:block th:unless="${documentsUploaded.isEmpty()}" class="govuk-form-group">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--m">Documents</caption>
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">File</th>
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <input type="hidden" name="documentIdToDelete" id="documentIdToDelete" />
              <tr class="govuk-table__row" th:each="uploadedDoc: ${documentsUploaded}" th:unless="${documentsUploaded.isEmpty()}">
                <td class="govuk-table__cell" th:text="${uploadedDoc.fileName}"></td>
                <td class="govuk-table__cell" th:text="${uploadedDoc.documentType.displayValue}"></td>
                <td class="govuk-table__cell">
                  <div class="documentDescriptionMore">
                    <span th:text="${uploadedDoc.description}"></span>
                  </div>
                  <div>
                    <span class="govuk-body moreLess">more</span>
                  </div>
                </td>
                <td class="govuk-table__cell" th:text="${#dates.format(uploadedDoc.auditTrail.created, 'dd/MM/yyyy')}"></td>
                <td class="govuk-table__cell">
                  <button type="submit" name="action" value="document_delete" class="govuk-body ccms-button-as-link" th:onclick="|document.getElementById('documentIdToDelete').value='${uploadedDoc.id}'; this.form.submit();|">
                    Remove
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <button type="submit" name="action" value="document_upload" class="govuk-button govuk-button--secondary">
              Add another document
            </button>
          </th:block>



          <th:block th:unless="*{claimUploadEnabled}" >
            <div th:if="${documentsUploaded.isEmpty()}" class="govuk-form-group">
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Documents</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Documents</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell">
                    <button type="submit" name="action" value="document_upload" class="govuk-body ccms-button-as-link">
                      Document upload
                    </button>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </th:block>

          <div class="govuk-button-group">
            <button type="submit" name="action" value="submit" class="govuk-button" data-module="govuk-button">
              Submit
            </button>
            <a class="govuk-link" th:href="@{/provider-requests/types}">
              Back
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>