<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'actions'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="|#{service.name} - #{request.title}|"/>
</head>
<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a th:href="@{/home}" class="govuk-back-link" th:text="#{site.cancelAndReturnToHome}"></a>
  </div>
  <div id="main-content">
    <form action="#" th:action="@{/provider-requests/types}" th:object="${providerRequestTypeDetails}" method="post">
      <div th:replace="~{partials/error-summary :: error-summary}"></div>
      <span class="govuk-caption-l" th:text="#{request.general}"></span>
      <h1 class="govuk-heading-l" th:text="#{request.type}"></h1>
      <div class="govuk-body-l" th:text="#{request.select}"></div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div th:replace="~{partials/forms :: dropdownWithDisplayValue('providerRequestType', #{request.type}, ${providerRequestTypes}, 'type', 'name')}"></div>
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" th:text="#{site.next}"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>