<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(title=~{::title},mainContent=~{::#main-content},pageCategory=${'cases'},breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>LAA CCMS - Create application</title>

<body>
<div class="govuk-width-container">
  <div id="breadcrumbs">
    <a href="/application/summary" class="govuk-back-link">Return to create application</a>
  </div>
  <div id="main-content">
    <h1 class="govuk-heading-l">
      Upload a document
    </h1>

    <form action="#" th:action="@{/application/evidence/add}" method="post" th:object="${evidenceUploadForm}" enctype="multipart/form-data">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          We can only accept PDF, RTF, DOCX or TIFF files that are less than 8 MB.
        </strong>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="file">
          Choose file
        </label>
        <input class="govuk-file-upload" id="file" name="file" type="file">
      </div>

      <div th:replace="~{partials/forms :: dropdown('documentType', 'Document type', ${evidenceTypes.content}, 'code', 'description', false)}"></div>
      <div th:replace="~{partials/forms :: largeTextInput('documentDescription', 'Document description (Maximum 255 characters allowed)')}"></div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
            Which evidence documents does this file contain?
          </legend>
          <p class="govuk-hint">
            Select all that apply
          </p>
          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            <th:block th:each="evidence : ${evidenceRequired}" th:unless="${evidenceRequired.isEmpty()}">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input"
                         th:id="${'evidenceCB_' + evidenceStat.count}"
                         th:name="evidenceTypes"
                         th:value="${evidence.code}"
                         type="checkbox"/>
                  <label class="govuk-label govuk-checkboxes__label" th:for="${'evidenceCB_' + evidenceStat.count}" th:text="${evidence.description}"></label>
                </div>
            </th:block>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Upload
      </button>

    </form>

  </div>
</div>
</body>
</html>